@charset "utf-8";



/* --------------------------------------------------------- 상단 검색폼 ------------------------------------------------------------------ */
/* search form */
.search-form {background: #f2f2f2;}
.search-form dl {display: table; width: 100%; border-top: 1px solid #fff;}
.search-form dl dt,
.search-form dl dd {display: table-cell; vertical-align: middle; padding: 5px 10px; text-align: left;}
.search-form dl dt {font-size: 13px; font-size: 0.812rem; font-weight: 700; min-width: 50px; width: 25%;}
.search-form dl dd label {display: inline-block; line-height: 0; position: relative; top: -1px; margin: 6px 0;}

.search-form .btn-wrap {background: #fff; padding: 5px; text-align: center; margin-top: 0;}
/* --------------------------------------------------------- //상단 검색폼 ------------------------------------------------------------------ */



/* --------------------------------------------------------- 예약관리 > 목록 ------------------------------------------------------------------ */
/* container */
ul.rese-list li {margin-top: 8px;}
ul.rese-list li:first-child {margin-top: 0;}


/* 예약번호 */
.rese-number {text-align: center;}
.rese-number p {line-height: 22px;}
.rese-number p.msg {font-size: 12px;}
.rese-number .btn-wrap {margin-top: 10px;}


/* 상품상세 */
dl.rese-detail dt {font-size: 13px; font-weight: 700; margin-bottom: 6px;}
dl.rese-detail dd {font-size: 12px;}
dl.rese-detail dd p {line-height: 16px !important;}
/* --------------------------------------------------------- //예약관리 > 목록 ------------------------------------------------------------------ */



/* --------------------------------------------------------- 예약관리 > 상세 ------------------------------------------------------------------ */
/* layer popup contents */
.int-price input[type="text"] {width: 88%; width: calc(100% - 20px);}


/* 패키지 이용내역 상세 */
.int-memoWrap {margin-top: 30px;}
.int-memoWrap .table-row > tbody > tr > th {text-align: center;}
.int-memoWrap ul.list-style1 li .date {font-weight: 700;}
/* --------------------------------------------------------- //예약관리 > 상세 ------------------------------------------------------------------ */
