<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>탐나오</title>
</head>

<body>
	<table style="width: 740px; margin: 0 auto; text-decoration: none; border-collapse: collapse; font-family: 'NanumBarunGothic', 'Dotum', 'Helvetica', 'sans-serif';">
		<!-- thead -->
		#parse("mailTemplate/header2.vm")

		<tbody>
			<tr>
				<td style="margin: 0; padding: 0;">
					<img src="${domain}/images/web/mail2/temp/typeC/top-title.png" alt="집에서제주를느껴보세요" style="display: block;">
					<!-- 할인쿠폰 -->
					<div style="background-color: #dfe5f1; padding: 35px;">
						<div style="background-color: #ffffff; padding: 60px 40px;">
							<div style="text-align: center; margin-bottom: 15px;">
								<img src="${domain}/images/web/mail2/temp/typeB/sale-coupon-1.png" alt="2% 할인쿠폰">
							</div>
							<div style="font-size: 15px; line-height: 28px;">
								<p style="text-align: center; color: #666;">
									<img src="${domain}/images/web/mail2/temp/icon/bullet-warning.png" alt="주의" style="vertical-align: middle; padding-right: 3px;">
									쿠폰 발급일로부터 다음날(23시 59분) 까지 사용 가능합니다.
								</p>
							</div>
							<div style="margin-top: 30px; text-align:center;">
								<a href="${domain}/web/mypage/couponList.do" target="_blank">
									<img src="${domain}/images/web/mail2/temp/btn/tamnao-more.png" alt="탐나오 바로가기">
								</a>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>

		<!-- tfoot -->
		#parse("mailTemplate/footer.vm")
	</table>
</body>
</html>