<tfoot>
    <tr>
        <td style="font-size: 12px; height: 45px; background-color: #e6e6e6; color: #666; padding: 0 20px; line-height: 45px;">
            <ul style="list-style:square; padding-left: 20px;">
                <li>
                    본 메일은 탐나오에서 발송한 발신전용 메일입니다. 문의사항이 있으시면
                    <a href="${domain}/web/coustmer/qaList.do" style="font-weight: bold; color: #ef2011; text-decoration: none;" target="_blank">고객센터</a>로 문의해 주십시오.
                </li>
                <li style="line-height: 20px;">
                    본 메일은 ${dateTool.get("yyyy년 M월 dd일")} 기준 회원님의 탐나오 이메일 수신동의 여부를 확인한 결과, 회원님께서 수신을 동의하셨기에
                    발송됐습니다. 수신을 원치 않으시면 <a href="${domain}/web/mypage/viewUpdateUser.do?mode=user" style="color: #666; text-decoration: none;" target="_blank">[수신거부]</a>를 클릭해주십시오.
                </li>
                <li>
                    메일 내 상품의 경우 시점 변화에 따라 상품정보 및 가격이 변동될 수 있습니다.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 15px; background-color: #f7f7f7;">
            <table style="font-size: 12px; width: 100%; line-height: 18px;" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td style="border-bottom: 1px solid #dbdbdb; padding: 15px 0; text-align: center;">
                        <a href="${domain}/web/etc/introduction.do" style="color: #666; padding: 0 10px; text-decoration: none;" target="_blank">회사소개</a>
                        <span style="color: #c9c9c9;">ㅣ</span>
                        <a href="${domain}/web/etc/buyToS.do" style="color: #666; padding: 0 10px; text-decoration: none;" target="_blank">이용약관</a>
                        <span style="color: #c9c9c9;">ㅣ</span>
                        <a href="${domain}/web/coustmer/viewInsertCorpPns.do" style="color: #666; padding: 0 10px; text-decoration: none;" target="_blank">입점/제휴안내</a>
                        <span style="color: #c9c9c9;">ㅣ</span>
                        <a href="${domain}/web/etc/personalData.do" style="color: #666; padding: 0 10px; text-decoration: none;" target="_blank">개인정보취급방침</a>
                        <span style="color: #c9c9c9;">ㅣ</span>
                        <a href="${domain}/web/coustmer/qaList.do" style="color: #666; padding: 0 10px; text-decoration: none;" target="_blank">고객센터</a>
                        <span style="color: #c9c9c9;">ㅣ</span>
                        <a href="https://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=6168204092" style="color: #666; padding: 0 10px; text-decoration: none;" target="_blank">사업자정보확인</a>
                    </td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #fff; border-bottom: 1px solid #dbdbdb; padding: 23px 0 20px 23px;">
                        <table style="font-size: 12px; line-height: 18px;" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="width: 180px; padding-right: 22px; text-align: center;" rowspan="3">
                                    <a href="${domain}" target="_blank">
                                        <img src="${domain}/images/web/mail/footer-logo.png" width="115" height="55" style="vertical-align: top;" alt="제주여행할인은? 탐나오">
                                    </a>
                                </td>
                                <td style="font-size: 11px; color: #666;">
                                    제주특별자치도관광협회 <span style="color: #ccc;">ㅣ</span> 대표이사 : 강동훈 <span style="color: #ccc;">ㅣ</span> 법인등록번호 : 220121-0000107<br>
                                    사업자등록번호 : 616-82-04092 <span style="color: #ccc;">ㅣ</span> 통신판매업번호 : 제2018-제주아라-0049호<br>
                                    주소 : 제주시 첨단로 213-65 제주종합비즈니스센터 3층
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;">
                                    개인정보관리책임자 : 김대철 <span style="color: #ccc;">ㅣ</span> 고객센터 <span style="font-size: 14px; font-weight: bold;">1522-3454</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 10px; color: #999; padding-top: 11px;">
                                    Copyright 2018. 제주특별자치도관광협회 All Rights Reserved.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #fff; padding: 15px 0 15px 15px;">
                        <img src="${domain}/images/web/mail/ban-award.png" alt="인증로고 배너">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</tfoot>