<thead>
    <!-- LOGO -->
    <tr>
        <th style="padding: 0; text-align:center;">
            <a href="${domain}"><img src="${domain}/images/web/mail2/head/logo-1.png" width="740" height="69" alt="탐나오"></a>
        </th>
    </tr>
    <!-- GNB -->
    <tr>
        <td style="padding: 0;">
            <table style="width: 740px; text-align: center; margin: 0 auto;">
                <tr>
                    <td style="font-size: 16px; line-height: 30px; font-weight: bold; ">
                        <div style="border-bottom: 1px solid #dcdcdc; padding: 10px 0 15px; letter-spacing: -0.5px; ">
                            <a href="${domain}/web/av/mainList.do" style="padding: 0 8px; text-decoration: none; color: #202020;" target="_blank">항공</a>
                            <span style="font-size:9px; color:#c9c9c9;">ㅣ</span>
                            <a href="${domain}/web/sp/vesselList.do" style="padding: 0 8px; text-decoration: none; color: #202020;" target="_blank">선박</a>
                            <span style="font-size:9px; color:#c9c9c9;">ㅣ</span>
                            <a href="${domain}/web/stay/jeju.do" style="padding: 0 8px; text-decoration: none; color: #202020;" target="_blank">숙소</a>
                            <span style="font-size:9px; color:#c9c9c9;">ㅣ</span>
                            <a href="${domain}/web/rentcar/car-list.do" style="padding: 0 8px; text-decoration: none; color: #202020;" target="_blank">렌터카</a>
                            <span style="font-size:9px; color:#c9c9c9;">ㅣ</span>
                            <a href="${domain}/web/tour/jeju.do?sCtgr=C200" style="padding: 0 8px; text-decoration: none; color: #202020;" target="_blank">관광지/레저 할인쿠폰</a>
                            <span style="font-size:9px; color:#c9c9c9;">ㅣ</span>
                            <a href="${domain}/web/sv/mainList.do" style="padding: 0 8px; text-decoration: none; color: #202020;" target="_blank">제주특산/기념품</a>
                        </div>
                        <div style="padding: 15px 0;  letter-spacing: -0.5px;">
                            <a href="${domain}/web/tour/jeju.do?sCtgr=C270" style="padding: 0 13px; text-decoration: none; color: #202020;" target="_blank">제주마을체험</a>
                            <span style="font-size:9px; color:#c9c9c9;">ㅣ</span>
                            <a href="${domain}/web/tour/jeju.do?sCtgr=C300" style="padding: 0 13px; text-decoration: none; color: #202020;" target="_blank">맛집</a>
                            <span style="font-size:9px; color:#c9c9c9;">ㅣ</span>
                            <a href="${domain}/web/sp/packageList.do" style="padding: 0 13px; text-decoration: none; color: #202020;" target="_blank">여행사상품</a>
                            <span style="font-size:9px; color:#c9c9c9;">ㅣ</span>
                            <a href="${domain}/web/evnt/prmtPlanList.do" style="padding: 0 13px; text-decoration: none; color: #202020;" target="_blank">기획전</a>
                            <span style="font-size:9px; color:#c9c9c9;">ㅣ</span>
                            <a href="${domain}/web/evnt/promotionList.do" style="padding: 0 13px; text-decoration: none; color: #202020;" target="_blank">이벤트</a>
                            <span style="font-size:9px; color:#c9c9c9;">ㅣ</span>
                            <a href="${domain}/web/bbs/bbsList.do?bbsNum=NOTICE" style="padding: 0 13px; text-decoration: none; color: #202020;" target="_blank">공지사항</a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</thead>