 <thead>
    <tr>
        <th style="padding:0;">
            <a href="${domain}" target="_blank">
                <img src="${domain}/images/web/mail/top-2.png" width="740" height="69" alt="탐나오">
            </a>
        </th>
    </tr>
 </thead>