<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>탐나오</title>
</head>

<body>
    <table style="width: 740px; margin: 0 auto; text-decoration: none; border-collapse: collapse; font-family: 'NanumBarunGothic', 'Dotum', 'Helvetica', 'sans-serif';">
        <!-- thead -->
        #parse("mailTemplate/header.vm")

        <tbody>
            <tr>
                <td style="width: 740px; padding-top: 30px; text-align: center;">
                    <img src="${domain}/images/web/mail/top-icon6-1.png" alt="예약완료">
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <p style="font-size: 26px; color: #333435; margin: 0; padding-top: 30px; letter-spacing: -0.3px;">
                        탐나오 상품 예약 완료
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 style="font-size: 14px; margin: 20px 0 10px;">예약 정보</h5>
                    <table style="width: 100%; font-size: 12px; border-collapse: collapse;">
                        <colgroup>
                            <col width="20%">
                            <col width="30%">
                            <col width="20%">
                            <col width="30%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">예약자명</th>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">$rsvInfo.rsvNm</td>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">사용자명</th>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">$rsvInfo.useNm</td>
                            </tr>
                            <tr>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">예약자 이메일</th>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">$rsvInfo.rsvEmail</td>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">사용자 이메일</th>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">$rsvInfo.useEmail</td>
                            </tr>
                            <tr>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">예약자 전화번호</th>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">$rsvInfo.rsvTelnum</td>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">사용자 전화번호</th>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">$rsvInfo.useTelnum</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 style="font-size: 14px; margin: 20px 0 10px;">상품 정보</h5>
                    #foreach($order in $orderList2)
                    <table style="width: 100%; font-size: 12px; border-collapse: collapse; margin-bottom:20px;">
                        <colgroup>
                            <col width="20%">
                            <col width="30%">
                            <col width="20%">
                            <col width="30%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">예약번호</th>
                                <td colspan="3" style="padding: 15px; border:1px solid #dcdcdc;">$rsvInfo.rsvNum - $order.prdtRsvNum</td>
                            </tr>
                            <tr>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">상품명</th>
                                <td colspan="3" style="padding: 15px; border:1px solid #dcdcdc;">$order.prdtNm</td>
                            </tr>
                            <tr>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">상품정보</th>
                                <td colspan="3" style="padding: 15px; border:1px solid #dcdcdc;">$order.prdtInf</td>
                            </tr>
                            <tr>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">상품금액</th>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">$numberTool.format("integer", $order.nmlAmt)원</td>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">결제금액</th>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">$numberTool.format("integer", $order.saleAmt)원</td>
                            </tr>
                            <tr>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">할인금액</th>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">$numberTool.format("integer", $order.disAmt)원</td>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">정산금액</th>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">$numberTool.format("integer", $order.preAdjAmt)원</td>
                            </tr>
                            <tr>
                                <th style="background: #f4f4f4; padding: 10px; border:1px solid #dcdcdc;">예약일시</th>
                                <td colspan="3" style="padding: 15px; border:1px solid #dcdcdc;">$rsvInfo.regDttm</td>
                            </tr>
                        </tbody>
                    </table>
                    #end
                </td>
            </tr>
            <tr>
                <td style="padding: 40px 0 60px 0; text-align: center;">
                    <a href="${domain}/mas" target="_blank"><img src="${domain}/images/web/mail/order.png" alt="주문상품 확인하기"></a>
                </td>
            </tr>
        </tbody>

        <!-- tfoot -->
        #parse("mailTemplate/footer.vm")
    </table>
</body>
</html>