<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>탐나오</title>
</head>

<body>
    <table style="width: 740px; margin: 0 auto; text-decoration: none; border-collapse: collapse; font-family: 'NanumBarunGothic', 'Dotum', 'Helvetica', 'sans-serif';">
        <!-- thead -->
        #parse("mailTemplate/header.vm")

        <tbody>
            <tr>
                <td style="width: 740px; padding-top: 30px; text-align: center;">
                    <img src="${domain}/images/web/mail/icon3-2.png" alt="취소완료">
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <p style="font-size: 26px; color: #333435; margin: 0; padding-top: 30px; letter-spacing: -0.3px;">
                        탐나오 상품 환불처리 완료
                    </p>
                    <p style="font-size: 16px; color: #939393; margin:0; padding-top: 16px; line-height: 22px; letter-spacing: 0; border-bottom: 1px dashed #c2c2c2; padding-bottom: 35px;">
                        더욱 노력하는 탐나오 되겠습니다. 감사합니다.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 style="font-size: 14px; margin: 20px 0 10px;">환불 정보</h5>
                    <table style="width: 100%; font-size: 12px; border-collapse: collapse;">
                        <thead>
                            <tr style="background: #f4f4f4; border:1px solid #dcdcdc;">
                                <th style="padding: 10px 5px;">번호</th>
                                <th style="border:1px solid #dcdcdc;">내용</th>
                                <th>금액</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="border:1px solid #dcdcdc;">
                                <td style="text-align: center; font-weight: bold;">$rsvInfo.rsvNum</td>
                                <td style="padding: 15px; border:1px solid #dcdcdc;">
                                    <ul style="margin:0; padding:0; list-style: none;">
                                        <li style="padding:6px 0;">
                                            <h5 style="font-size:12px; margin: 0;">[$order.corpNm] <span style="color: #FE434C;">$order.prdtNm</span></h5>
                                            <p style="margin:5px 0 0 0; font-size: 12px;">$order.prdtInf</p>
                                        </li>
                                    </ul>
                                </td>
                                <td style="text-align: center; border:1px solid #dcdcdc; font-weight: bold;">$numberTool.format("integer", $order.cancelAmt)원</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 40px 0; text-align: center;">
                    <a href="${domain}/web/mypage/rsvList.do" target="_blank"><img src="${domain}/images/web/mail/reservation-1.png" alt="취소확인 바로가기"></a>
                </td>
            </tr>
        </tbody>

        <!-- tfoot -->
        #parse("mailTemplate/footer.vm")
    </table>
</body>
</html>