/* form */
input[type="text"], input[type="password"], input[type="tel"], input[type="number"], input[type="email"], input[type="search"], textarea {
    -webkit-appearance: none;
    /* iPhone 그림자 제거 */
}
input[type="text"], input[type="password"], input[type="tel"], input[type="number"], input[type="email"], input[type="search"], input[type="url"], select {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    font-size: 14px;
    color: #333333;
    border: 1px solid #cfcfcf;
    border-radius: 0;
    padding: 0 10px;
    overflow: hidden;
}


/* input placeholder all */
::-webkit-input-placeholder {
    color: #9b9b9b !important;
}

/* 탭패널 (nav tabs) */
.nav-tabs1 {
    margin: 0;
}
.nav-tabs1 .tabPanel {
    display: none;
    position: relative;
}

/*.nav-tabs1 ul.nav-menu {overflow: hidden;}*/
.nav-tabs1 ul.nav-menu li {
    display: inline-block;
    margin-right: 5px;
    background: #fff;
    border: 1px solid #cfcfcf;
    transition: all .3s ease-out;
}

.nav-tabs1 ul.nav-menu li a {
    display: table-cell;
    vertical-align: middle;
    color: #59607d;
    text-align: center;
    font-size: 15px;
    color: #666666;
    width: 128px;
    height: 48px;
}

.nav-tabs1 ul.nav-menu li.active a {
    color: #333333;
    font-family: "NotoSans M"
}

.comm-layer-popup {
    position: fixed;
    left: 25%;
    top: 25%;
    margin-top: -200px;
    z-index: 100;
    display: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}