@charset "utf-8";

/* -- wrap -- */
address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}
#ag_wrap {
    position: relative;
    min-height: 400px;
}

number-ticker
/* -- frame.css . -- */
#_header .gnb2 .box__service-all li>a {padding: 0 1.65em;}
#_header .gnb2 .box__service-all li>a .new {left: 110px;}


/* -- svmain-renewal -- */
.svmain_topslide ._svmain_topslide_list {
    position: relative;
    min-width: 1200px;
    height: 420px;
    background-color: #fff;
}


/* -- lnb(snb) -- */
.sv_lnb {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    margin-left: -50px;
    white-space: nowrap;
    -webkit-transform: translatex(-550px);
    -ms-transform: translatex(-550px);
    -o-transform: translatex(-550px);
    transform: translatex(-550px);
}
.sv_lnb .blinds {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
    clip: rect(0,0,0,0);
}
.sv_lnb .sv_lnb_ul_0 {width: 200px;}
.sv_lnb .sv_lnb_li {
    float: left;
    position: relative;
    height: 42px;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    box-sizing: border-box;
}
.sv_lnb .sv_lnb_li:last-child {border: none;}
.sv_lnb_btn_0 {
    display: block;
    transition: all 0.5s;
    width: 220px;
    height: 100%;
    padding-left: 20px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sv_lnb_btn_0:hover {
    color: #fff;
    background-color: #e8202e;
}
.sv_lnb_btn_0 .sv_lnb_text {
    display: inline-block;
    overflow: hidden;
    height: 100%;
    padding-left: 9px;
    color: #16181a;
    font-size: 0.82rem;
    font-family: "roboto";
    vertical-align: top;
    line-height: 45px;
    letter-spacing: -.2px;
    white-space: nowrap;
}


/* -- lnb(snb)-icon -- */
.sv_lnb_btn_0 .jb-a .jb-a__size {
    display: inline-block;
    width: 18px;
}
.sv_lnb_btn_0 .jb-a {position: relative;}
.sv_lnb_btn_0 .jb-a .jb-b {
    position: relative;
    top: 6px;
}
.livestock .sv_lnb_btn_0 .jb-a .jb-b{right: 2px;}
.fruit .sv_lnb_btn_0 .jb-a .jb-b{right: 0;}
.sv_lnb_btn_0:hover .jb-a .jb-b {display: none;}
.sv_lnb_btn_0 .jb-a .jb-c {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}


/* -- lnb(snb)-icon__hover -- */
.sv_lnb_btn_0:hover .jb-a .jb-c {
    position: absolute;
    top: 13px;
    display: block;
    transition: opacity 0.2s linear;
    opacity: 1;
}
.tea .sv_lnb_btn_0:hover .jb-a .jb-c {top: 11px;}
.livestock .sv_lnb_btn_0:hover .jb-a .jb-c {left: -2px;}
.fruit .sv_lnb_btn_0:hover .jb-a .jb-c {top: 12px; left: 0;}
.life .sv_lnb_btn_0:hover .jb-a .jb-c {top: 11px;}

.sv_lnb_btn_0:hover .jb-a .sv_lnb_text {color: #fff;}



/* -- local navigation bar -- */
.sv_lnb_ul_0 > li:hover .sv_lnb_ul_1 {
    opacity: 1;
    visibility: visible;
}
.sv_lnb_ul_1 {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 200px;
    background: #fff;
    opacity: 0;
    transition: all 0.15s ease-in;
}
.sv_lnb_ul_1 li {padding: 0 16px;}
.sv_lnb_ul_1 li a {
    text-decoration: none;
    width: 108px;
    padding: 8.3px 0;
    border-bottom: 1px solid #ddd;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    text-align: center;
}
.sv_lnb_ul_1 .sv_lnb_btn_1 {
    display: block;
    height: 27px;
    font-family: roboto;
}
.sv_lnb_btn_1 .sv_lnb_text {
    overflow: hidden;
    display: block;
    width: 111px;
    height: 27px;
    font-size: 0.85rem;
    line-height: 27px;
    color: #16181a;
    letter-spacing: -.2px;
    text-overflow: ellipsis;
}
.sv_lnb_btn_1 .sv_lnb_text:hover {color: #e8202e;}


/* -- topslide_swiper container -- */
#ag_wrap .swiper-container {border-bottom: 1px solid #ededed;}
.mySlides.viewPoint {display: block;}
.mySlides {
    display: none;
    position: relative;
    left: 50%;
    margin-left: -955px;
}
.caption-container {display: none}


/* -- container ctrl -- */
.svmain_topslide_nav {
    position: relative;
    top: 0;
    right: 0;
    width: 1199px;
    margin: 0 auto;
}
.svmain_topslide_nav {
    position: relative;
    top: 0;
    right: 0;
    width: 1199px;
    margin: 0 auto;
}
.svmain_topslide_nav .pass_over {
    z-index: 1;
    right: 2%;
    height: 48px;
    border: 1px solid #ddd;
}
.svmain_topslide_ctrl {
    position: relative;
    width: 1199px;
    height: 49px;
    border-top: 0;
    box-sizing: border-box;
}
.svmain_topslide_ctrl .svmain_topslide_pager {
    display: table;
    table-layout: fixed;
    width: 1099px;
}
.svmain_topslide_ctrl .svmain_topslide_pager div {
    display: table-cell;
    position: relative;
    width: 137px;
    height: 49px;
    color: #3c3f47;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.svmain_topslide_ctrl .svmain_pager_tx {
    overflow: hidden;
    padding: 0 9.5px;
    border-right:  1px solid #ddd;
    font-size: 0.8rem;
    font-family: "roboto";
    line-height: 49px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.svmain_topslide_ctrl .svmain_pager_tx span {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    width: 144px;
    height: 49px;
}
.svmain_pager_tx .demo {color: #3c3f47;}
.svmain_pager_tx .active, svmain_pager_tx .demo .bar:hover {
    display: block;
    position: relative;
    bottom: 32px;
    margin: 0px -10px;
    height: 5px;
    color: #e8202e;
    background: #e8202e;
    transition: all 0.15s ease-in;
}


/* -- arrow ctrl -- */
.arrow_ctrl {
    position: absolute;
    top: -1px;
    right: 50px;
}
.svmain_topslide_ctrl .swiper-button-prev {
    top: 0;
    left: -50px;
    width: 49px;
    height: 49px;
    background-image: url("../../images/web/sv-intro/prev.png");
    background-size: 49px 49px;
}
.arrow_ctrl .prev, .arrow_ctrl .next {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.svmain_topslide_ctrl .swiper-button-next {
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url("../../images/web/sv-intro/next.png");
    background-size: 49px 49px;
}
.svmain_topslide_prev, .swiper-button-next {
    z-index: 4;
    position: absolute;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.svmain_topslide_ctrl .swiper-button-prev:hover {
    background-image: url("../../images/web/sv-intro/prev_hover.png");
    transition: 0.4s;
}
.svmain_topslide_ctrl .swiper-button-next:hover {
    background-image: url("../../images/web/sv-intro/next_hover.png");
    transition: 0.4s;
}


/* -- framing introduction.. -- */
.framing--introd .tit {
    width: 100%;
    color: #000;
    font-size: 1.5rem;
    font-family: "roboto";
    font-weight: 700;
    letter-spacing: -1.0px;
    text-align: center;
}
.framing--introd .tit:before {
    display: inline-block;
    width: 1px;
    height: 1px;
    margin: 19px 5px;
    border: 3px solid #fcc800;
    border-radius: 50%;
    content: "";
}
.framing--introd .tit > span:before {
    z-index: -1;
    position: absolute;
    width: 123px;
    height: 10px;
    margin-top: 40px;
    background-color: #fcc800;
    content: "";
}
.certification {
    display: flex;
    justify-content: space-around;
}
.certification .content {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin: 0 14px;
}
.certification .content:first-of-type {margin: 0;}
.certification .content:last-of-type {margin: 0;}
.business--info {
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: #16181a;
}
.business--info .article {
    padding-left: 20px;
    font-family: "roboto";
    line-height: 23px;
}
.business--info .article:after {
    display: inline-block;
    width: 32px;
    height: 7px;
    margin-left: 40px;
    background: url("../../images/web/agriculture/arrow.png") no-repeat;
    content: "";
}
.business--info .article > h2 {
    color: #000;
    font-size: 1rem;
}
.business--info .article > span {
    color: #3c3f47;
    font-size: 0.8rem;
}


/* -- certification / 레이어팝업 -- */
.comm-layer-popup_fixed .certification-wrap {
    position: relative;
    width: 725px;
    height: 740px;
    margin-top: -370px;
    margin-left: -362.5px;
    background: #fff;
    border-radius: 8px;
}
.comm-layer-popup_fixed .certification-wrap .close {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 725px;
    height: 60px;
    border-radius: 0 0 5px 5px;
    background-color: #517bda;
    color: #fff;
    font-size: 1.0rem;
    font-weight: normal;
}
.comm-layer-popup_fixed .certification-wrap .hyper-link {
    height: 100px;
    font-family: "Roboto";
    font-size: 0.8rem;
    text-align: center;
}
.comm-layer-popup_fixed .certification-wrap .hyper-link a {
    display: block;
    width: 170px;
    height: 45px;
    margin: 0 auto;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    background-image: url("../../images/web/button/arrow2.png");
    background-repeat: no-repeat;
    background-position: 151px 18px;
    line-height: 45px;
}


/* -- scrollbar css -- */
.certification-wrap .table-scroll::-webkit-scrollbar {width: 3px;}
.certification-wrap .table-scroll::-webkit-scrollbar-thumb {background-color: #abaaaa;}
.certification-wrap .table-scroll::-webkit-scrollbar-track {background-color: #d3d3d3;}
.certification-wrap .table-scroll {
    width: 719px;
    height: 718px;
    overflow-y: auto;
    border-radius: 8px;
}


/* -- best category -- */
.categoryBestSection {margin-top: 40px;}
.categorybestsection .product-area .photo {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    line-height: 20px;
}
.one-place .left--aside__img {
    float: left;
    margin-right: 35px;
}
.one-place .left--aside__img .desc {
    position: relative;
    display: block;
    padding-top: 25px;
    color: #333;
    font-size: 0.92rem;
    line-height: 1.5;
    font-family: "roboto";
}
.one-place .left--aside__img .desc:after  {
    position: absolute;
    top: 38px;
    right: 0;
    width: 18px;
    height: 18px;
    background: url("../../images/web/sv-intro/product__homemain.png") no-repeat;
    content: "";
}
#product_theme ul {height: auto;}
.swiper-button-prev {left: 268px;}
.swiper-button-prev, .swiper-button-next {top: calc(50% - 56px);}


/* -- 광고 banner -- */
.content__banner {
    width: 100%;
    margin: 94px 0 28px 0;
}
.content__banner-inner {
    height: 150px;
    padding-bottom: 0;
    background-color: #fff;
    text-align: center;
}
.content__banner img {
    max-width: initial;
    height: auto;
}


/* -- popularity trip -- */
.popularity--trip {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.popularity--trip .article {display: flex;}
.popularity--trip li a:hover .txt_box {
    text-decoration: underline;
    color: #777;
}
.popularity--trip li .txt_box {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    margin-top: 15px;
}
.popularity--trip li .txt_box .subject {
    color: #000;
    font-size: 1.5rem;
}
.popularity--trip li .txt_box p {
    padding-top: 5px;
    color: #757575;
    font-size: 1rem;
    font-family: "roboto";
}
.popularity--trip li .discount-rate {
    flex-basis: 176px;
    align-self: center;
    position: relative;
    top: 5px;
    color: #e73b3b;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
}


/* -- themed merchandise -- */
.theme-push {
    position: relative;
    width: 1200px;
    padding-top: 64px;
    margin: 0 auto;
}
.theme-push.footer-connection {
    height: 720px;
    padding-bottom: 80px;
}
.theme-push h2 {font-size: 26px;}
.theme-push .ftLt {
    float: left;
    width: 280px;
}
.theme-push .ftRt {
    display: inline-block;
    position: relative;
    top: 24px;
    width: 920px;
}
.theme-push .ftLt .desc {
    position: relative;
    padding-top: 60px;
    color: #333;
    font-size: 0.98rem;
    line-height: 1.6;
    font-family: "roboto";
}
.theme-push .ftLt .desc:after {
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #666;
    content: '';
}
.theme-push .ftLt .list-tag {padding-top: 40px;}
.theme-push .ftLt .list-tag li {
    display: inline-block;
    width: 207px;
    border-top: 1px solid #c8c8c8;
}
.theme-push .ftLt ul li > a {
    display: inline-block;
    width: 199px;
    margin-bottom: -5px;
    padding: 12px 10px;
    color: #757575;
    font-size: 0.9rem;
    line-height: 24px;
    font-family: "roboto";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.theme-push .ftLt ul.list-tag li a.active {
    color: #000;
    display: block;
    font-weight: bold;
}
.ftRt .item-area ul.col4 .list-item {margin-right: 20px;}
.ftRt .item-area ul.col4 .list-item:last-child {margin-right: 0px;}
.ftRt .item-area ul.col4 .list-item:hover {box-shadow: none;}
.ftRt .item-area ul.col4 .box__information .bxtitle {width: 200px;}
.ftRt .item-area ul.col4 .box__information .bxevent {width: 200px;}
.ftRt .item-area .box__image {
    width: 210px;
    height: 210px;
    line-height: 200px;
    border-radius: 8px;
}
.ftRt .item-area .box__information {padding: 5px;}
.ftRt .bxlabel {font-family: "notosans";}


/* -- ag list -- */
/* contents max width */
.fasten {
    width: 1200px;
    margin: 0 auto;
}
#content {
    overflow:hidden;
}
.sub_wrap {
    width: 1200px;
    min-height:2090px;
    margin: 0 auto;
}


/* 탐나는전(filter_jejupay) */
.filter_jejupay {
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}
.filter_jejupay .pay-check {
    display: block;
    height: 45px;
    padding-left: 11px;
    border: 1px solid #ffcc00;
    color: #171717;
    background-color: #ffcc00;
    font-family: "roboto";
    font-size: 17px;
    text-align: left;
    line-height: 47px;
}
.filter_jejupay .pay-check span {font-weight: 800;}
.filter_jejupay .pay-check input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.filter_jejupay .pay-check input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding-left: 54px;
    line-height: 31px;
    cursor: pointer;
}
.filter_jejupay .pay-check input[type="checkbox"]:checked + label:before {
    top: 4px;
    left: 14px;
    width: 18px;
    height: 18px;
    line-height: 18px;
}
.filter_jejupay .pay-check input[type="checkbox"]:checked + label:before {
    color: #000;
    font-size: 1.0rem;
    content: "\2714";
}
.filter_jejupay .pay-check input[type="checkbox"] + label:before {
    position: absolute;
    top: 4px;
    left: 14px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    background-color: #fff;
    line-height: 15px;
    text-align: center;
    content: '';
}
.filter_jejupay .pay-check img {
    position: relative;
    bottom: 2px;
    padding-right: 5px;
}

/* - filter wrap - */
.filter_wrap {
    position:relative;
    top:17px;
    display:inline-block;
    width:250px;
    margin:0 30px 0 0;
    float:left;
    z-index: 1;
    right: 0px;
}


/* filter_refine */
.filter_refine {
    border:1px solid #ebebeb;
    border-radius: 2px;
    padding: 7px 20px 25px;
}
.filter_refine section {
    /*margin: 0 0 0 24px;*/
    padding:20px 0 0 0;
    border-bottom:none;
    line-height: 1.9;
}
.filter_refine section h3 {
    position:relative;
    display: block;
    margin-bottom:13px;
    color:rgba(0,0,0,0.87);
    font-size: 16px;
    /*letter-spacing:-.3px;*/
    font-weight: bold;
    border-top: 1px solid #222;
    padding-top: 20px;
}
.filter_refine section:first-child h3 {
    border-top: none;
    padding-top: 0;
}
.filter_refine section ul li.item-list {border-top: 1px solid #f4f4f4;}
.filter_refine section ul li:first-child {border-top: none;}


/* 카테고리 메뉴 */
.categorymenu,
.categorymenu ul,
.categorymenu ul li,
.categorymenu ul li a {
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.categorymenu ul ul {
    display: none;
}
.categorymenu > ul > li.active > ul {
    display: block;
    padding: 5px 0 15px;
}
.align-right {
    float: right;
}
.categorymenu > ul > li > a {
    padding: 15px 5px;
    cursor: pointer;
    z-index: 2;
    font-size: 15px;
    color: #222;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
.categorymenu > ul > li > a:hover {
    color: rgb(246, 12, 64);
}
.categorymenu ul > li.item-list > a:after {
    position: absolute;
    right: 23px;
    top: 15px;
    z-index: 5;
    display: block;
    /*height: 10px;*/
    width: 2px;
    background: #222;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.categorymenu ul > li.item-list > a:before {
    position: absolute;
    right: 19px;
    top: 19px;
    display: block;
    width: 10px;
    /*height: 2px;*/
    background: #222;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.categorymenu ul > li.item-list.open > a:after,
.categorymenu ul > li.item-list.open > a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.categorymenu ul ul li a:hover {
    color: rgb(246, 12, 64);
}
.categorymenu ul ul li.active a {
    color: #e8202e;
    font-weight: bold;
}
input[type=checkbox].rf_chk {
    position:absolute;
    z-index: -1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    border:0;
}
input[type=checkbox].rf_chk + label.label_chk{
    display: inline-block;
    padding: 0 0 0 32px;
    height:18px;
    line-height:17px;
    background-repeat: no-repeat;
    background-position: 0 0;
    color:rgba(0,0,0,0.56);
    font-size:14px;
    /*letter-spacing: -.7px;*/
    vertical-align: top;
    cursor: pointer;
    font-family: "notosans";
}
label.label_chk {
    background-image: url("../../images/web/ad/square.png");
    background-size:18px auto;
}
input[type=checkbox].rf_chk:checked + label.label_chk{
    background-position:0 -18px;
}


/* - list wrap - */
.list_wrap {
    position: relative;
    display: inline-block;
    top: 20px;
    width: 900px;
    margin: 10px 0 70px 20px;
}
.list_wrap .sv_best,
.list_wrap .sv_quration {
    display: inline-block;
    width: 900px;
}
.list_wrap .sv_quration {
    margin-top: 20px;
}
.list_wrap .sv_quration .qurationlist {
    position: relative;
    display: block;
}
.sbt {
    display: block;
    line-height: 3.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: "notosans";
}
.sbt .ftlight {
    font-weight: 100;
}
.main_label_jq {
    position: absolute;
    top: 0;
    text-indent: -9999px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-image: url("../../images/web/r_main/label_jq.png");
    background-size: 60px;
}


/* - itemarea - */
.item-area {
    position: relative;
    display: block;
}
.item-area .box__image {
    position: relative;
    overflow: hidden;
    width: 213px;
    height: 213px;
    line-height: 213px;
}
.item-area .box__image img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item-area .box__image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.box__information {
    font-size: 15px;
    color: #222;
    margin-top: 5px;
}
.box__information .bx_label {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    color: #bfbfbf;
    font-size: 11px;
    letter-spacing: 0;
}
.main_label_jq {
    position: absolute;
    top: 3px;
    text-indent: -9999px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-image: url("../../images/web/r_main/label_jq.png");
    background-size: 60px;
    z-index: 9;
}
.box__information .bxtitle {
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-family: "notosans m";
}
.box__information .bxevent {
    color: #555;
    font-family: "notosans";
    font-weight: normal;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box__information .bxprice {
    padding-top: 6px;
    color: #222;
}
.box__information .bxprice .text__price {
    font-family: "roboto";
    font-weight: 600;
    vertical-align: middle;
}
.box__information .bxprice .text__unit {
    text-align: center;
    font-size: 15px;
    font-family: "notosans";
    vertical-align: middle;
}
.box__information .bxprice .per_sale {
    font-size: 1.57rem;
    font-style: normal;
    font-weight: 600;
    font-family: "roboto";
    color: #e8202e;
    margin-right: 3px;
    vertical-align: middle;
}

/* 추가옵션 */
.box__information .bxLabel {
    position: absolute;
    display: inline-block;
    width: 190px;
    padding-top: 4px;
}
.box__information .bxLabel .main_label {
    display: inline-block;
    height: 15px;
    font-weight: 800;
    font-family: "roboto";
    letter-spacing: 0;
    color: #fff;
    border: 1px solid #e8202e;;
    border-radius: 2px;
    background-color: #e8202e;
    padding: 0 3px;
    margin: 4px 4px 0 0;
    line-height: 15px;
}
.box__information .bxLabel .main_label {
    float: left;
    font-size: 9px;
}
.box__information .bxLabel .main_label.eventblue {
    border: 1px solid rgba(100, 35, 255);
    color: #6423ff;
    background-color: rgba(100, 35, 255, 0.04);
}
.box__information .bxLabel .main_label.back-red {
    border: 1px solid #f61346;
    color: #fff;
    background-color: #f61346;
}
.box__information .bxLabel .main_label.pink {
    border: 1px solid #f61346;
    color: #f61346;
    background-color: rgba(244, 49, 66, 0.04);
}
.box__information .bxLabel .main_label.yellow {
    color: #000;
    background-color: #ffcc00;
    font-family: "notosans"
}
.box__information .bxLabel .main_label.purple {
    color: #fff;
    background-color: #6423ff;
    border: 1px solid #6423ff;
}
.box__information .bxLabel .main_label.back-purple {
    border: 1px solid #6423ff;
    color: #fff;
    background-color: #6423ff;
}
.box__information .bxLabel .main_label.yellow {
    border: 1px solid #ffcc00;
    color: #000;
    background-color: #ffcc00;
}


/* col4 */
.item-area ul.col4 .list-item {
    float: left;
    display: inline-block;
    height: 360px;
    margin-top: 20px;
    margin-right: 15px;
    background-color: #fff;
}
.item-area ul.col4 li:nth-child(4n+0) {
    margin-right: 0;
}
.item-area ul.col4 .box__information .bxtitle {
    width: 210px;
}
.item-area ul.col4 .box__information .bxevent {
    width: 210px;
    line-height: 20px;
    font-size: 13px;
}
.item-area ul.col4 .box__information .bxprice {
    font-size: 22px;
}


/* col3 */
.item-area ul.col3 .list-item {
    display: inline-block;
    height: 410px;
    margin-right: 36px;
    margin-top: 15px;
    background-color: #fff;
    float: left;
}
.item-area ul.col3 li:nth-child(3n+0) {
    margin-right: 0;
}
.item-area ul.col3 .box__image img {
    width: 275px;
}
.item-area ul.col3 .box__information .bxtitle {
    width: 240px;
}
.item-area ul.col3 .box__information .bxevent {
    width: 240px;
    line-height: 20px;
    font-size: 13px;
}
.item-area ul.col3 .box__information .bxprice {
    font-size: 22px;
}


/* sortfilter */
.__sort {
    position: relative;
    display: block;
    text-align: right;
}
.__sort li {
    position:relative;
    display:inline-block;
    margin:0 10px;
}
.__sort li button {
    overflow: visible;
    border:0;
    background-color:transparent;
    cursor: pointer;
    font-size:15px;
    color:#7d7d7d;
}
.__sort .sort.active {
    font-weight: 700;
    color:#000000;
    background: url("../../images/web/ad/checking.jpg") 0 50% no-repeat;
    background-size:14px auto;
    padding-left:18px;
}


/* col4 */
.product-area ul.col4 .list-item {
    display: inline-block;
    height: 350px;
    margin-right: 15px;
    margin-top: 20px;
    background-color: #fff;
    float: left;
}
.product-area ul.col4 li:nth-child(4n+0) {
    margin-right: 0;
}
.product-area ul.col4 .box__information .bxtitle {
    width: 210px;
}
.product-area ul.col4 .box__information .bxevent {
    width: 210px;
    line-height: 20px;
    font-size: 13px;
}
.product-area ul.col4 .box__information .bxprice {
    font-size: 22px;
}


/* col3 */
.product-area ul.col3 .list-item {
    display: inline-block;
    height: 410px;
    margin-right: 36px;
    margin-top: 15px;
    background-color: #fff;
    float: left;
}
.product-area ul.col3 li:nth-child(3n+0) {
    margin-right: 0;
}
.product-area ul.col3 .box__image {
    overflow: hidden;
    width: 275px;
    height: 275px;
}
.product-area ul.col3 .box__image img {
    width: 100%;
    height: 100%;
}
.product-area ul.col3 .box__information .bxtitle {
    width: 240px;
}
.product-area ul.col3 .box__information .bxevent {
    width: 240px;
    line-height: 20px;
    font-size: 13px;
}
.product-area ul.col3 .box__information .bxprice {
    font-size: 22px;
}
.con_more {
    position: absolute;
    top: 24px;
    right: 8px;
    font-size: 14px;
    color: #777;
    font-family: "roboto";
    cursor: pointer;
}



/* - svgroup itemarea - */
.item-area.svgroup {
    position: relative;
    display: block;
    margin: 45px 0 40px;
}
.item-area.svgroup .box__image {
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 270px;
}
.item-area.svgroup .box__image img {
    width: 270px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item-area.svgroup .box__image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.item-area.svgroup .box__information {
    font-size: 15px;
    color: #222;
    margin-top: 5px;
}
.item-area.svgroup .box__information .bx_label {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    color: #bfbfbf;
    font-size: 11px;
    letter-spacing: 0;
}
.item-area.svgroup .box__information .bxtitle {
    width: 265px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-family: "notosans m";
}
.item-area.svgroup .box__information .bxevent {
    color: #555;
    font-family: "notosans";
    font-weight: normal;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-area.svgroup .box__information .bxprice {
    font-family: roboto-medium,sans-serif;
    padding-top: 6px;
    color: #222;
}
.item-area.svgroup .box__information .bxprice .text__price {
    float: left;
    padding-right: 2px;
}
.item-area.svgroup .box__information .bxlabel {
    position: absolute;
    display: inline-block;
    padding-top: 8px;
}
.item-area.svgroup .box__information .bxlabel .main_label {
    display: inline-block;
    float: left;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    background-color: #e8202e;
    padding: 0 3px;
    margin-right: 3px;
}

/* col4 */
.item-area.svgroup ul.col4 .list-item {
    display: inline-block;
    height: 395px;
    margin-right: 35px;
    margin-top: 29px;
    background-color: #fff;
    float: none;
}
.item-area.svgroup ul.col4 li:nth-child(4n+0) {
    margin-right: 0;
}
.item-area.svgroup ul.col4 .box__information .bxtitle {
    width: 265px;
}
.item-area.svgroup ul.col4 .box__information .bxevent {
    width: 265px;
    line-height: 20px;
    font-size: 13px;
}
.item-area.svgroup ul.col4 .box__information .bxprice {
    font-size: 22px;
}


/* Responsive adjustments */
@media (max-width: 1500px) {

    /* 제주 농부의 장 */
    .comm-layer-popup_fixed .certification-wrap {
        overflow-y: scroll;
        height: 600px;
        margin-top: -300px;
    }

    .certification-wrap .table-scroll {
        height: 558px;
    }

}

/* Responsive adjustments */
@media (max-width: 1500px) {

    /* 개인정보 수집 및 이용동의 */
    #collection-agreement.comm-layer-popup_fixed .content-wrap {
        overflow-y: scroll;
        height: 600px;
        margin-top: -300px;
    }

}