@charset "utf-8";

@import url("../../css/comm/webFont.css?version=20240607");         /* 웹폰트 로드 */
@import url("swiper.css?version=20240607");							/* Swiper 로드 */
@import url("comm_default.css?version=20240607");					/* 디폴트 로드 */
@import url("comm_style.css?version=20240607");						/* 공통 스타일 로드 */
@import url("frame.css?version=20240607");							/* 프레임 로드 */

a,
a:focus,
a:hover,
a:active {
    color:#202020;
    outline: hidden; text-decoration: none;
}