@charset "utf-8";

/* error page */
.error-wrap {width: 500px; margin: auto; padding: 100px 20px; text-align: center;}
.error-wrap img.icon {display: inline-block;}
.error-wrap .error-msg {font-size: 24px; font-weight: bold; color: #3f3f3f; margin-top: 30px;}
.error-wrap .error-text {font-size: 14px; font-weight: bold; color: #5f5f60; border-top: 1px solid #e1e3e4; margin-top: 15px; padding-top: 15px;}
.error-wrap .button {margin-top: 70px;}
.error-wrap .button a {display: inline-block; background: #5f5f60; color: #fff; font-size: 14px; line-height: 35px; padding: 0 15px; font-weight: 700;}
.error-wrap .button a:hover {background: #3f3f3f;}

/* expiration page */
.expiration-wrap {
    position: relative;
    top: 15%;
    width: 520px;
    margin: 0 auto;
    font-family: "Roboto";
    text-align: center;
}
.expiration-wrap .title {
    display: grid;
    grid-template-columns: 0 1fr;
}
.expiration-wrap img {
    position: relative;
    top: 5px;
    right: 115px;
}
.expiration-wrap .expiration-msg {
    height: 70px;
    border-bottom: 1px solid #ddd;
    font-size: 1.3rem;
    line-height: 70px;
    text-align: left;
}
.expiration-wrap .article {
    padding-top: 10px;
    font-size: 0.9rem;
    text-align: left;
}
.expiration-wrap .article p {padding: 7px 0;}
.expiration-wrap .article > ul > li {
    padding: 5px 0;
    list-style: inside;
}
.expiration-wrap a.button {
    display: block;
    width: 145px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.85rem;
    line-height: 40px;
}