@charset "utf-8";

/* --------------------------------------------------------- Renewal Main  ------------------------------------------------------------------ */
/* iPhone 그림자 제거 */
input[type="text"], input[type="password"], input[type="tel"], input[type="number"], input[type="email"], input[type="search"], input[type="url"], select {
    overflow: hidden;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #cfcfcf;
    border-radius: 0;
    color: #333333;
    font-size: 14px;
    line-height: 32px;
    vertical-align: middle;
}


/* input placeholder all */
::-webkit-input-placeholder {color: #9b9b9b !important;}


/* 탭패널 (nav tabs) */
.nav-tabs1 {margin: 0;}
.nav-tabs1 .tabPanel {
    position: relative;
    display: none;
}
.nav-tabs1 ul.nav-menu li {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #cfcfcf;
    background: #fff;
    transition: all .3s ease-out;
}
.nav-tabs1 ul.nav-menu li a {
    display: table-cell;
    width: 128px;
    height: 48px;
    color: #757575;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}
.nav-tabs1 ul.nav-menu li.active a {
    color: #333333;
    font-family: "NotoSans M"
}


/* datepicker > input */
.date-wrap {
    position: relative;
    display: inline-block;
    width: 180px;
}
.date-wrap .datepicker {
    width: 100%;
    min-width: 0;
    padding-left: 10px;
    font-size: 14px;
    text-align: center;
}
.date-wrap img.ui-datepicker-trigger {
    z-index: 8;
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
    width: 19px;
    height: 20px;
}
.close {
    float: right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}


/* Input Radio */
.lb-ch {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}

/* - wrap - */
#_wrap {
    position: relative;
    min-height: 950px;
}
#_wrap h2 {
    display: inline-block;
    padding-bottom: 30px;
    font-size: 26px;
}


/* - Main Slider - */
.main-top-slider {
    position: relative;
}
.main-top-slider .main_visual_btn {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.main-top-slider .main_visual_btn .pass_over {
    position: absolute;
    bottom: 150px;
    right: 2%;
    transform: translateX(0);
}
.swiper-button-next {
    background-image: url("../../images/web/r_main/page_next.png");
    background-size: 40px;
    width: 40px;
    height: 40px;
    right: -17px;
}
.swiper-button-prev {
    background-image: url("../../images/web/r_main/page_prev.png");
    background-size: 40px;
    width: 40px;
    height: 40px;
    left: -17px;
}
.swiper-button-prev, .swiper-button-next {
    top: calc(50% - 20px);
}


/* - 실시간 검색(form) - */
.quick-area {
    z-index: 2;
    position: relative;
    top: -110px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.quick-area .product-search-area {
    position: absolute;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0 0.25rem 0.438rem rgba(0,11,38,0.2);
}
.quick-area .product-search-area .nav-tabs1 {
    max-width: 1200px;
    width: 100%;
}
.quick-area ul.nav-menu {
    position: relative;
    top: 5px;
    padding-top: 7px;
    margin: 0 auto;
    width: 297px;
    height: 45px;
    border-bottom: 1px solid #999999;
    line-height: 21px;
}
.quick-area ul.nav-menu li {
    float: left;
    position: relative;
    top: 2px;
    width: 99px;
    margin: 0;
    border: none;
}
.quick-area ul.nav-menu li a {
    height: 41px;
    color: #757575;
    font-family: "Notosans S";
    font-size: 1rem;
}
.quick-area ul.nav-menu li.active a {
    border-bottom: 4px solid #e8202e;
    font-family: "Roboto";
    font-weight: bold;
}
.quick-area .search-area .area {display: inline-block;}
.quick-area .date-wrap img {display: none;}
.form-area .search-area.rent .area dl dd {
    line-height: 3;
}
.form-area .search-area .area dl dd {
    width: 100%;
    min-width: 128px;
    height: auto;
    line-height: 80px;
}
.form-area .search-area .area .guide {
    display: inline-block;
    width: 1px;
    height: 26px;
    background: #9b9b9b;
    vertical-align: middle;
}
.search-area .area.search {
    float: right;
    width: 163px;
}
.search-area .area.search .btn.red {
    width: 163px;
    height: 81px;
    padding: 0 17px;
    color: #fff;
    border-radius: 12px;
    background-color: #e8202e;
}
.search-area .search .btn .MagGlass {
    position: relative;
    left: 13px;
    display: block;
    width: 140px;
    background: url("../../images/web/air/MagGlass.png") no-repeat;
}
.search-area .search .btn.red span.TicSec {
    position: relative;
    top: 1px;
    display: block;
    font-size: 0.95rem;
}
.map--btn_default {
    position: relative;
    display: inline-block;
    min-width: 70px;
    height: 27px;
    margin: 0 4px;
    color: #fff;
    border-radius: 5px;
    background: #333;
    font-size: 0.85rem;
    text-align: center;
    line-height: 27px;
}


/* - 렌트카/숙소 공통(.form-area) - */
.form-area .search-area {
    padding: 0 30px;
    margin-top: 26px;
}
.form-area .search-area .area dl dt .date-icon {
    width: 56px;
    height: 12px;
    background: url("../../images/web/air/date-icon.png") no-repeat;
    line-height: 15px;
}
.form-area .search-area .area dl dt .IconSide {float: right;}
.form-area .search-area .area dl dt .rt-icon {
    width: 56px;
    height: 14px;
    background: url("../../images/web/air/rt-icon.png") no-repeat;
    line-height: 15px;
}
.form-area .search-area .area dl dd .value-text {font-size: 14px;}
.form-area .search-area .area dl dd .value-text a {
    display: block;
    padding-left: 20px;
    font-family: "Notosans R";
}


/* tabs-1 / 렌터카 */
.index-box-search .search-area.rent {
    display: flex;
    align-items: self-end;
    gap: 12px;
    margin-top: 24px;
}
.index-box-search .search-area .back-bg {
    display: flex;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    padding: 20px 0 20px 25px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
}
.index-box-search .search-area .border--cover {
    display: flex;
    align-items: center;
    height: 80px;
}
.form-area .search-area.rent .border--cover .area dl dt {
    top: 0;
}
.form-area .search-area.rent .area dl dt {
    position: relative;
    top: 2px;
    display: inline-block;
    padding: 0 4px;
    color: #000000;
    font-family: "Roboto";
    font-size: 0.8rem;
}
.form-area .search-area.rent .area.select dl dt {
    padding: 0 18px;
}
.form-area .search-area.rent .guide {
    position: absolute;
    left: 157px;
    display: inline-block;
}
.index-box-search .search-area .guide2 {
    position: absolute;
    left: 544px;
}
.form-area .search-area .underscore {
    z-index: 1;
    position: relative;
    display: inline-block;
    height: 27px;
}
.index-box-search .search-area .area.select > dl {
    position: relative;
    width: 300px;
}
.index-box-search .search-area .area .value-text {position: relative;}
.index-box-search .search-area .area .value-text input,
.index-box-search .search-area .area .value-text select {
    width: 130px;
    padding: 0 5px;
    border: none;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: transparent;
}
.align-self-center {
    display: inline-block;
    padding-right: 33px;
    text-align: center;
}
.align-self-center .box_text {
    position: relative;
    bottom: 0;
    width: 117px;
    border: 1px solid #DE1724;
    border-radius: 120px;
    background-color: #fff;
    top: 0;
    padding: 5px;
}
.align-self-center .box_text > img {
    position: relative;
    bottom: 4px;
}
.align-self-center .box_text > div {
    position: relative;
    bottom: 4px;
}
.align-self-center .txt-rent-period > span {
    display: block;
    color: #DE1724;
    font-size: 0.9rem;
    line-height: 16px;
}
.form-area .search-area .area dl dt .cn-icon {
    position: relative;
    bottom: 7px;
    width: 70px;
    height: 15px;
    background: url("../../images/web/rent/cn-icon.png") no-repeat;
    line-height: 15px;
}
.form-area .search-area .area.select .btnPack {
    position: absolute;
    bottom: 130px;
    width: 300px;
    display: inline-block;
}
.form-area .search-area .area.select .btnPack .insurance_btn {
    position: absolute;
    left: 185px;
    top: 7px;
}
.form-area .search-area .area.select .btnPack .insurance_btn a {
    color: #000;
    font-size: 0.8rem;
    font-family: "NotoSans R";
    text-decoration: underline;
}
.btnPack .insurance_btn a::before {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 6px 1px 0;
    background: url("../../images/web/rent/info.png") no-repeat;
    vertical-align: middle;
    content: "";
}
.form-area .search-area .area.select dl dd{
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0;
}
.area.select .btn-category {
    flex: 0 46.6%;
    flex-shrink: 0;
    padding: 0 5px;
}
.area.select .btn-category input {
    position: absolute;
    display: none;
}
.area.select .btn-category label {
    position: relative;
    bottom: 0;
    display: block;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    background: #fff;
    font-family: "Roboto";
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}
.area.select .btn-category input:checked+label {
    color: #DE1724;
    border-color: #DE1724;
    background-color: #fff;
}


/* time-picker */
.form-area .search-area .time-picker {
    display: inline-block;
    width: 102px;
}
.form-area .search-area .time-picker dl {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-area .search-area.rent .time-picker dl dt {
    position: relative;
    top: 1px;
    color: #000;
    font-family: "NotoSans R";
    font-size: 0.8rem;
}
.form-area .search-area .time-picker dl dt .hour-icon {
    width: 23px;
    height: 13px;
    background: url("../../images/web/rent/hour.png") no-repeat;
    line-height: 14px;
}
.form-area .search-area .time-picker dl dt .IconSide {float: right;}
.form-area .search-area .time-picker dl dd {
    background-color: transparent;
}
.form-area .search-area .time-picker dl dd input {
    color: #000;
    background-color: transparent;
    font-family: "Roboto";
}
.index-box-search .search-area .time-picker .value-text select {
    overflow-y: auto;
    position: relative;
    top: -15px;
    width: 128px;
    height: 70px;
    padding: 0 15px;
    border: none;
    font-size: 15px;
    font-family: "NotoSans R";
    line-height: 55px;
    cursor: pointer;
}
.index-box-search .search-area .time-picker .value-text select::-webkit-scrollbar {width: 5px;}
.index-box-search .search-area .time-picker .value-text select::-webkit-scrollbar-thumb {background-color: #abaaaa; /*스크롤바의 색상*/}
.index-box-search .search-area .time-picker .value-text select::-webkit-scrollbar-track {background-color: #d3d3d3; /*스크롤바 트랙 색상*/}
.index-box-search .search-area .time-picker .value-text select:focus {outline: none;}
.index-box-search .search-area .time-picker .value-text select option {
    height: 20px;
    padding: 8px 5px;
}
.index-box-search .search-area .time-picker .value-text select option:checked {
    color: #fff;
    background-color: #455873;
}


/* tab-2 / 숙소 */
.form-area .search-area.hotel  {margin-top: 64px;}
.form-area .search-area.hotel .area,
.form-area .search-area.air .area {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
.form-area .search-area.hotel .area:last-child {border: 1px solid #fff;}
.form-area .search-area.hotel .area dl dt,
.form-area .search-area.air .area dl dt {
    position: absolute;
    top: -25px;
    margin-left: 15px;
    color: #000;
    font-family: "Roboto R";
    font-size: 0.8rem;
}
.form-area .search-area.hotel .area dl dd .value-text .date-container {font-family: "Notosans R";}
.form-area .search-area.hotel .area dl dd .value-text a {
    width: 215px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.form-area .search-area.hotel .date dl,
.form-area .search-area.air .Date dl {
    position: relative;
    display: inline-block;
    width: 161px;
    vertical-align: middle;
}
.form-area .search-area.hotel .area.select {
    width: 285px;
    margin-left: 13px;
    background-image:url("../../images/web/icon/basic/select-bg.png");
    background-position: right 12px center;
    background-repeat: no-repeat;
}
.form-area .search-area.hotel .area.count.select {
    position: relative;
    top: 1px;
    width: 311px;
    line-height: 81px;
}
.form-area .search-area.hotel .area dl dt .cn-icon {
    bottom: 0;
}
.form-area .search-area.hotel .area dl dt .rt-icon {width: 40px;}
.form-area .search-area.hotel .area.select dl dd {
    width: 100%;
    min-width: 269px;
    cursor: pointer;
}
.search-area.hotel .area.select .btnPack .insurance_btn {
    position: absolute;
    top: -11px;
    left: 222px;
}
.search-area.hotel .btnPack .insurance_btn a::before {
    width: 16px;
    height: 13px;
    margin: 0 6px 3px 0;
    background: url("../../images/web/main/map.png") no-repeat;
    content: "";
}
.quick-area .hotel-zone .map--btn {
    top: 179px;
    left: 298px;
    vertical-align: top;
}
.quick-area .hotel-count .map--btn,
.quick-area .air-count .map--btn {
    bottom: 39px;
    left: 193px;
    vertical-align: bottom;
}
.popup-typeA.hotel-count {
    top: 85px;
    width: 305px;
    height: 274px;
    margin-left: -11px;
    border-radius: 5px;
    font-family: "Roboto";
}
.popup-typeA .counting-area .counting:first-child {margin-top: 0;}
.popup-typeA .counting-area .counting {
    margin: 25px 0;
    line-height: 0;
}
.search-area.hotel .area.search .btn.red {
    width: 163px;
    margin-left: 1px;
}


/* map-control */
.popup-typeA.hotel-zone {
    top: 85px;
    width: 402px;
    height: 246px;
    padding: 20px 10px;
    margin-left: -11px;
    border-radius: 5px;
    font-family: "Roboto";
    line-height: 392px;
}
.popup-typeA.hotel-zone .popup-typeA_title {
    position: absolute;
    bottom: 400px;
    left: 22px;
    height: 0;
    font-weight: 600;
}
.searchTabGroup {
    position: relative;
    right: 4px;
    bottom: 5px;
    height: 0;
    margin: 0 15px;
}
.cls-1.off {fill:#e9e9e9;}
.cls-2.off {fill:#a2a2a2;}
.cls-3.off {fill:#cecece;}
.on .cls-1 {fill: #37a0ed;}
.on .cls-2 {fill: #fff;}
.on .cls-3 {fill: #fff;}


/* tab-3 / 항공 */
.form-area .search-area.air .Date {margin-left: 14px;}
.form-area .date-wrap .datepicker {
    width: 130px;
    border: none;
    font-size: 15px;
    font-family: "Roboto";
    cursor: pointer;
}
.form-area .search-area.air .area.select {
    width: 311px;
    margin-left: 13px;
    background-image:url("../../images/web/icon/basic/select-bg.png");
    background-position: right 12px center;
    background-repeat: no-repeat;
}
.form-area ul.check-area {
    position: relative;
    bottom: 10px;
    margin-left: 40px;
    font-family: "Roboto";
}
.form-area ul.check-area li.lb-ch {margin-right: 7px;}
.form-area ul.check-area input {position: absolute;}
.form-area ul.check-area li.active label.label_av {
    border-color: #e8202e;
    color: #e8202e;
    background-color: #ffeff3;
}
input[type=checkbox].textY + label.label_av,
input[type=checkbox].textN + label.label_av {
    position: relative;
    right: 8px;
    bottom: 9px;
    width: 75px;
    height: 37px;
    border: 1px solid #e6e6e6;
    border-radius: 40px;
    background: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
}
.form-area .search-area .zone dl {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.form-area .search-area .zone .change {margin: 0 4px;}
.form-area .search-area.air .count dl {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.form-area .search-area.air .area dl dt .cn-icon {
    bottom: 0;
    width: 70px;
}
.quick-area .search-area.air #air_departure {
    top: 85px;
    left: -1px;
    width: 285px;
    padding: 8px 15px 20px 19px;
    border-radius: 5px;
}
.quick-area .search-area.air #air_arrival {
    top: 85px;
    right: 0;
    padding: 8px 15px 20px 19px;
    width: 285px;
    border-radius: 5px;
}
.popup-typeA.air-zone ul.select-menu li {margin: 12px 2px 0 0;}
.lb-box input[type="radio"], .lb-box input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}
.lb-box input[type="radio"]:checked + label,
.lb-box input[type="checkbox"]:checked + label {
    border: 1px solid #e8202e;
    color: #e8202e;
    background-color: #ffeff3;
}
.lb-box input[type="radio"] + label,
.lb-box input[type="checkbox"] + label {
    width: 75px;
    height: 37px;
    margin: 0 auto;
    line-height: 37px;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    color: #666;
    text-align: center;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: -1.5px;
    border-radius: 40px;
    font-family: "Roboto";
}
.quick-area .search-area.air .area.select dl dd {
    display: block;
    width: 100%;
    min-width: 265px;
    margin-left: 0;
    cursor: pointer;
}
.quick-area .search-area.air .popup-typeA.air-count {
    top: 85px;
    width: 313px;
    height: 347px;
    margin-left: -1px;
    border-radius: 5px;
}
.quick-area .search-area.air .popup-typeA.air-count .detail-area {line-height: 2;}
.form-area .search-area.air .area.search {border: none;}
.list-disc > li {
    position: relative;
    padding-left: 14px;
    color: #666;
    background: url(../../images/web/list/disc.png) no-repeat left 8px;
    background-size: 4px 4px;
}
.list-disc.sm > li {
    margin: 3px 0;
    font-size: 12px;
    line-height: 20px;
}


/* story-panels-new */
.content__banner {width: 100%;}
.content__banner-inner {
    max-width: 1980px;
    width: 100%;
    height: 160px;
    padding-bottom: 140px;
    margin-left: 0;
    text-align: center;
}
.content__banner-inner .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
}
.row .hidden-box {
    flex: 0 0 41%;
    max-width: 41%;
}
.row .section-box {
    flex: 0 0 55%;
    max-width: 55%;
}
.section-box .ico1 {
    position: relative;
    top: 112px;
    flex: 0 0 20%;
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
}
.about-reason img {margin-top: 7px;}
.about-reason .txt1 {
    margin-top: 8px;
    color: #fff;
    font-family: "Roboto";
    line-height: 28px;
}
.about-reason .txt1 .txt1-1 {font-size: 1rem;}
.about-reason .txt1 .txt1-2 {
    font-size: 1.7rem;
    font-weight: 700;
}
.section-box span {
    position: relative;
    top: 143px;
    height: 71px;
    border-right: 1px solid #fff;
}

/* - Contents - */
.categoryPopularSection .inner,
.categoryPackageSection .inner {
    margin: 70px auto 0;
}


/* - BestSection - */
.categoryBestSection {
    margin-top: 133px;
}
.categoryBestSection .product-area ul li {
    position: relative;
    float: left;
    width: 210px;
}
.categoryBestSection .product-area ul li a {
    display: block;
}
.categoryBestSection .product-area .photo {
    width: 215px;
    height: 215px;
    line-height: 200px;
    overflow: hidden;
    border-radius: 8px;
}
.categoryBestSection .product-area .best_car .photo img {
    position: relative;
    top: 35px;
}
.categoryBestSection .product-area .photo img {
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.categoryBestSection .product-area .photo img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.categoryBestSection .product-area .bx-info {
    width: 215px;
    font-family: "NotoSans";
    font-size: 15px;
    color: #222222;
    text-align: center;
    margin-top: 13px;
    text-overflow: ellipsis;
    word-wrap: normal;
    overflow: hidden;
}
.categoryBestSection .product-area .bx-info .text__name {
    width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "NotoSans M";
}
.categoryBestSection .product-area .bx-info .text__memo {
    width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.categoryBestSection .product-area .bx-info .box__price {
    padding-top: 5px;
}
.text__price {
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    font-family: "Roboto";
    vertical-align: middle;
}
.text__unit {
    text-align: center;
    font-size: 15px;
    font-family: "NotoSans";
    vertical-align: middle;
}
.categoryBestSection .product-area .memo {
    width: 200px;
}
.swiper-button-prev, .swiper-button-next {
    z-index: 4;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 1;
    pointer-events: all;
}


/* - PopularSection - */
.PopularContent {
    border-top: 2px solid #000;
    margin-bottom: 50px;
}
.PopularContent .col {
    display: table-cell;
}
.PopularContent a {
    color: #222;
}
.PopularContent .depth1 {
    float: left;
    width: 170px;
    height: 495px;
    padding: 45px 0 0 25px;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.PopularContent .depth1 h3 {
    font-size: 30px;
    line-height: 34px;
}
.PopularContent1 .depth1 h3,
.PopularContent1 .PopularKeyword ul li a{
    color: #e8202e;
}
.PopularContent2 .depth1 h3,
.PopularContent2 .PopularKeyword ul li a{
    color: #00a698;
}
.PopularContent .PopularKeyword {
    margin-top: 170px;
}
.PopularContent .PopularKeyword ul li a {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    font-size: 14px;
    padding: 3px 9px;
    margin-top: 10px;
    border: 1px solid #ccc;
}
.PopularContent .con_more {
    display: block;
    font-size: 12px;
    color: #999;
    margin-top: 7px;
    cursor: pointer;
}
.PopularContent .depth2 {
    position: relative;
    float: left;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.PopularContent .depth2 .ConEvnt {
    position: relative;
    display: block;
    cursor: pointer;
    width: 295px;
    height: 540px;
}
.PopularContent .depth2 .ConTx {
    width: 235px;
    padding: 52px 30px 0 25px;
}
.PopularContent .depth2 .ConTx pre {
    font-size: 26px;
    line-height: 35px;
    font-family: "NotoSans M";
    margin-bottom: 10px;
    letter-spacing: -1px;
    white-space: pre-wrap;
    word-break: break-all;
}
.PopularContent .depth2 .ConTx span {
    margin-top: 20px;
    color: #757575;
}
.PopularContent .depth2 .ConPhoto {
    position: absolute;
    bottom: 0;
    width: 295px;
    height: 330px;
    overflow: hidden;
}
.PopularContent .depth2 .ConPhoto img {
    position: relative;
    left: -20px;
    width: 330px;
    height: 330px;
}
.PopularContent .bxBtn {
    position: absolute;
    z-index: 51;
    top: 165px;
    right: 12px;
    width: 55px;
    height: 27px;
    background-image: url(../../images/web/r_main/evnt_btn.jpg);
    background-repeat: no-repeat;
}
.PopularContent .bxBtn .bx-prev,
.PopularContent .bxBtn .bx-next {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
}
.PopularContent .bxBtn .bx-prev {
    left: 0;
}
.PopularContent .bxBtn .bx-next {
    right: 0;
}
.PopularContent .depth3 {
    position: relative;
    /*height: 500px;*/
    overflow: hidden;
}
.PopularContent1 .depth3 .col_3 .bx_list .bxPhoto img {
    width: 100%;
    height: 100%;
}
.PopularContent2 .depth3 .col_3 .bx_list .bxPhoto img {
    top: 10px;
}
.depth3 .categoryPopularItems {
    padding: 6px 0 0 30px;
}

/* col_3 */
.depth3 .categoryPopularItems .col_3 {
    display: block;
    position: relative;
}
.depth3 .categoryPopularItems .col_3 li {
    display: inline-block;
    float: left;
    height: 250px;
    margin: 1.2rem 1.6rem 0 0;
}
.depth3 .categoryPopularItems .col_3 li:nth-child(3),
.depth3 .categoryPopularItems .col_3 li:nth-child(6) {
    margin-right: 0;
}
.depth3 .categoryPopularItems .col_3 li:hover {
    text-decoration: underline;
}
.depth3 .categoryPopularItems .col_3 li a {
    display: block;
}
.depth3 .col_3 .bx_list .bxInfo {
    width: 195px;
    height: 85px;
    margin-top: 5px;
    padding: 0 0 0 5px;
}
.depth3 .col_3 .bx_list .bxInfo .bxTitle {
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    /*letter-spacing: -.3px;*/
    font-family: "NotoSans M";
}
.depth3 .col_3 .bx_list .bxInfo .bxEvent {
    width: 190px;
    line-height: 14px;
    color: #757575;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    font-family: "NotoSans";
}
.depth3 .col_3 .bx_list .bxInfo .bxPrice {
    margin-top: 3px;
}
.depth3 .col_3 .bx_list .bxInfo .bxPrice .text__price {
    font-size: 19px;
    font-weight: 700;
    /*letter-spacing: -.5px;*/
    font-family: "Roboto";
}

.depth3 .col_3 .bx_list .bxInfo .bxPrice .text__unit {
    line-height: 11px;
    font-size: 14px;
    font-family: "NotoSans";
    font-weight: 400;
}
.depth3 .col_3 .bx_list .bxInfo .bxLabel {
    position: absolute;
    display: inline-block;
    padding-top: 4px;
}
.depth3 .col_3 .bx_list .bxInfo .bxLabel .main_label {
    display: inline-block;
    float: left;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    background-color: #00856F;
    padding: 0 3px;
    margin-right: 3px;
}
.depth3 .col_3 .bx_list .bxPhoto {
    width: 200px;
    height: 160px;
    border-radius: 8px;
    overflow: hidden;
}
.depth3 .col_3 .bx_list .bxPhoto img {
    position: relative;
    width: 100%;
}
.depth3 .col_3 .stay_event {
    position: relative;
    top: 30px;
}
.depth3 .col_3 .stay_list {
    position: relative;
    top: 65px;
}


/* col_4 */
.depth3 .categoryPopularItems .col_4 li {
    display: inline-block;
    float: left;
    color: #2e2e2e;
    margin: 1.5rem 1.3rem 0 0;
}
.depth3 .categoryPopularItems .col_4 li:nth-child(4),
.depth3 .categoryPopularItems .col_4 li:nth-child(8) {
    margin-right: 0;
}
.depth3 .col_4 .bx_list .bxInfo {
    width: 155px;
    margin-top: 5px;
    padding: 0 4px;
}
.depth3 .col_4 .bx_list .bxInfo .bxTitle {
    font-size: 15px;
    /*letter-spacing: -.3px;*/
    font-family: "NotoSans M";
}
.depth3 .col_4 .bx_list .bxInfo .bxEvent {
    width: 160px;
    line-height: 14px;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    font-family: "NotoSans";
}
.depth3 .col_4 .bx_list .bxInfo .bxPrice {
    margin-top: 5px;
    font-size: 17px;
    font-weight: 700;
    text-align: right;
    /*letter-spacing: -.5px;*/
    font-family: "Roboto";
}
.depth3 .col_4 .bx_list .bxInfo .bxPrice span {
    font-size: 15px;
    font-weight: 400;
    margin-left: 1px;
}
.depth3 .col_4 .bx_list .bxPhoto {
    width: 165px;
    height: 135px;
    border-radius: 3px;
    overflow: hidden;
}
.depth3 .col_4 .bx_list .bxPhoto img {
    position: relative;
    width: 100%;
    top: -13px;
}
.depth3 .col_4 .stay_event {
    position: relative;
    top: 30px;
}
.depth3 .col_4 .stay_list {
    position: relative;
    top: 65px;
}


/* - PackageSection - */
.category-tab {
    position: relative;
    display: block;
    height: 52px;
}
.category-tab .tabList {
    display: inline-block;
    float: left;
    width: 33.2%;
}
.category-tab .tabList a {
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #000;
    font-size: 16px;
    font-family: "NotoSans M";
    border: 1px solid #ccc;
}
.category-tab .tabList a.active {
    color: #DE1724;
    border: 1px solid #DE1724;
}
.categoryPackageSection .con_more,
.categoryProductSection .con_more {
    position: absolute;
    top: 24px;
    right: 8px;
    font-size: 14px;
    color: #777;
    font-family: "Roboto";
    cursor: pointer;
}
.category-area .item-area {
    margin-top: 15px;
}
.item-area .list-item {
    display: inline-block;
    height: 355px;
    margin-right: 15px;
    margin-top: 20px;
    background-color: transparent;
}
.item-area li:hover {
    box-shadow: 0 0 9px #e6e6e6;
}
.item-area .list-item:nth-child(5),
.item-area .list-item:last-child {
    margin-right: 0;
}
.category-area .item-area .box__image {
    overflow: hidden;
    width: 225px;
    height: 225px;
    border-radius: 8px;
}
.category-area .item-area .box__image img {
    width: 100%;
    height: 100%;
}
/* 초기화면은 맛집이고 여행사상품,관광지 display:none 2021.05.17 chaewan.jung*/
.category-area.package,
.category-area.leisure {
    display: none;
}

.box__information {
    font-size: 15px;
    color: #222;
    margin-top: 5px;
    padding: 0 10px;
}
.box__information .bx_label {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    color: #757575;
    font-size: 11px;
    letter-spacing: 0;
}
.box__information .bxTitle {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-family: "NotoSans";
    font-weight: 600;
    padding-top: 1px;
}
.box__information .bxEvent {
    width: 200px;
    line-height: 20px;
    color: #555;
    font-size: 14px;
    font-family: "NotoSans";
    font-weight: normal;
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box__information .bxPrice {
    font-size: 22px;;
    padding-top: 3px;
    color: #222;
}
.box__information .bxLabel {
    position: absolute;
    display: inline-block;
    padding-top: 1px;
}
.box__information .bxLabel .main_label {
    display: inline-block;
    float: left;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    background-color: #f61346;
    padding: 0 3px;
    margin-right: 3px;
}
.main_label_JQ {
    position: absolute;
    top: 0;
    text-indent: -9999px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-image: url("../../images/web/r_main/label_JQ.png");
    background-size: 60px;
}


/* - ProductSection - */
.categoryProductSection {
    margin-top: 40px;
}
.conBg {
    display: block;
    background-color: #f6f6f6;
    padding: 50px 0;
}
.categoryProductSection .swiper-slide {
    padding: 0;
}
.categoryProductSection .swiper-slide .box__information {
    height: 115px;
    padding: 5px 15px 10px;
    margin: 0;
    border-radius: 8px;
    background-color: #fff;
}
.categoryProductSection .swiper-slide .box__image {
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}
.categoryProductSection .swiper-slide .box__image img {
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.categoryProductSection .swiper-slide .box__image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.categoryProductSection .box__information .bxEvent {
    width: 200px;
}
.categoryProductSection .box__information .bxTitle {
    width: 200px;
}

/* - 하단 관련기관 배너 - */
.main-footBanner {
    border-top: 1px solid #e2e3e3;
    padding: 20px 0;
}
.main-footBanner ul.swiper-wrapper {
    display: flex;
    justify-content: space-around;
}
.main-footBanner ul li {
    width: 156px;
    text-align: center;
}
.main-footBanner ul li a {
    display: block;
}
.main-footBanner ul li img {
    width: 145px;
    height: 45px;
    -webkit-filter: none;
    filter: none;
}

/* - layer-popup - */

#mainPopupAll.layer{
    display: none;
}
.layer {
    top: 0px;
    right: 18.4%;
    z-index: 55;
}
.layer.crm {
    overflow: hidden;
    width: 280px;
    position: absolute;
    max-width: 100%;
    box-shadow: 0 0.25rem 0.438rem rgba(0,11,38,0.2);
    border-radius: 12px;
}
.layer.crm .slider {
    width: 2215%;
    position: relative;
    transition-duration: 0s;
    transform: translate3d(-660px, 0px, 0px);
}
.layer.crm li {
    float: left;
    list-style: none;
    position: relative;
    width: 280px;
}
.layer.crm li a {
    display: block;
    position: relative;
}
.layer.crm li a img {
    width: 280px;
    height: 340px;
    vertical-align: top;
}
.layer.crm button {
    float: left;
    position: relative;
    width: 50%;
    height: 50px;
    background: #fff;
    font-size: 0.74rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border: 0;
    letter-spacing: -0.5px;
    border: 0;
    outline: 0;
}
.layer.crm button.close {
    color: #777;
    font-weight: normal;
}
.layer.crm .bx-controls-direction {font-size: 0;}
.layer.crm .bx-controls-direction a:first-child {
    left: 0;
    right: auto;
    background-image: url("../../images/web/r_main/ico_layerarr_left.png");
}
.layer.crm .bx-controls-direction a:first-child:hover {
    opacity: 0.8;
    background-image: url("../../images/web/r_main/ico_layerarr_left.png");
}
.layer.crm .bx-controls-direction a {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 60px;
    margin-top: -30px;
    padding: 0 !important;
    background: #000 url("../../images/web/r_main/ico_layerarr_right.png") no-repeat;
    opacity: 0.5;
    z-index: 2;
}
.layer.crm .bx-controls-direction a:hover {
    background: #000 url("../../images/web/r_main/ico_layerarr_right.png") no-repeat;
    opacity: 0.8;
}


/* - bx-slider - */

a:link, a:visited {
    color: #000;
    text-decoration: none;
}
.layer.crm .bx-pager.bx-default-pager {
    position: absolute;
    right: 0;
    bottom: 60px;
    left: 0;
    height: 10px;
    text-align: center;
    z-index: 999999;
    line-height: 6px;
}
.layer.crm .bx-pager.bx-default-pager > div {display: inline-block;}
.layer.crm .bx-pager.bx-default-pager a.active {background: #fff;}
.layer.crm .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 2px;
}
.swiper-pagination-bullet {background: none;}
.swiper-pagination-bullet-active {background: #fff;}

/* 인기있는 상품 슬라이드 초기값 설정 */
#product_theme .swiper-slide{margin-right:37px;}

/* Bootstrap card customization */
.bootstrap-card .card-img-top {
    object-fit: cover;
    height: 200px;
}






/* --------------------------------------------------------- //Renewal Main  ------------------------------------------------------------------ */