@charset "utf-8";


/* top-banner */
#tamnao-banner {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
    overflow: hidden;
}
#tamnao-banner span {
    display: block;
}
#tamnao-banner span.banner-bg {
    float:left;
    width:100%;
    background: #e8202e;
}


/* -- header -- */
#header {
    position: relative;
    min-width: 1200px;
    height: 165px;
    z-index: 82;
}
#header .re_header {
    position: relative;
}

/* - header-top - */
#header .header-top {
    position: relative;
    text-align: center;
    height: 113px;
    width: 1200px;
    margin: 0 auto;
}
#header .header-top .box__usermenu {
    padding: 9px 0 7px;
    font-size: 12px;
    text-align: right;
}
#header .header-top .box__usermenu ul {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
#header .header-top .box__usermenu li {
    float: left;
}
#header .header-top .box__usermenu li a {
    display: inline-block;
    font-size: 12px;
    color: #777;
    letter-spacing: -.2px;
    margin-left: 15px;
}

#header .header-top h1 {
    position: relative;
    display: inline-block;
    margin-top: -10px;
    margin-left: 210px;
}
#header .header-top h1 a {
    display: block;
}
#header .header-top h1 img {
    width: 215px;
}
#header .header-top .srh_area {
    position: relative;
    display: inline-block;
    width: 360px;
    height: 48px;
    margin-top: 11px;
    border-radius: 24px;
    border: 2px solid #e8202e;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #fff;
}
#header .header-top .srh_area input {
    display: block;
    border: none;
    width: 100%;
    height: 44px;
    font-size: 14px;
    background-color: transparent;
    text-indent: 16px;
    padding-left: 8px;
    outline: 0;
    -webkit-appearance :none;
}
#header .header-top .srh_area button {
    position: absolute;
    top: 7px;
    right: 19px;
    width: 30px;
    height: 30px;
}
#header .header-top .srh_area .for-a11y{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    text-indent: -5000em;
}
#header .header-top .srh_area button img {
    width: 100%;
    height: 100%;
}
#header .header-top .util_menu {
    position: relative;
    top: 9px;
    float: right;
}
#header .header-top .util_menu ul {
    display: inline-block;
    zoom: 1;
}
#header .header-top .util_menu li {
    float: left;
    width: 60px;
    color: #767676;
    font-size: 13px;
    margin-left: 14px;
    text-align: center;
    white-space: nowrap;
}
#header .header-top .util_menu li a {
    position: relative;
    display: block;
    color: #0c0c0c;
    height: 52px;
    line-height: 0;
    letter-spacing: -.9px;
}
#header .header-top .util_menu li .ico {
    display: block;
    margin: 0 auto 10px;
}
#header .header-top .util_menu .coupon .ico {
    display: block;
    background-image: url("../../images/web/r_main/coupon.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 5px;
    width: 29px;
    height: 34px;
    overflow: hidden;
}
#header .header-top .util_menu .join .ico {
    display: block;
    background-image: url("../../images/web/r_main/join.png");
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 0 -1px;
    width: 28px;
    height: 26px;
    overflow: hidden;
}
#header .header-top .util_menu .log_out .ico {
    display: block;
    background-image: url("../../images/web/r_main/logout.png");
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 0 0;
    width: 28px;
    height: 26px;
    overflow: hidden;
}
#header .header-top .util_menu .nopay .ico {
    display: block;
    background-image: url("../../images/web/r_main/nopay.png");
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: 3px 3px;
    width: 34px;
    height: 34px;
    overflow: hidden;
}
#header .header-top .util_menu .nopay {
    display: none;
}
#header .header-top .util_menu .cart .ico {
    display: block;
    background-image: url("../../images/web/r_main/cart.png");
    background-repeat: no-repeat;
    background-size: 34px;
    background-position: 0 0;
    width: 34px;
    height: 34px;
    overflow: hidden;
}
#header .header-top .util_menu .mypage .ico {
    display: block;
    background-image: url("../../images/web/r_main/mypage.png");
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 3px 4px;
    width: 34px;
    height: 34px;
    overflow: hidden;
}
#header .header-top .util_menu .cnt {
    position: absolute;
    display: block;
    top: -2px;
    right: 3px;
    width:20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #e8202e;
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 700;
    letter-spacing: -1px;
}

/* - GNB - */
#header .gnb2 {
    position: relative;
    display: block;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
#header .gnb2 .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
#header .gnb2 .box__service-all {
    display: inline-block;
}
#header .gnb2 .box__service-all li {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
#header .gnb2 .box__service-all li>a {
    display: inline-block;
    position: relative;
    padding: 0 26px;
    font-size: 16px;
    line-height: 50px;
    color: #16181a;
    font-family: "NotoSans M";
}
#header .gnb2 .box__service-all li:last-child a {
    padding-right: 0;
}
#header .gnb2 .box__service-all li:first-child a {
    padding-left: 0;
}

/* - wrap - */
#_wrap {
    position: relative;
    height: 950px;
}
.inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    zoom: 1;
}

/* 실시간 검색기 */
.mainPrimary .quick-area {
    display: table;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    min-width: 960px;
    padding: 0;
    margin: 0 auto;
    box-sizing: content-box;
}
.mainPrimary .quick-area .product-search-area {
    position: absolute;
    top: 50%;
    background-color: #fff;
    width: 1170px;
    z-index: 9;
    height: 175px;
    border: 13px solid #fbfbfb;
    border-radius: 10px;
    box-shadow: 0 0 11px #b3b3b3;
    z-index: 9;
}
.mainPrimary .quick-area ul.nav-menu {
    display: block;
    text-align: center;
    width: 330px;
    height: 45px;
    line-height: 21px;
    border-bottom: 1px solid #999999;
    margin: 0 auto;
}
.mainPrimary .quick-area ul.nav-menu li {
    position: relative;
    float: left;
    top: 2px;
    border: none;
    width: 85px;
    margin: 0 12px;
    text-align: center;
    background: none;
}
.mainPrimary .quick-area ul.nav-menu li a {
    width: 90px;
    height: 41px;
    font-size: 21px;
    color: #afafaf;
}
.mainPrimary .quick-area ul.nav-menu li.active {
    border-bottom: 4px solid #e8202e;
    color: #333;
}
.nav-tabs1 .tabPanel .pd-wrap {
    padding: 25px 15px;
}
.form-area .search-area {
    height: 60px;
    border: 1px solid #999;
    margin-top: 15px;
    border-radius: 3px;
}
.form-area .search-area .area {
    display: inline-block;
    border-right: 1px solid #999;
    height: 100%;
    float: left;
    /*padding-left: 25px;*/
}
.form-area .search-area .date {
    width: 43%;
}
.form-area .search-area .area dl {
    display: inline-block;
    width: 42%;
    padding: 8px 0 0 15px;
    margin-right: 20px;
}
.date-time-area .time-area select {
    width: 90px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    font-family: "Roboto";
}
#tabs-3 .form-area .search-area .zone {
    position: relative;
    width: 40%;
}
#tabs-3 .form-area .search-area .zone .change {
    position: absolute;
    top: 17px;
}



.form-area .search-area .zone dl {
    width: 35%;
}


.form-area .search-area .area dt {
    font-size: 12px;
}
.form-area .date-wrap .datepicker {
    border: none;
    text-align: left;
    font-size: 17px;
    padding: 0;
    font-family: "Roboto";
}
.form-area .search-area .date img {
    display: none;
}
.form-area .search-area .search button {
    width: 100%;
    height: 100%;
    background-color: #e8202e;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 5px #929291;
}
.form-area .search-area .search .btn {
    width: 100%;
    height: 100%;
    background-color: #e8202e;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 5px #929291;
}
.form-area .select {
    width: 22%;
}
.form-area .lb-ch .text {
    font-size: 16px;
    font-weight: normal;
}
.quick-area .search-area .popup-typeA {
    top: 115px;
}
.form-area .search-area .area .value-text a {
    display: block;
    color: #888;
    line-height: 30px;
}
#tabs-1 .form-area .value-text .date-time-area {
    width:50%;
}
#tabs-1 .form-area .value-text .date-container {
    width:20%;
    display: table-cell;
}
#tabs-1 .form-area .value-text .time-area {
    display: table-cell;
}


#tabs-3 .form-area .search-area .count {
    border: none;
    width: 20%;
}
#tabs-3 .form-area .search-area .count dl {
    width: 100%;
}

.nav-tabs3 .tabPanel .pd-wrap {
    padding: 10px 30px;
}

.form-area .search-area .search {
    width: 90px;
    height: 100%;
    float: right;
}
#tabs-1 .form-area .name {
    width: 23%;
    border: none;
}
#tabs-3 .form-area .name dl {
    width: 60%;
}

.form-area .date-wrap {
    width: 120px;
}
.form-area .check-area {
    position: absolute;
    top: 0;
}


/* - footer - */
#_footer {
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    z-index: 55;
    margin: 20px 0;
}
#_footer .f_inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    zoom: 1;
}

/* service_support */
#_footer .service_support {
    position: relative;
    width: auto;
    height:40px;
    border-top:1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
#_footer .service_support ul {
    display: inline;
    float: left;
    margin-left: 5px;
    padding-top: 12px;
}
#_footer .service_support li {
    float: left;
    margin-right: 30px;
}
#_footer .service_support li a {
    display: block;
    height: 15px;
    line-height: 15px;
    color: #777;
    font-size: 13px;
}

/* corp_wrap */
#_footer .corp_wrap {
    position: relative;
}
#_footer .corp_wrap .corp_rgt {
    position: absolute;
    top: 20px;
    right: 0;
    width: 260px;
    height: 150px;
}
#_footer .corp_rgt .f_sns {
    position: absolute;
    width: 260px;
    height: 50px;
}
#_footer .corp_rgt .f_sns a {
    display: inline-block;
    overflow: hidden;
    float: left;
    background-image: url("../../images/web/r_main/sns.png");
    background-repeat: no-repeat;
    width: 47px;
    height: 48px;
    margin-left: 5px;
}
#_footer .corp_rgt .f_sns a.nv {
    background-position: -53px 0;
}
#_footer .corp_rgt .f_sns a.fb {
    background-position: -106px 0;
}
#_footer .corp_rgt .f_sns a.ig {
    background-position: -159px 0;
}
#_footer .corp_rgt .f_sns a.ub {
    background-position: -212px 0;
}
#_footer .corp_rgt .f_sns span {
    display: inline-block;
    width: 1px;
    height: 1px;
    font-size: 0;
}
#_footer .corp_rgt .f_down {
    position: relative;
    display: block;
    top: 68px;
    float: right;
}
#_footer .corp_rgt .f_down a {
    display: inline-block;
    width: 80px;
    height: 95px;
    margin-left: 15px;
}
#_footer .corp_rgt .f_down span {
    float: right;
    color: #505050;
    font-size: 11px;
    padding-right: 5px;
}
#_footer .corp_rgt .f_down img {
    width: 80px;
}

#_footer .corp_wrap .corp_info {
    padding: 16px 0 13px 5px;
    line-height: 29px;
}
#_footer .corp_wrap .corp_info dl dt {
    color: #222;
    font-size: 13px;
    font-family: "NotoSans B";
    font-weight: bold;
}
#_footer .corp_wrap .corp_info dl dd {
    display: inline-block;
}
#_footer .corp_wrap .corp_info .corp_info_cs em{
    color:#222;
    font-size:27px;
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0;
}
#_footer .corp_wrap .corp_info .corp_info_cs em::before{
    content: '';
    display: inline-block;
    background-image: url("../../images/web/r_main/nao_cs.png");
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 0 0;
    vertical-align: middle;
    width: 26px;
    height: 30px;
    margin-right: 2px;
}
#_footer .corp_wrap .corp_info .corp_info_cs span {
    font-size: 14px;
    vertical-align: top;
    margin-left: 10px;
}
#_footer .corp_wrap .corp_info .corp_info_tx {
    line-height: 22px;
    font-size:13px;
    color: #777;
}
#_footer .corp_wrap .corp_info .corp_info_tx span {
    margin-left: 10px;
}
#_footer .corp_wrap .corp_info .corp_info_tx span:first-child{
    margin-left: 0;
}
#_footer .corp_wrap .corp_info .corp_info_copy {
    line-height: 18px;
    color: #a5a5a5;
    font-size: 12px;
    font-family: "Roboto";
    font-weight: bold;
    margin-top:15px;
}
#_footer .corp_wrap .award {
    display: inline-block;
    width: 100%;
    padding: 5px 0 0 5px;
    /*border-top: 1px solid #e6e6e6;*/
}
#_footer .corp_wrap .award li {
    display: inline-block;
    height:30px;
}
#_footer .corp_wrap .award li img {
    width: 83%;
}







