@charset "utf-8";


/* --------------------------------------------------------- index  ------------------------------------------------------------------ */
/* item common */
.mainContainer .item {background: #fff; border: 1px solid #d3d2d2;}

/* top-head */
.mainContainer .top-head {overflow: hidden; /*margin-bottom: 25px;*/}
.mainContainer .top-head > div,
.mainContainer .top-head .r-Area {height: 292px; overflow: hidden;}
.mainContainer .top-head > .lArea {float: left; width: 568px; border-right: none;}
.mainContainer .top-head > .lArea ul.menuList {float: left; width: 70px; text-align: center;}
.mainContainer .top-head > .lArea ul.menuList > li {background: #939393; font-size: 15px; border-top: 1px solid #d8d7d7; display: table; width: 100%;}
.mainContainer .top-head > .lArea ul.menuList > li:first-child {border-top: none;}
.mainContainer .top-head > .lArea ul.menuList > li > a {display: table-cell; vertical-align: middle; height: 97px;}
.mainContainer .top-head > .lArea ul.menuList > li > a.select {background: #fff;}
.mainContainer .top-head > .lArea ul.menuList li .icon {display: none;}
.mainContainer .top-head > .lArea ul.menuList li .text {color: #fff; font-weight: 700;}
.mainContainer .top-head > .lArea ul.menuList li a.select .icon {display: block; margin-bottom: 6px;}
.mainContainer .top-head > .lArea ul.menuList li a.select .text {color: #333;}
.mainContainer .top-head > .lArea div.tabPanel {float: left; width: 450px; height: 270px; padding-left: 25px; padding-top: 20px; position: relative; display: none;}
.mainContainer .top-head > .lArea div.tabPanel .title {margin-bottom: 30px;}
.mainContainer .top-head > .lArea div.tabPanel .title span {font-size: 13px; color: #333;}
.mainContainer .top-head > .lArea div.tabPanel .mitBT {text-align: center;}
.mainContainer .top-head .tabPanel .r-Area {position: absolute; right: 0; top: 0; width: 313px;}
.mainContainer .top-head .tabPanel .r-Area .icon-wrap {position: absolute; bottom: 10px; width: 100%; text-align: center;}
.mainContainer .top-head .tabPanel .r-Area .icon-wrap a {display: inline-block; border-left: 1px solid #dbdbda;}
.mainContainer .top-head .tabPanel .r-Area .icon-wrap a:first-child {border-left: none;}
.mainContainer .top-head #tabs-1 .r-Area {background: url(../../images/web/main/air_bg.jpg) no-repeat center top;}
.mainContainer .top-head > .rArea {float: right; width: 409px; overflow: hidden; border-left: none;}
.mainContainer .top-head .rArea a img {width: 100%;}

/* top-head (form) */
.mainContainer .top-head .checkList ul.check {display: table; margin-top: 8px;}
.mainContainer .top-head .checkList ul.check:first-child {margin-top: 0;}
.mainContainer .top-head .checkList ul.check.cal2 {display: inline-block; margin-right: 2px; margin-bottom: -3px;}

.mainContainer .top-head .checkList ul.check li {display: table-cell; vertical-align: middle; font-size: 12px; color: #262626;}
.mainContainer .top-head .checkList ul.check li.title {
    width: 68px;
    color: #000000; background: url("../../images/web/list/01.gif") no-repeat left center; padding-left: 8px;
    font-weight: 700;
}
.mainContainer .top-head .checkList ul.marL li.title {width: 30px;}
.mainContainer .top-head .checkList ul.check li.list label {margin-right: 6px;}
.mainContainer .top-head .checkList ul.check li.list label img {vertical-align: baseline; position: relative; top: 2px;}
.mainContainer .top-head .checkList ul.check input {height: 30px; vertical-align: middle; font-size: 12px;}
.mainContainer .top-head .checkList ul.check select {width: 105px; height: 30px; padding: 5px; margin-left: 5px; vertical-align: middle; font-size: 12px;}
.mainContainer .top-head .checkList ul.check .option {margin-left: 0px;}
.mainContainer .top-head .checkList ul.check .option.wide {width: 321px;}
.mainContainer .top-head .checkList ul.check li.col3 select {width: 105px;}
.mainContainer .top-head .checkList ul.check select#adult {margin-left: 0px;}
.mainContainer .top-head .checkList ul.check select#children {margin-left: 0px;}
.mainContainer .top-head .checkList ul.check select#child {margin-left: 0px;}
.mainContainer .top-head .checkList ul.check .lodgeName {width: 75px;}
.mainContainer .top-head .checkList ul.check .lodge_time_st {width: 60px;}
.mainContainer .top-head .checkList ul.check #start_region,
.mainContainer .top-head .checkList ul.check #end_region {margin-left: 0;}
.mainContainer .top-head .checkList ul.block li.title {margin-bottom: 10px;}
.mainContainer .top-head .checkList ul.calendar {display: block;}
.mainContainer .top-head .checkList ul.calendar input.datepicker {width: 213px;}
.mainContainer .top-head .checkList ul.calendar2 {margin-left: 25px;}
.mainContainer .top-head .checkList ul.calendar2 li.title {width: 50px;}
.mainContainer .top-head .checkList ul.button {position: absolute; width: 92%; width: calc(100% - 40px); bottom: 14px;}
.mainContainer .top-head .checkList ul.button li {text-align: center;}
.mainContainer .top-head .checkList ul.can2 {display: inline-block; margin-bottom: -3px;}
.mainContainer .top-head .checkList .marL {margin-left: 10px;}
.mainContainer .top-head .checkList ul.radio {margin-top: -2px;}
.mainContainer .top-head .checkList ul.check li .option-sel {margin-left: 0 !important; width: 345px;}
.mainContainer .top-head .checkList ul.check.cal2 li .option-sel {width: 100%;}
.checkList #vFromTm, .checkList #vToTm {margin-left: 5px;}
.mainContainer .top-head .checkList #sPrdtNm {width: 160px;}
.mainContainer .top-head .checkList #vMen {width: 109px;}
.mainContainer .top-head .checkList #sAdFromDtView {width: 321px;}

.mainContainer .top-head #tabs-1 .checkList ul.check input[type=radio] {height: 22px;}
.mainContainer .top-head #tabs-1 .checkList ul.check input[type=checkbox] {height: 22px;}
.mainContainer .top-head #tabs-2 .checkList ul.check {margin-top: 7px;}
.mainContainer .top-head #tabs-2 .checkList ul.check li.list label {margin-right: 4px; letter-spacing: -1px;}
.mainContainer .top-head #tabs-2 .checkList ul.check.cal2 .option.wide {width: 100px;}
.mainContainer .top-head #tabs-2 .checkList ul.check.cal2 li.list select[name="vAdAdar"] {width: 160px;}
.mainContainer .top-head #tabs-2 .checkList ul.check.price {margin-left: 8px;}
.mainContainer .top-head #tabs-2 .checkList ul.check.price li.title {width: 30px;}
.mainContainer .top-head #tabs-2 .checkList ul.check.price li.list select[name="vPriceSe"] {width: 109px;}
.mainContainer .top-head #tabs-2 .checkList ul.check.info input {height: 24px; margin-right: 4px;}
.mainContainer .top-head #tabs-2 .checkList ul.check.info li.list label {display: inline-block; width: 67px;}
.mainContainer .top-head #tabs-3 .checkList ul.check {margin-top: 7px;}
.mainContainer .top-head #tabs-3 .checkList ul.check li.title {width: 70px;}
.mainContainer .top-head #tabs-3 .checkList ul.check .option.wide {width: 345px;}
.mainContainer .top-head #tabs-3 .checkList ul.check .ms-parent {width: 345px !important;}
.mainContainer .top-head #tabs-3 .checkList ul.check.cal2 .option.wide {width: 120px;}
.mainContainer .top-head #tabs-3 .checkList ul.check.info input {height: 24px; margin-right: 4px;}
.mainContainer .top-head #tabs-3 .checkList ul.check.info li.list label {display: inline-block; width: 67px;}
.mainContainer .top-head #tabs-3 .checkList ul.check.company {width: 50%;}
.mainContainer .top-head #tabs-3 .checkList ul.check.company select {width: 142px;}
.mainContainer .top-head #tabs-3 .checkList ul.check.type {width: 44%;}
.mainContainer .top-head #tabs-3 .checkList ul.check.type select {width: 114px;}


/* itemWrap */
.mainContainer .itemWrap {/*width: 1000px; overflow: hidden;*/ min-height: 500px;}
.mainContainer .itemWrap > .item {float: left; width: 315px; /*margin-right: 15px; margin-bottom: 15px;*/ overflow: hidden;}
.mainContainer .itemWrap > .item > .pdWrap {padding: 10px;}
.mainContainer .itemWrap .comm-slider2 {position: relative;}

/* item common */
.mainContainer .list-wrap .item {padding-bottom: 15px;}
.mainContainer .list-wrap .item .photo {/* border-bottom: 1px solid #d3d2d2; */}
.mainContainer .comm-slider1 {overflow: hidden;}
.mainContainer .item .nt {position: absolute; z-index: 2; overflow: hidden;}
.mainContainer .item .nt img {float: left; width: auto;}
.mainContainer .item .ntTopL {top: 0; left: 0;}
.mainContainer .item .ntTopR {top: 0; right: 0;}
.mainContainer .item .ntBottomR {top: 5px; right: 5px;}
.mainContainer .item .ntReservation {right: 0; bottom: 0; background: #e8202e; color: #fff; font-size: 12px; padding: 2px 4px;}
.mainContainer .item .ntBG {
    background: url("../../images/web/icon/ranking2.png") no-repeat left top;
    width: 36px; height: 43px; line-height: 49px; font-size: 11px; font-weight: 700; color: #fff; text-align: center; font-family:'돋움', '돋움체', 'Dotum', sans-serif;
    top: 0; left: 8px; display: none;
}
.mainContainer .list-wrap .item:nth-child(1) .ntBG {background: url("../../images/web/icon/ranking3.png") no-repeat left top;}
.mainContainer .list-wrap .item:nth-child(2) .ntBG {background: url("../../images/web/icon/ranking3.png") no-repeat left top;}
.mainContainer .list-wrap .item:nth-child(3) .ntBG {background: url("../../images/web/icon/ranking3.png") no-repeat left top;}

.mainContainer .item .photo {height: 196px; overflow: hidden; position: relative;}
.mainContainer .item .photo2 {height: 103px; overflow: hidden; position: relative;}
.mainContainer .item .photo2 img {width: 316px;}
.mainContainer .item .comm-slider2 .photo {height: 500px;}
.mainContainer .item .photo img.icon {position: absolute; left: 10px; top: 10px;}
.mainContainer .item .photo img.img {width: 100%; height: 196px;}
.mainContainer .item3 .photo img.img {width: 313px; height: 500px;}
.mainContainer .item .textWrap {margin-top: 20px; position: relative;}
.mainContainer .item .textWrap .title-wrap {height: 34px;}
.mainContainer .item .textWrap .title {font-size: 14px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.mainContainer .item .textWrap .subTitle {font-size: 12px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; margin-top: 4px; color: #3f3f3f;}
.mainContainer .item .textWrap .price {font-size: 18px; font-family: 'Noto Sans KR', sans-serif; font-weight: 700; color: #32353a; margin-top: 5px;}
.mainContainer .item .textWrap .price span {font-size: 14px; color: #32353a;}
.mainContainer .item .textWrap .price-info {font-size: 12px; color: #96969e; padding-bottom: 2px;}
.mainContainer .item .textWrap .saleWrap {height: 45px; margin-top: 10px; position: relative;}
.mainContainer .item .textWrap .saleWrap2 {height: auto; margin-top: 30px;}
.mainContainer .item .textWrap .saleWrap p {display: inline-block; position: relative;}
.mainContainer .item .textWrap .saleWrap p.sale {
    font-size: 1.875em; color: #e8202e; font-weight: 700; letter-spacing: -2px;
}
.mainContainer .item .textWrap .saleWrap p.sale small {font-size: 20px; font-weight: 700; color: #e8202e;}
.mainContainer .item .textWrap .saleWrap p.sale .t_price {font-size: 15px;}

.mainContainer .item .textWrap .saleWrap p.won span.won1 {
    position: absolute; top: -12px; /*font-size: 0.750em;*/ font-size: 12px; color: #a8a0a5; text-decoration: line-through;
}
.mainContainer .item .textWrap .saleWrap p.won span.won2 {color: #33353d; font-size: 19px; font-weight: 800;}
.mainContainer .item .textWrap .saleWrap p.won {position: absolute; right: 0; bottom: -2px; z-index: 2;}
.mainContainer .item .textWrap .saleWrap p.date {font-size: 12px;}
.mainContainer .item .textWrap .comment {position: absolute; right: 0; bottom: 7px;}
.mainContainer .item .textWrap .comment p {font-size: 0.750em; color: #666666;}
.mainContainer .item .textWrap .comment p.like > span {display: inline-block; vertical-align: middle; font-size: 12px;}
.mainContainer .item .textWrap .comment p.like span img {display: inline-block;}
.mainContainer .item .list-number {margin-top: 20px; text-align: center;}
.mainContainer .item .comm-slider2 .list-number {margin-bottom: 10px;}
.mainContainer .item .list-number a {
    display:inline-block; width: 10px; height: 10px; text-indent: -999px;
    background: url("../../images/web/main/slider-list-off.gif") no-repeat center;
    margin: 0 1px;
}
.mainContainer .item .list-number a.select {background-image: url("../../images/web/main/slider-list-on.gif");}
.mainContainer .item .list-number a.play {background-image: url("../../images/web/main/play.gif");}
.mainContainer .item .list-number a.stop {background-image: url("../../images/web/main/stop.gif");}

#quick-slider {position: relative;}
.mainContainer .slider-number {height: 10px; width: 100%; text-align: center; position: absolute; bottom: 14px; z-index: 89;}
.mainContainer .slider-number a {
    display:inline-block; width: 10px; height: 10px; text-indent: -999px;
    background: url("../../images/web/main/slider-list-off.gif") no-repeat center;
    margin: 0 1px;
}
.mainContainer .slider-number a.select {background-image: url("../../images/web/main/slider-list-on.gif");}
.mainContainer .slider-number a.play {background-image: url("../../images/web/main/play.gif");}
.mainContainer .slider-number a.stop {background-image: url("../../images/web/main/stop.gif");}

.mainContainer #quick-slider .slider-number {position: absolute; left: 0; right: 0; bottom: 10px; margin: 0 auto;}
.mainContainer #quick-slider .slider-number a {width: 9px; height: 9px; background: url("../../images/web/main/slider-list-off.png") no-repeat center; margin: 0 2px;}
.mainContainer #quick-slider .slider-number a.select {background-image: url("../../images/web/main/slider-list-on.png");}

.mainContainer #quick-slider .slider-btn {position: absolute; width: 100%; top: 40%; top: calc(50% - 25px); z-index: 89;}
.mainContainer #quick-slider .slider-btn button {border: none; position: absolute;}
.mainContainer #quick-slider .slider-btn .left {left: 0;}
.mainContainer #quick-slider .slider-btn .right {right: 0;}

.mainContainer .rArea.item ul li {width: 410px;}
.mainContainer .rArea.item .photo {height: 294px;}
.mainContainer .rArea.item .photo img.img {width: 100%; height: 100%;}


.mainContainer .item h5.info-title {background: #fff6ed; color: #171414; line-height: 45px; text-align: center; font-size: 16px; margin: 10px;}
.mainContainer .item h6.top-title {margin-top: 5px; text-align: center;}
.mainContainer .item h6.top-title strong {border: 1px solid #f75e4c; padding: 2px 8px; display: inline-block; color: #e8202e; font-weight: 800;}
.mainContainer .item h4.top-mainTitle {text-align: center; padding-bottom: 10px; margin-top: 6px; margin-bottom: 6px; font-weight: 700;}
.mainContainer .rArea.item h4.top-mainTitle {margin-top: 12px; margin-bottom: 12px; padding-bottom: 0; font-size: 17px; font-weight: 700;}
.mainContainer .item .slide-bt {position: absolute; top: 0; right: 0; z-index: 9;}
.mainContainer .item .slide-bt a {float: left; margin-left: 1px;}
.mainContainer .item .comm-slider1 .menuList {overflow: hidden; margin-bottom: 20px;}
.mainContainer .item .comm-slider1 .menuList > li {float: left; width: 33.3%; text-align: center; font-size: 12px;}
.mainContainer .item .comm-slider1 .menuList > li > a {display: block; border:1px solid #c2c4c3; border-left: none; line-height: 30px;}
.mainContainer .item .comm-slider1 .menuList > li:first-child a {border-left:1px solid #c2c4c3;}
.mainContainer .item .comm-slider1 .menuList > li > a.select {background: #747474; color: #fff;}
.mainContainer .item #slider-wrap4 .menuList > li {width: 25%;}
.mainContainer .item img.full {display: block;}
.mainContainer ul.slider-list li {width: 100%;}
.mainContainer .no-item {height: 305px; overflow: hidden;}
.mainContainer .no-item .photo {height: 150px;}

/* item 2개 */
.mainContainer ul.slider-list li .item-two:last-child {width: calc(50% - 1px);}
.mainContainer .item .item-two {float: left; width: 50%;}
.mainContainer .item .item-two a {display: block; padding-left: 4px;}
.mainContainer .item .item-two:first-child a {padding-left: 0px; padding-right: 4px;}
.mainContainer .item .item-two .photo {height: 98px; border: 1px solid #e2e2e2;}
.mainContainer .item .item-two .photo img.img {height: 98px;}
.mainContainer .item .item-two .textWrap .saleWrap p.sale {font-size: 22px; margin-right: 5px;}
.mainContainer .item .item-two .textWrap .saleWrap p.won span.won2 {font-size: 16px;}

/* item 2개 > 새로운상품 */
.mainContainer .item2 .item-two .textWrap .title {
    white-space: normal;
    overflow: hidden; text-overflow: ellipsis; display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height: 18px;
    height: 36px;
}
.mainContainer .item2 h4.top-mainTitle {padding: 10px 0 0px;}

/* item > 베스트 묶음 할인상품 */
.mainContainer .item #slider-wrap4 {margin-top: 30px;}

/* item8(인기마켓), item11(단체여행) */
.mainContainer .item-introduce * {color: #fff;}
.mainContainer .item-introduce .photo-box {width: 78px; height: 78px; overflow: hidden; border-radius: 78px; margin: 0 auto; margin-bottom: 10px;}
.mainContainer .item-introduce .photo-box img {width: 78px; height: 78px;}
.mainContainer .item-introduce h5 {text-align: center;}
.mainContainer .item-introduce h6 {text-align: center;}
.mainContainer .item-introduce h5.main {margin-top: 4px;}
.mainContainer .item-introduce ul.introduce-list {overflow: hidden; margin-bottom: 15px;}
.mainContainer .item-introduce ul.introduce-list li {float: left; width: 33.3%;}
.mainContainer .item-introduce ul.introduce-list li a {display: block;}
.mainContainer .item11 {background: #5fb3b2;}
.mainContainer .item11 h6.sub {color: #cbc7f9;}
.mainContainer .item11 h4.top-mainTitle {border-bottom: 1px solid #6fbbba; margin-top: 10px; margin-bottom: 25px;}

/* 메인 이벤트 영역 */
.mainContainer .item3 .no-content {line-height: 450px;}



/* new main content(2016-03-07) */
.item-group1 .head {position: relative;}
.item-group1 .head h2,
.item-group1 .head nav {display: inline-block;}
.item-group1 .head h2 {font-size: 24px; color: #344f59; font-weight: 700; margin: 28px 0 10px;}

.item-group1 .head h2 a.more {position: absolute; top: 26px; right: 0; z-index: 2;}

.item-group1 .head nav a {display: inline-block; font-size: 14px; padding: 0 5px 4px; color: #242020;}
.item-group1 .head nav a.active {border-bottom: 3px solid #fd3540;}
.item-group1 .list-wrap {overflow: hidden; width: 1000px; margin-top: 5px;}
/* item 3개
.item-group1 .list-wrap .item {float: left; width: 317px; margin-right: 12px; margin-bottom: 12px;}
.item-group1 .list-wrap .item .photo {height: 211px;}
.item-group1 .list-wrap .item .photo img.img {height: 211px;}
.item-group1 .list-wrap .item .textWrap {margin: 0; padding: 15px 20px 7px;}
.item-group1 .list-wrap .item .textWrap .comment {right: 20px; bottom: 16px;}
*/
/* item 4개
.item-group1 .list-wrap .item {float: left; width: 234px; margin-right: 12px; margin-bottom: 12px;}
.item-group1 .list-wrap .item .photo {height: 156px;}
.item-group1 .list-wrap .item .photo img.img {height: 100%;}
.item-group1 .list-wrap .item .textWrap {margin: 0; padding: 15px 15px 7px;}
.item-group1 .list-wrap .item .textWrap .comment {right: 16px; bottom: 16px;}
*/
/* item 5개 */
.item-group1 .list-wrap .item {float: left; width: 186px; margin-right: 10px; margin-bottom: 10px;}
.item-group1 .list-wrap .item .photo {height: 125px; background: #ccc;}
.item-group1 .list-wrap .item .photo img.img {height: 100%;}
.item-group1 .list-wrap .item .textWrap {margin: 0; padding: 15px 12px 0px;}
.item-group1 .list-wrap .item .textWrap .comment {right: 10px; bottom: 0;}
.mainContainer .item .textWrap .saleWrap {height: 30px; margin-top: 10px;}

/*.item-group1 .ct-page {display: none !important;}*/
.head .ct-page {position: absolute; right: 0; bottom: 5px; overflow: hidden;}
.head .ct-page span {float: left; display: block; height: 28px;}
.head .ct-page .number {color: #c6c4ce; border-top: 1px solid #d9dbe2; border-bottom: 1px solid #d9dbe2; line-height: 26px; padding: 0 8px; background: #f9f9f9;}

.item-group2 {margin-top: 20px;}
.item-group2 .head {position: relative;}
.item-group2 .head h2 {font-size: 24px; color: #344f59; font-weight: 700; margin: 28px 0 15px;}
.item-group2 .ct-wrap {border: 1px solid #d3d2d2; background: #fff;}
.item-group2 .list-wrap {padding-bottom: 30px;}
.item-group2 .list-wrap h3 {text-align: center; margin: 20px 0 10px;}
.item-group2 .list-wrap .textWrap {margin: 0; padding: 15px 10px 15px;}

/* item4
.item-group2 .item {border: none; padding: 0 15px;}
.item-group2 .item:first-child .list-wrap {border-bottom: 1px solid #ededec;}
.item-group2 .item ul {overflow: hidden; width: 1000px;}
.item-group2 .item ul li {float: left; width: 222px; margin-right: 20px;}
.item-group2 .item .photo {height: 148px;}
.item-group2 .item .photo img.img {height: 147px;}
.item-group2 .item .textWrap .comment {bottom: 10px;}
.item-group2 .head .ct-page {bottom: 0px;}
*/
.item-group2 .item {border: none; padding: 0 9px;}
.item-group2 .item:first-child .list-wrap {border-bottom: 1px solid #ededec;}
.item-group2 .item ul {overflow: hidden; width: 1000px;}
.item-group2 .item ul li {float: left; width: 182px; margin-right: 10px; border: 1px solid #d3d2d2;}
.item-group2 .item .photo {height: 120px; background: #ccc;}
.item-group2 .item .photo img.img {height: 100%;}
.item-group2 .item .textWrap .comment {bottom: 15px; right: 10px;}
.item-group2 .head .ct-page {bottom: 0px;}


/* split2 */
.item-group2 .col2 {display: table; width: 100%; border-bottom: 1px solid #ededec;}
.item-group2 .col2 .item {display: table-cell; width: 50%; vertical-align: top;}
.item-group2 .col2 .item ul {width: auto;}
.item-group2 .col2 .item1 {padding-right: 10px;}
.item-group2 .col2 .item2 {padding-left: 10px;}
.item-group2 .col2 .item ul li {float: left; width: 222px; margin-left: 20px; margin-right: 0;}
.item-group2 .col2 .item ul li:first-child {margin-left: 0px;}
.item-group2 .col2 .item:first-child .list-wrap {border-bottom: none;}

/* item 3개
.item-group3 {margin-top: 20px; display: table; width: 100%;}
.item-group3 .l-area, .item-group3 .r-area {display: table-cell; vertical-align: top; height: 300px;}
.item-group3 .l-area {width: 140px; background: #ff483b; position: relative;}
.item-group3 .l-area::after {position: absolute; right: -10px; top: 50%; top: calc(50% - 10px); content: url("../../images/web/main/group3_arrow.png"); z-index: 2;}
.item-group3 .text-wrap {padding: 30px 14px 20px;}
.item-group3 .text-wrap h2 {font-size: 30px; font-weight: 400; color: #fff;}
.item-group3 .text-wrap ul {margin-top: 15px;}
.item-group3 .text-wrap ul li {border-top: 1px solid #fff; padding: 9px 0; position: relative;}
.item-group3 .text-wrap ul li:first-child {border-top: none;}
.item-group3 .text-wrap ul li.active::after {position: absolute; right: 0px; top: 8px; content: url("../../images/web/main/menu_arrow.png"); z-index: 2;}
.item-group3 .text-wrap ul li a {font-size: 14px; color: #fff; display: block;}
.item-group3 .text-wrap ul li a:hover {font-weight: 700;}
.item-group3 .content-wrap {padding: 25px 2px;}
.item-group3 .content-wrap ul {overflow: hidden;}
.item-group3 .content-wrap ul li {float: left; width: 238px; border-left: 1px solid #d1d0d0; padding: 0 20px;}
.item-group3 .content-wrap ul li:first-child {border-left: none;}
.item-group3 .content-wrap .photo {height: 159px;}
.item-group3 .content-wrap .photo img.img {height: 159px;}
.item-group3 .content-wrap .textWrap .comment {bottom: 10px;}
*/
.item-group3 {margin-top: 20px; display: table; width: 100%;}
.item-group3 .l-area, .item-group3 .r-area {display: table-cell; vertical-align: top; height: 295px;}
.item-group3 .l-area {width: 140px; background: #ff483b; position: relative;}
.item-group3 .l-area::after {position: absolute; right: -10px; top: 50%; top: calc(50% - 10px); content: url("../../images/web/main/group3_arrow.png"); z-index: 2;}
.item-group3 .text-wrap {padding: 30px 14px 20px;}
.item-group3 .text-wrap h2 {font-size: 30px; font-weight: 400; color: #fff;}
.item-group3 .text-wrap ul {margin-top: 15px;}
.item-group3 .text-wrap ul li {border-top: 1px solid #fff; padding: 6px 0; position: relative;}
.item-group3 .text-wrap ul li:first-child {border-top: none;}
.item-group3 .text-wrap ul li.active::after {position: absolute; right: 0px; top: 8px; content: url("../../images/web/main/menu_arrow.png"); z-index: 2;}
.item-group3 .text-wrap ul li a {font-size: 14px; color: #fff; display: block;}
.item-group3 .text-wrap ul li a:hover {font-weight: 700;}
.item-group3 .content-wrap {padding: 30px 2px;}
.item-group3 .content-wrap ul {overflow: hidden;}
.item-group3 .content-wrap ul li {float: left; width: 188px; border-left: 1px solid #d1d0d0; padding: 0 10px;}
.item-group3 .content-wrap ul li:first-child {border-left: none;}
.item-group3 .content-wrap .photo {height: 125px;}
.item-group3 .content-wrap .photo img.img {height: 125px;}
.item-group3 .content-wrap .textWrap .comment {bottom: 10px;}

.item-group4 {margin-top: 20px; display: table; width: 100%;}
.item-group4 .l-area, .item-group4 .r-area {display: table-cell; vertical-align: top; height: 300px;}
.item-group4 .r-area {width: 140px; background: #7c39d9; position: relative;}
.item-group4 .r-area::after {position: absolute; left: -10px; top: 50%; top: calc(50% - 10px); content: url("../../images/web/main/group4_arrow.png"); z-index: 2;}
.item-group4 .text-wrap {padding: 95px 18px;}
.item-group4 .text-wrap h2 {font-size: 30px; font-weight: 400; color: #fff;}
.item-group4 .text-wrap p {font-size: 12px; line-height: 20px; font-weight: 700; color: #fff; margin-bottom: 15px;}
.item-group4 .text-wrap ul {margin-top: 15px;}
.item-group4 .text-wrap ul li {border-top: 1px solid #fff; padding: 10px 0; position: relative;}
.item-group4 .text-wrap ul li:first-child {border-top: none;}
.item-group4 .text-wrap ul li.active::after {position: absolute; right: 0px; top: 11px; content: url("../../images/web/main/menu_arrow.png"); z-index: 2;}
.item-group4 .text-wrap ul li a {font-size: 14px; color: #fff;}
.item-group4 .content-wrap {padding: 25px 2px;}
.item-group4 .content-wrap ul {overflow: hidden;}
.item-group4 .content-wrap ul li {float: left; width: 238px; border-left: 1px solid #d1d0d0; padding: 0 20px;}
.item-group4 .content-wrap ul li:first-child {border-left: none;}
.item-group4 .content-wrap .photo {height: 159px;}
.item-group4 .content-wrap .photo img.img {height: 159px;}
.item-group4 .content-wrap .textWrap .comment {bottom: 10px;}

.item-group5 .head {position: relative;}
.item-group5 .head h2, .item-group5 .head nav {display: inline-block;}
.item-group5 .head h2 {font-size: 24px; color: #344f59; font-weight: 700; margin: 28px 0 10px;}
.item-group5 .head nav a {display: inline-block; font-size: 14px; padding: 0 5px 4px; color: #242020;}
.item-group5 .head nav a.active {border-bottom: 3px solid #fd3540;}
.item-group5 .list-wrap {overflow: hidden; width: 1000px; margin-top: 5px;}
/* item 3개
.item-group5 .list-wrap .item {float: left; width: 317px; margin-right: 12px; margin-bottom: 12px;}
.item-group5 .list-wrap .item .photo {height: 211px;}
.item-group5 .list-wrap .item .photo img.img {height: 211px;}
.item-group5 .list-wrap .item .textWrap {margin: 0; padding: 15px 20px 7px;}
.item-group5 .list-wrap .item .textWrap .comment {right: 20px; bottom: 16px;}
*/
/* item 4개
.item-group5 .list-wrap .item {float: left; width: 234px; margin-right: 12px; margin-bottom: 12px;}
.item-group5 .list-wrap .item .photo {height: 156px;}
.item-group5 .list-wrap .item .photo img.img {height: 100%;}
.item-group5 .list-wrap .item .textWrap {margin: 0; padding: 15px 15px 7px;}
.item-group5 .list-wrap .item .textWrap .comment {right: 16px; bottom: 16px;}
*/
.item-group5 .list-wrap .item {float: left; width: 186px; margin-right: 10px; margin-bottom: 10px;}
.item-group5 .list-wrap .item .photo {height: 125px; background: #ccc;}
.item-group5 .list-wrap .item .photo img.img {height: 100%;}
.item-group5 .list-wrap .item .textWrap {margin: 0; padding: 15px 10px 0px;}
.item-group5 .list-wrap .item .textWrap .comment {right: 10px; bottom: 0;}

.item-group6 .Fasten {overflow: hidden;}

/* .item-group6 .l-area {float: left; width: 485px; overflow: hidden; margin-right: 5px;}
.item-group6 .r-area {float: right; width: 485px; overflow: hidden; margin-left: 5px;} */

.item-group6 .l-area {float: left; width: 386px; overflow: hidden; margin-right: 5px;}
.item-group6 .r-area {float: right; width: 584px; overflow: hidden; margin-left: 5px;}

.item-group6 .head {position: relative;}
.item-group6 .head h2, .item-group6 .head nav {display: inline-block;}
.item-group6 .head h2 {font-size: 24px; color: #344f59; font-weight: 700; margin: 28px 0 10px;}
.item-group6 .head nav a {display: inline-block; font-size: 14px; padding: 0 5px 4px; color: #242020;}
.item-group6 .head nav a.active {border-bottom: 3px solid #fd3540;}
.item-group6 .list-wrap {overflow: hidden; width: 1000px; margin-top: 5px;}

/* 각각 item 2개
.item-group6 .list-wrap .item {float: left; width: 234px; margin-right: 12px; margin-bottom: 12px;}
.item-group6 .list-wrap .item .photo {height: 156px;}
.item-group6 .list-wrap .item .photo img.img {height: 100%;}
.item-group6 .list-wrap .item .textWrap {margin: 0; padding: 15px 15px 7px;}
.item-group6 .list-wrap .item .textWrap .comment {right: 16px; bottom: 6px;}
*/

/* item 3:2 */
.item-group6 .list-wrap .item {float: left; width: 186px; margin-right: 10px; margin-bottom: 10px;}
.item-group6 .list-wrap .item .photo {height: 125px; background: #ccc;}
.item-group6 .list-wrap .item .photo img.img {height: 100%;}
.item-group6 .list-wrap .item .textWrap {margin: 0; padding: 15px 10px 0px;}
.item-group6 .list-wrap .item .textWrap .comment {right: 10px; bottom: 0;}

.item-group6 .r-area .head h2 {padding-left: 8px;}
.item-group6 .head .ct-page {bottom: 8px;}
.item-group6 .item-noContent3 {border: 1px solid #d3d2d2; height: 54px; overflow: hidden; padding: 120px 0;}

.item-group7 h2 {font-size: 24px; color: #344f59; font-weight: 700; margin: 28px 0 10px;}
.item-group7 h3 {font-size: 18px; color: #3c3c3c; font-weight: 700; line-height: 40px;}

.item-group7 .split2 {overflow: hidden;}
/* .item-group7 .split2 .l-area,
.item-group7 .split2 .r-area {float: left;}

.item-group7 .split2 .l-area {width: 716px; margin-right: 10px;}
.item-group7 .split2 .r-area {width: 252px;}

.item-group7 .head {position: relative;}
.item-group7 .head .ct-page {top: 6px; bottom: auto;}
.item-group7 .l-area .head .ct-page {right: 5px;}
.item-group7 .l-area .head {background: #f9f9f9;}
.item-group7 .l-area .head nav {position: relative; bottom: -1px;}
.item-group7 .l-area .head nav a {display: inline-block; padding: 0 15px; font-size: 14px; line-height: 37px; color: #242020;}
.item-group7 .l-area .head nav a.active {background: #f0f0f0; border: 1px solid #d3d2d2; border-top: 3px solid #fd3540; border-bottom: 1px solid #f0f0f0;}

.item-group7 .ct-wrap {background: #f0f0f0; border: 1px solid #d3d2d2; padding: 14px; padding-bottom: 6px;}
.item-group7 .l-area .ct-wrap {padding-bottom: 10px; height: 566px;}
.item-group7 .l-area .ct-wrap .item-noContent2 {padding: 252px 0;}
.item-group7 .r-area .ct-wrap {background: #fff; height: 563px; padding: 14px 12px;}

.item-group7 .list-wrap {overflow: hidden;}
.item-group7 .list-wrap .item {float: left; width: 222px; margin-right: 10px; margin-bottom: 10px;}
.item-group7 .l-area .list-wrap .item {border: none;}
.item-group7 .r-area .list-wrap .item {margin-right: 0;}
.item-group7 .list-wrap .item:nth-child(3n+0) {margin-right: 0px;}
.item-group7 .list-wrap .item .photo {height: 147px; background: #ccc;}
.item-group7 .list-wrap .item .photo img.img {height: 100%;}
.item-group7 .list-wrap .item .textWrap {margin: 0; padding: 15px 10px 0px;}
.item-group7 .list-wrap .item .textWrap .comment {right: 10px; bottom: 0;} */

.item-group7 .head {position: relative;}
.item-group7 .head h2,
.item-group7 .head nav {display: inline-block;}
.item-group7 .head h2 {font-size: 24px; color: #344f59; font-weight: 700; margin: 28px 0 10px;}
.item-group7 .head nav a {display: inline-block; font-size: 14px; padding: 0 5px 4px; color: #242020;}
.item-group7 .head nav a.active {border-bottom: 3px solid #fd3540;}

.item-group7 .head h2 a.more {position: absolute; top: 26px; right: 0; z-index: 2;}

.item-group7 .list-wrap {overflow: hidden; width: 1000px; margin-top: 5px;}
.item-group7 .list-wrap .item {float: left; width: 186px; margin-right: 10px; margin-bottom: 10px;}
.item-group7 .list-wrap .item .photo {height: 125px; background: #ccc;}
.item-group7 .list-wrap .item .photo img.img {height: 100%;}
.item-group7 .list-wrap .item .textWrap {margin: 0; padding: 15px 10px 0px;}
.item-group7 .list-wrap .item .textWrap .comment {right: 10px; bottom: 0;}


.item-noContent2 {clear: both; text-align: center; padding: 140px 0; border: 1px solid #d3d2d2; background: #fff; margin-top: 5px;}
.item-noContent2 > p {display: inline-block; vertical-align: middle;}
.item-noContent2 > p.text {text-align: left; margin-left: 6px; color: #161515; font-size: 16px; line-height: 24px;}

.item-noContent3 {clear: both; text-align: center; padding: 104px 0; background: #fff; margin-top: 5px;}
.item-noContent3 > p {display: inline-block; vertical-align: middle;}
.item-noContent3 > p.text {text-align: left; margin-left: 6px; color: #161515; font-size: 16px; line-height: 24px;}



/* new main content(2016-03-07) > 경비산출배너 */
.expenses-wrap {margin-top: 25px;}
.expenses-wrap .Fasten {}
.expenses-wrap h2 {font-size: 32px; color: #fff; line-height: 38px;}
.expenses-wrap a {display: block;}



/* foot-content */
.mainContainer .foot-content {margin: 30px 0 20px;}
.mainContainer .foot-content > article {float: left; width: 33%;}
.mainContainer .foot-content h4 {margin-top: 18px; margin-bottom: 8px; position: relative;}
.mainContainer .foot-content h4:first-child {margin-top: 0;}
.mainContainer .foot-content h4 span.color {color: #f65a4e; font-weight: 700;}
.mainContainer .foot-content h4 .plus {position: absolute; right: 10px;}
.mainContainer .foot-content .subTitle {font-size: 12px; color: #706b6b;}
.mainContainer .foot-content .memo {font-size: 12px; color: #706b6b;}

/* foot-content > FAQ */
.mainContainer .foot-content .faq {width: 34%;}
.mainContainer .foot-content .faq > ul {overflow: hidden; margin-top: 8px;}
/*.mainContainer .foot-content .faq ul > li {float: left; width: 98px; border: 1px solid #e0e0e0; text-align: center; font-size: 13px; margin-right: 10px; margin-top: 10px;}*/
.mainContainer .foot-content .faq ul > li {float: left; width: 98px; border: 1px solid #e0e0e0; text-align: center; font-size: 12px; margin-right: 10px; margin-top: 10px;}
.mainContainer .foot-content .faq ul > li:hover {border: 1px solid #e8202e;}
.mainContainer .foot-content .faq ul li a {display: block; /*line-height: 58px;*/ line-height: 34px; color: #3f3f3f;}
.mainContainer .foot-content .faq ul li a:hover {color: #e8202e;}

/* foot-content > 공지사항 */
.foot-content .notice h4 {padding-left: 25px;}
.foot-content .notice ul {padding-left: 25px; margin-top: 30px;}
.foot-content .notice ul li {font-size: 14px; line-height: 28px; background: url("../../images/web/list/01.gif") no-repeat left center; padding-left: 10px;}
.foot-content .notice ul li a {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #3f3f3f;}
.foot-content .notice ul li a:hover {color: #e8202e;}

/* foot-content > 고객센터 */
.foot-content .t-center h4 {padding-left: 40px;}
.foot-content .t-center .subTitle {padding-left: 40px; position: relative;}
.foot-content .t-center .subTitle img {position: absolute; bottom: 0;}
.foot-content .t-center .ctWrap {padding-left: 40px;}
.foot-content .t-center .call {margin: 5px 0;}
.foot-content .t-center .call strong {color: #ee606e; font-size: 24px; font-family: 'Noto Sans KR', sans-serif; font-weight: 800;}
.foot-content .t-center .call-info {font-size: 12px; line-height: 16px;}
.foot-content .t-center .quick {margin-top: 20px;}
.foot-content .t-center .quick a {display: line-block;}
.foot-content .t-center .quick a:first-child {margin-right: 5px;}
.foot-content .clear {clear: both;}


/* 하단 관련기관 배너 */
.main-footBanner {border-top: 1px solid #e2e3e3; padding: 20px 0;}
.main-footBanner .Fasten {overflow: hidden; width: 982px;}
.main-footBanner ul {}
.main-footBanner ul li {width: 156px; text-align: center; margin-right: 9px;}
.main-footBanner ul li a {display: block;}
.main-footBanner ul li img {width: 154px; height: 50px; border: 1px solid #e2e3e3;}
/* .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {right: 1px;}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {left: 1px;} */


/* main cener banner */
/*.center-banner img {position: absolute; top: -7px; bottom: 0; left: 0; right: 0; margin: auto; z-index: 9;}*/
/*.center-banner img {position: fixed; bottom: 0; right: 0; z-index: 10;}*/

.center-banner {position: fixed; top: 110px; left: 10px; z-index: 10;}
.center-banner .align-wrap {/* width: 390px; margin: 110px auto; */ border: 1px solid #e8202e; position: relative;}

.center-banner .close {position: absolute; top: 0; right: 0;}
.center-banner .foot-close {/* position: absolute; left: 0; bottom: 0; width: 96%; width: calc(100% - 20px);  */padding: 10px 10px; background: #fff;}
.center-banner .foot-close label {display: block; cursor: pointer; text-align: center;}
.center-banner .foot-close a {position: absolute; top: 10px; right: 10px; display: none;}



/* foot banner */
.main-event-banner {margin: 10px 0 0;}
/* --------------------------------------------------------- //index  ------------------------------------------------------------------ */





