.container.count {
    display: flex;
    position: relative;
    bottom: 540px;
    top: 50%;
    left: 50%;
    justify-content: center;
    color: white;
    font-size: 145px;
    font-family: "Roboto";
    transform: translate(-50%,-50%);
}
.container.count .unit {
    margin: 35px 0 0 15px;
    font-size: 5.5rem;
    font-weight: bold;
    color: #fff;
}
.event-page {
    position: relative;
    height: 100%;
    text-align: center;
    margin-bottom: 1px;
}
/*.big-event_04 {
    width: 100%;
    height: 12525px;
    margin-top: 50px;
    background: url(../../images/web/event/event_244_4.jpg) no-repeat;
    background-position: top;
}*/
.digit {
    float: left;
    line-height: 1;
    transition: margin-top 1.75s ease;
    padding: 0 0.075em;
    margin: 0 2px;
    box-sizing: border-box;
    background-color: #181818;
}
.go-event {
    display: none;
    justify-content: center;
    position: relative;
    top: 1375px;
}
.go-event img {
    border-radius: 5px;
    box-shadow: 1px 1px 4px;
}
.event-page .event-btn {
    display: inline-block;
    margin: 50px 10px 50px;
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 60px;
    border-radius: 7px;
}


/* 고향사랑기부제 */
.support_event {
    width: 100%;
    height: 12525px;
    margin-top: 50px;
    font-family: "Roboto";
}
input[type ="file" i]::-webkit-file-upload-button {
    display: inline-block;
    width: 56%;
    height: 40px;
    padding: 0 10px;
    margin-right: 10px;
    color: #999999;
    border: 1px solid #dddddd;
    line-height: 40px;
    vertical-align: middle;
}
.number-ticker {
    overflow: hidden;
    height: 1em;
    border-radius: 12px;
    background-color: #353535;
}


/* mobile version */
#subContent .event-page {margin-bottom: 20px;}
#subContent .event-mw {background-color: #fff;}
#subContent .event-mw .event-img {
    width: 100%;
    height: 100%;
}
#subContent .event-mw.event-mw_03 {
    position: relative;
    height: 100%;
}
#subContent .event-mw.event-mw_03 .event-img {
    width: 100%;
    height: auto;
}
#subContent .event-mw .container.count {
    position: absolute;
    top: 69%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 13vw;
    font-family: "Roboto";
    text-align: center;
    transform: translate(-50%, -50%);
}
#subContent .event-mw .number-ticker {
    width: auto;
    border-radius: 8px;
}
#subContent .event-mw .digit {
    float: left;
    padding: 0 0.1em;
    margin: 0 1px;
    background-color: #181818;
    box-sizing: border-box;
    line-height: 1;
    transition: margin-top 1.75s ease;
}
.event-mw .container.count .unit {
    margin: 10px 0 0 8px;
    color: #fff;
    font-size: 8vw;
    font-weight: bold;
}
.go-event-m {justify-content: center;}
.file-upload-button {font-family: "Roboto";}
.event-btn-m {
    display: inline-block;
    width: 250px;
    height: 60px;
    line-height: 60px;
    margin: 20px 10px;
    color: #000;
    border: 1px solid #000;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: bold;
}
.event-btn-m:nth-of-type(2) {margin-top: 0;}
.file-upload-button input[type ="file"] {font-family: "Roboto";}