@charset "utf-8";



/* --------------------------------------------------------- MD’s Pick!  ------------------------------------------------------------------ */
/* 상품목록 slider */
.subContents .product_search .infoRight.md-pick {height: 345px;}
.subContents .product_search .infoRight.md-pick .bestInfo {position: absolute; width: 100%; bottom: 4px; left: 0; /* z-index: 2; */}
.subContents .product_search .infoRight.md-pick .bestInfo .title {
	padding: 0 12px 0; font-size: 20px; color: #e8202e;
}
.subContents .product_search .infoRight.md-pick .proName {padding: 58px 8px 0; color: #000; font-weight: bold;}
.subContents .product_search .infoRight.md-pick .memo {
	font-size: 14px; line-height: 18px; color: #000; padding: 6px 8px 0;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.subContents .product_search .infoRight.md-pick .slideWrap {position: relative;}
.subContents .product_search .infoRight.md-pick .slideWrap .top-title {
	position: absolute; top: 0; left: 0; z-index: 3;
	font-size: 26px; font-weight: 800; color: #fff; padding: 8px;
}
.subContents .product_search .infoRight.md-pick .slideWrap .top-title img {display: inline-block;}

.infoRight.md-pick .webwidget_slideshow_dot .slides_box {height: 344px !important;}
.infoRight.md-pick .webwidget_slideshow_dot .slides_box ul li {height: 344px !important;}
.infoRight.md-pick .webwidget_slideshow_dot .slides_box ul li img {height: 344px !important;}

.infoRight.md-pick .webwidget_slideshow_dot .title_thumb_box {
	top: auto; bottom: -120px;
	background: #fff !important; background: rgba(255,255,255,.8) !important;
}
.infoRight.md-pick .webwidget_slideshow_dot .title_thumb_box .thumb_box {
	position: absolute; width: 100%; height: 25px; z-index: 3;
	top: -25px; right: auto; text-align: center; 
}


/* 관광지/레저, 음식/뷰티 md's pick slider */
.subContents .product_slide {position: relative; width: 735px; height: 244px; overflow: hidden; padding-left: 246px;}

.infoRight.md-pick-mini {position: absolute; top: 0; left: 0; z-index: 2;}

.infoRight.md-pick-mini {height: 225px;}
.infoRight.md-pick-mini .bestInfo {position: absolute; width: 100%; bottom: 67px; left: 0; z-index: 2;}
.infoRight.md-pick-mini .bestInfo .title {
	padding: 0 12px 0; font-size: 14px; color: #e8202e; position: absolute; z-index: 2; margin-bottom: 15px;
}
.infoRight.md-pick-mini .bestInfo .title img {margin-bottom: 5px; margin-right: 5px; width: 22px;}
.infoRight.md-pick-mini .proName {
	padding: 30px 8px 0; font-size: 13px; font-weight: bold; color: #000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.infoRight.md-pick-mini .memo {
	font-size: 12px; color: #000; padding: 10px 8px 0;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.infoRight.md-pick-mini .slideWrap {position: relative;}
.infoRight.md-pick-mini .slideWrap .top-title {
	position: absolute; top: 0; left: 0; z-index: 3;
	font-size: 26px; font-weight: 800; color: #fff; padding: 4px 8px;
}
.infoRight.md-pick-mini .slideWrap .top-title img {display: inline-block;}

.infoRight.md-pick-mini .webwidget_slideshow_dot {height: 244px !important; overflow: hidden;}
.infoRight.md-pick-mini .webwidget_slideshow_dot .slides_box {height: 244px !important;}
.infoRight.md-pick-mini .webwidget_slideshow_dot .slides_box ul li {height: 244px !important;}
.infoRight.md-pick-mini .webwidget_slideshow_dot .slides_box ul li img {width: 238px; height: 244px !important;}

.infoRight.md-pick-mini .webwidget_slideshow_dot .title_thumb_box {
	top: auto; bottom: 0px; width: 238px; height: 84px;
	background: #fff !important; background: rgba(255,255,255,.8) !important;
}
.infoRight.md-pick-mini .webwidget_slideshow_dot .title_thumb_box .thumb_box {
	position: absolute; width: 100%; height: 25px; z-index: 3;
	top: -25px; right: auto; text-align: center; 
}
/* --------------------------------------------------------- //MD’s Pick!  ------------------------------------------------------------------ */



/* --------------------------------------------------------- 상품목록 개수 변경  ------------------------------------------------------------------ */
/* 3개 > 4개 */
.subContents .mainTabMenu1 .tabPanel .item {width: 232px;}
.subContents .mainTabMenu1 .tabPanel .item .photo {height: 155px;}
.subContents .mainTabMenu1 .tabPanel .item a:hover::after {height: 276px;}


/* 2개 > 3개 */
.subContents .package .mainTabMenu1 .tabPanel .item {width: 315px;}
.subContents .package .mainTabMenu1 .tabPanel .item .photo {height: 210px;}
.subContents .package .mainTabMenu1 .tabPanel .item a:hover::after {height: 331px;}
/* --------------------------------------------------------- //상품목록 개수 변경  ------------------------------------------------------------------ */








