@charset "utf-8";

/* -- wrap -- */
address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}
#sv_wrap {
    position: relative;
    min-height: 400px;
}



/* -- svmain-renewal -- */
.svmain_topslide ._svmain_topslide_list {
    position: relative;
    min-width: 1200px;
    height: 585px;
    background-color: #fff;
}


/* -- lnb(snb) -- */
.sv_lnb {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    margin-left: -50px;
    white-space: nowrap;
    -webkit-transform: translateX(-550px);
    -ms-transform: translateX(-550px);
    -o-transform: translateX(-550px);
    transform: translateX(-550px);
}
.sv_lnb .blinds {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
    clip: rect(0,0,0,0);
}
.sv_lnb .sv_lnb_ul_0 {width: 200px;}
.sv_lnb .sv_lnb_li {
    float: left;
    position: relative;
    height: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #303030;
    background-color: rgba(0,0,0,.7);
}
.sv_lnb_btn_0 {
    display: block;
    transition: all 0.5s;
    width: 200px;
    height: 100%;
    padding-left: 20px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sv_lnb_btn_0:hover {
    opacity: 1;
    background-color: #000;
}
.sv_lnb_btn_0 .sv_lnb_text {
    display: inline-block;
    overflow: hidden;
    width: 113px;
    height: 100%;
    padding: 0 25px;
    color: #fff;
    font-size: 0.85rem;
    font-family: "Roboto";
    vertical-align: top;
    line-height: 45px;
    letter-spacing: -.2px;
    white-space: nowrap;
}


/* -- lnb(snb)-icon -- */
.sv_lnb_btn_0 .sv_lnb_text:before {
    position: absolute;
    left: 17px;
    margin-top: 14px;
    padding: 0 5px;
    content: "";
}
.agricultural .sv_lnb_text:before {
    width: 15px;
    height: 14px;
    background: url("../../images/web/sv-intro/specialty.png") no-repeat;
}
.seafood .sv_lnb_text:before {
    width: 15px;
    height: 14px;
    background: url("../../images/web/sv-intro/seafood.png") no-repeat;
}
.livestock .sv_lnb_text:before {
    width: 15px;
    height: 14px;
    background: url("../../images/web/sv-intro/livestock.png") no-repeat;
}
.mochi .sv_lnb_text:before {
    width: 17px;
    height: 14px;
    background: url("../../images/web/sv-intro/mochi.png") no-repeat;
}
.snack .sv_lnb_text:before {
    width: 15px;
    height: 15px;
    background: url("../../images/web/sv-intro/snack.png") no-repeat;
}
.dish .sv_lnb_text:before {
    width: 16px;
    height: 15px;
    background: url("../../images/web/sv-intro/dish.png") no-repeat;
}
.health .sv_lnb_text:before {
    width: 15px;
    height: 17px;
    background: url("../../images/web/sv-intro/health.png") no-repeat;
}
.drink .sv_lnb_text:before {
    width: 18px;
    height: 18px;
    background: url("../../images/web/sv-intro/coffee.png") no-repeat;
}
.jam .sv_lnb_text:before {
    left: 18px;
    width: 14px;
    height: 14px;
    background: url("../../images/web/sv-intro/jam.png") no-repeat;
}
.oil .sv_lnb_text:before {
    left: 19px;
    width: 11px;
    height: 19px;
    background: url("../../images/web/sv-intro/oil.png") no-repeat;
}
.skin .sv_lnb_text:before {
    left: 19px;
    width: 16px;
    height: 18px;
    background: url("../../images/web/sv-intro/skin.png") no-repeat;
}
.maskpack .sv_lnb_text:before {
    width: 15px;
    height: 19px;
    background: url("../../images/web/sv-intro/maskpack.png") no-repeat;
}
.care .sv_lnb_text:before {
    left: 20px;
    bottom: 12px;
    width: 10px;
    height: 21px;
    background: url("../../images/web/sv-intro/body.png") no-repeat;
}
.perfume .sv_lnb_text:before {
    left: 20px;
    width: 13px;
    height: 17px;
    background: url("../../images/web/sv-intro/perfume.png") no-repeat;
}
.souvenir .sv_lnb_text:before {
    width: 15px;
    height: 19px;
    left: 19px;
    background: url("../../images/web/sv-intro/souvenir.png") no-repeat;
    margin-top: 12px;
}
.crafts .sv_lnb_text:before {
    width: 15px;
    height: 19px;
    left: 19px;
    background: url("../../images/web/sv-intro/crafts.png") no-repeat;
}
.pet .sv_lnb_text:before {
    width: 20px;
    height: 18px;
    left: 18px;
    background: url("../../images/web/sv-intro/pet.png") no-repeat;
    margin-top: 12px;
}





/* -- local navigation bar -- */
.sv_lnb_ul_0 > li:hover .sv_lnb_ul_1 {
    opacity: 1;
    visibility: visible;
}
.sv_lnb_ul_1 {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 200px;
    background: #fff;
    opacity: 0;
    transition: all 0.15s ease-in;
}
.sv_lnb_ul_1 li {padding: 0 16px;}
.sv_lnb_ul_1 li a {
    text-decoration: none;
    width: 108px;
    padding: 8.3px 0;
    border-bottom: 1px solid #ddd;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    text-align: center;
}
.sv_lnb_ul_1 .sv_lnb_btn_1 {
    display: block;
    height: 27px;
    font-family: Roboto;
}
.sv_lnb_btn_1 .sv_lnb_text {
    overflow: hidden;
    display: block;
    width: 111px;
    height: 27px;
    font-size: 0.85rem;
    line-height: 27px;
    color: #16181a;
    letter-spacing: -.2px;
    text-overflow: ellipsis;
}
.sv_lnb_btn_1 .sv_lnb_text:hover {color: #e8202e;}


/* -- topslide_swiper container -- */
.mySlides.viewPoint {display: block;}
.mySlides {
    display: none;
    position: relative;
    left: 50%;
    margin-left: -955px;
}
.caption-container {display: none;}


/* -- container ctrl -- */
.svmain_topslide_nav {
    position: relative;
    top: 0;
    right: 0;
    width: 1199px;
    margin: 0 auto;
}
.svmain_topslide_nav {
    position: relative;
    top: 0;
    right: 0;
    width: 1199px;
    margin: 0 auto;
}
.svmain_topslide_nav .pass_over {
    z-index: 1;
    right: 2%;
    height: 48px;
    border: 1px solid #ddd;
}
.svmain_topslide_ctrl {
    position: relative;
    width: 1199px;
    height: 49px;
    border-top: 0;
    box-sizing: border-box;
}
.svmain_topslide_ctrl .svmain_topslide_pager {
    display: table;
    table-layout: fixed;
    width: 1099px;
}
.svmain_topslide_ctrl .svmain_topslide_pager div {
    display: table-cell;
    position: relative;
    width: 137px;
    height: 49px;
    color: #3c3f47;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.svmain_topslide_ctrl .svmain_pager_tx {
    overflow: hidden;
    padding: 0 9.5px;
    border-right:  1px solid #ddd;
    font-size: 0.8rem;
    font-family: "Roboto";
    line-height: 49px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.svmain_topslide_ctrl .svmain_pager_tx span {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    width: 144px;
    height: 49px;
}
.svmain_pager_tx .demo {
    color: #757575;
}
.svmain_pager_tx .active, svmain_pager_tx .demo .bar:hover {
    display: block;
    position: relative;
    bottom: 32px;
    margin: 0px -10px;
    height: 5px;
    color: #DE1724;
    background: #DE1724;
    transition: all 0.15s ease-in;
}


/* -- arrow ctrl -- */
.arrow_ctrl {
    position: absolute;
    top: -1px;
    right: 50px;
}
.svmain_topslide_ctrl .swiper-button-prev {
    top: 0;
    left: -50px;
    width: 49px;
    height: 49px;
    background-image: url("../../images/web/sv-intro/prev.png");
    background-size: 49px 49px;
}
.arrow_ctrl .prev, .arrow_ctrl .next {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.svmain_topslide_ctrl .swiper-button-next {
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url("../../images/web/sv-intro/next.png");
    background-size: 49px 49px;
}
.svmain_topslide_prev, .swiper-button-next {
    z-index: 4;
    position: absolute;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.svmain_topslide_ctrl .swiper-button-prev:hover {
    background-image: url("../../images/web/sv-intro/prev_hover.png");
    transition: 0.4s;
}
.svmain_topslide_ctrl .swiper-button-next:hover {
    background-image: url("../../images/web/sv-intro/next_hover.png");
    transition: 0.4s;
}


/* -- Best Category -- */
.categoryBestSection.thickness h2 {
    display: inline-block;
    padding-bottom: 30px;
    font-size: 26px;
}
.thickness .title {font-weight: 200;}
.thickness #theme_prev {left: -20px;}
.thickness #theme_next {right: -20px;}
.thickness #theme_prev, #theme_next {top: 155px;}


/* -- 광고 banner -- */
.content__banner {
    width: 100%;
    margin-top: 100px;
}
.content__banner-inner {
    height: 150px;
    padding-bottom: 0;
    background-color: #fff;
    text-align: center;
}
.content__banner img {
    max-width: initial;
    height: auto;
}


/* -- themed merchandise -- */
.theme-push {
    padding: 82px 0;
    width: 1200px;
    position: relative;
    margin: 0 auto;
}
.theme-push h2 {font-size: 26px;}
.theme-push .ftLt {
    float: left;
    width: 280px;
}
.theme-push .ftRt {
    display: inline-block;
    position: relative;
    top: 24px;
    width: 920px;
}
.theme-push .ftLt .desc {
    position: relative;
    padding-top: 60px;
    color: #333;
    font-size: 0.98rem;
    line-height: 1.6;
    font-family: "Roboto";
}
.theme-push .ftLt .desc:after {
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #666;
    content: '';
}
.theme-push .ftLt .list-tag {padding-top: 40px;}
.theme-push .ftLt .list-tag li {
    display: inline-block;
    width: 207px;
    border-top: 1px solid #c8c8c8;
}
.theme-push .ftLt ul li > a {
    display: inline-block;
    width: 199px;
    margin-bottom: -5px;
    padding: 12px 10px;
    color: #757575;
    font-size: 0.9rem;
    line-height: 24px;
    font-family: "Roboto";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.theme-push .ftLt ul.list-tag li a.active {
    display: block;
    color: #DE1724;
    font-weight: bold;
}
.ftRt .item-area ul.col4 .list-item {margin-right: 26px;}
.ftRt .item-area ul.col4 .list-item:last-child {margin-right: 0px;}
.ftRt .item-area ul.col4 .list-item:hover {box-shadow: none;}
.ftRt .item-area ul.col4 .box__information .bxTitle {width: 200px;}
.ftRt .item-area ul.col4 .box__information .bxEvent {width: 200px;}
.ftRt .item-area .box__image {
    width: 210px;
    height: 210px;
    line-height: 210px;
    border-radius: 8px;
}
.ftRt .item-area .box__information {padding: 5px;}
.ftRt .bxLabel {font-family: "NotoSans";}


/* brand building */
.brand-wrap {
    overflow: hidden;
    position: relative;
    min-width: 1200px;
}
.brand-wrap:after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 253px;
    background-color: #f8f8f8;
    content: '';
}
.brand-inner {
    width: 1200px;
    margin: 0 auto;
}
.box__brandshop {
    z-index: 10;
    overflow: hidden;
    position: relative;
    width: 1200px;
    height: 515px;
    margin-top: 50px;
}
.box__brandshop .text__title .text__sub {
    position: relative;
    top: 4px;
    left: 7px;
    color: #000;
    font-size: 2.0rem;
    letter-spacing: -1.0px;
}
.box__brandshop .text__title .text__sub:after {
    overflow: hidden;
    position: absolute;
    top: 15%;
    left: 123px;
    width: 35px;
    height: 27px;
    margin-top: -9px;
    background: url("../../images/web/sv-intro/brand_hit.png") no-repeat;
    content: "";
}
.box__brandshop .link__more {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 10;
    padding-right: 25px;
    font-size: 0.95rem;
    color: #777;
    line-height: 18px;
    letter-spacing: -1px;
    font-family: "Roboto";
    font-weight: bold;
}
.box__brandshop .link__more:after {
    position: absolute;
    top: 1px;
    right: 0;
    width: 18px;
    height: 18px;
}
.product__homemain--after:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background: url("../../images/web/sv-intro/product__homemain.png") no-repeat;
    line-height: 999px;
}
.box__brandshop .list__item-tab .tab-link:last-of-type:after{border-right: none;}
.product__homemain {
    width: auto;
    height: auto;
}
.product__homemain, .product__homemain--before:before, .product__homemain--after:after {
    overflow: hidden;
    vertical-align: top;
}
.list__item-tab .tab-link .link__tab .product__homemain img {
    display: inline-block;
    position: relative;
    top: 7px;
}
.box__brandshop .list__item-tab {
    margin-top: 29px;
    box-sizing: border-box;
}
.box__brandshop .list__item-tab .tab-link {
    width: 198px !important;
    margin: 0;
    border: 1px solid #f8f8f8;
    cursor: pointer;
}
.list__item-tab .tab-content.current {
    display: inherit;
    margin-top: -5px;
}
.list__item-tab .tab-content {display: none;}
.box__brandshop .arrow-box .swiper-button-prev,
.box__brandshop .arrow-box .swiper-button-next {top: 79px;}
.box__brandshop .arrow-box .swiper-button-prev {left: -1px;}
.box__brandshop .arrow-box .swiper-button-next {right: -1px;}


/* box-rolling */
.list__item-tab .box__item-banner {
    overflow: hidden;
    float: left;
    position: relative;
    margin-top: -4px;
    visibility: visible;
}
.list__item-tab .box__item-banner .text__title {
    z-index: 10;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 51px;
    border-radius: 15px 15px 0 0;
    color: #fff;
    background-color: rgba(0,0,0, 0.10);
    font-size: 1rem;
    font-family: "Roboto";
    text-align: center;
    line-height: 51px;
    letter-spacing: -0.8px;
    white-space: nowrap;
}
.box__item-banner .swiper-slide {
    width: 574px;
    height: 285px;
}
.box__item-banner .link__item {
    display: block;
    border-radius: 15px;
    transition: background-color ease 0.2s;
}
.box__item-banner .link__item .box__information {
    position: relative;
    height: 199px;
    padding: 80px 60px 0 54px;
}
.link__item .box__information .company__name {
    margin-left: 10px;
    padding: 4px 7px;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(0,0,0, 0.10);
    font-family: "Roboto";
}
.box__information .company__name span {
    position: relative;
    top: 1px;
}
.box__information .text__banner-title {
    overflow: hidden;
    width: 235px;
    margin: 16px 0 0 10px;
    color: #fff;
    font-size: 1.6rem;
    line-height: 35px;
    text-align: left;
}
.box__information .text__banner-title .text {
    display: block;
    overflow: hidden;
    height: 75px;
    margin-left: 0px;
    letter-spacing: -1px;
    word-break: break-all;
}
.box__information .text__banner-sub-title {
    overflow: hidden;
    display: inline-block;
    width: 230px;
    margin: 17px 0 0 12px;
    color: #fff;
    font-size: 1rem;
    opacity: 0.6;
    letter-spacing: -1px;
    white-space: nowrap;
}
.link__item .box__information .box__image {
    position: absolute;
    top: 68px;
    right: 64px;
    width: 194px;
    height: 194px;
    border-radius: 50%;
    background: #f2f2f2;
    line-height: 190px;
}
.link__item .box__information .box__image .image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.box__item-banner .button__prev, .box__item-banner .button__next {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
}
.box__item-banner .button__prev .sr-only,
.box__item-banner .button__next .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.box__item-banner .button__prev {
    top: 160px;
    left: 6px;
    background: url("../../images/web/sv-intro/brand_prev.png") no-repeat;
}
.box__item-banner .button__next {
    top: 160px;
    right: -3px;
    background: url("../../images/web/sv-intro/brand_next.png") no-repeat;
}


/* product-cont */
.box__item-tab .box__item-content {
    border-radius: 15px;
    background: #fff;
}
.box__item-tab .box__item-content .list__item {
    overflow: hidden;
    height: 250px;
    padding-top: 30px;
}
.box__item-tab .box__item-content .list__item .list-item {
    float: left;
    width: 50%;
    margin-bottom: 15px;
    padding-left: 30px;
    box-sizing: border-box;
}
.list__item-tab .box__item-header {
    display: block;
    text-align: center;
}
.list__item-tab .tab-link.active {
    display: block;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 24px;
    background-color: #fff;
}
.list__item-tab .link__tab {
    display: block;
    position: relative;
    height: 45px;
    margin: 0 auto;
    vertical-align: top;
}
.box__item-content .link__item {
    display: block;
    position: relative;
    height: 100px;
    padding: 0 0 0 109px;
}
.box__item-content .link__item .box__image {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    will-change : transform;
}
.box__item-content .link__item .box__image:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    border-radius: 8px;
    content: "";
}
.box__item-content .link__item .box__image .image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: transform .2s cubic-bezier(.165,.84,.44,1), -webkit-transform .2s cubic-bezier(.165,.84,.44,1);
}
.box__item-content .link__item .box__information {
    overflow: hidden;
    font-size: 0;
}
.box__item-content .box__information .text__tag {
    display: inline-block;
    height: 15px;
    margin-bottom: -15px;
    color: #fff;
    font-size: 10px;
    font-family: "Roboto";
    line-height: 15px;
}
.box__item-content .box__information .text__tag span {margin: 1px 1px;}
.box__item-content .text__tag .main_label1 {
    display: inline-block;
    background-color: #00b8a4;
    padding: 0 3px;
}
.box__item-content .text__tag .main_label2 {
    display: inline-block;
    position: relative;
    right: 1px;
    background-color: #ff8c05;
    padding: 0 5px;
}
.box__item-content .text__tag .main_label3 {
    display: inline-block;
    position: relative;
    right: 1px;
    background-color: #e8202e;
    padding: 0 5px;
}
.box__item-content .text__tag .main_label4 {
    display: inline-block;
    position: relative;
    right: 1px;
    color: #000;
    background-color: #ffcc00;
    padding: 0 5px;
    font-weight: 600;
}
.box__item-content .box__information .text__name {
    display: block;
    height: 38px;
    margin-top: 15px;
    color: #444;
    font-size: 0.8rem;
    font-family: "Roboto";
    white-space: normal;
    line-height: 1.2;
    height: 3.5em;
    text-overflow: ellipsis;
    overflow: hidden;
}
.box__item-content .box__information .box__price {
    color: #222;
    font-size: 0.8rem;
}
.box__item-content .box__information .box__price .text__price {
    font-size: 1rem;
    font-weight: bold;
}


/* -- sv list -- */
/* contents max width */
.Fasten {
    width: 1200px;
    margin: 0 auto;
}
#content {
    overflow:hidden;
}
.sub_wrap {
    width: 1200px;
    min-height:2090px;
    margin: 0 auto;
}


/* 탐나는전(filter_jejupay) */
.filter_jejupay {
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}
.filter_jejupay .pay-check {
    display: block;
    height: 45px;
    padding-left: 11px;
    border: 1px solid #ffcc00;
    color: #171717;
    background-color: #ffcc00;
    font-family: "Roboto";
    font-size: 17px;
    text-align: left;
    line-height: 47px;
}
.filter_jejupay .pay-check span {font-weight: 800;}
.filter_jejupay .pay-check input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.filter_jejupay .pay-check input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding-left: 54px;
    line-height: 31px;
    cursor: pointer;
}
.filter_jejupay .pay-check input[type="checkbox"]:checked + label:before {
    top: 4px;
    left: 14px;
    width: 18px;
    height: 18px;
    line-height: 18px;
}
.filter_jejupay .pay-check input[type="checkbox"]:checked + label:before {
    color: #000;
    font-size: 1.0rem;
    content: "\2714";
}
.filter_jejupay .pay-check input[type="checkbox"] + label:before {
    position: absolute;
    top: 4px;
    left: 14px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    background-color: #fff;
    line-height: 15px;
    text-align: center;
    content: '';
}
.filter_jejupay .pay-check img {
    position: relative;
    bottom: 2px;
    padding-right: 5px;
}

/* - filter wrap - */
.filter_wrap {
    position:relative;
    top:17px;
    display:inline-block;
    width:250px;
    margin:0 30px 0 0;
    float:left;
    z-index: 1;
    right: 0px;
}


/* filter_refine */
.filter_refine {
    border:1px solid #ebebeb;
    border-radius: 2px;
    padding: 7px 20px 25px;
}
.filter_refine section {
    /*margin: 0 0 0 24px;*/
    padding:20px 0 0 0;
    border-bottom:none;
    line-height: 1.9;
}
.filter_refine section h3 {
    position:relative;
    display: block;
    margin-bottom:13px;
    color:rgba(0,0,0,0.87);
    font-size: 16px;
    /*letter-spacing:-.3px;*/
    font-weight: bold;
    border-top: 1px solid #222;
    padding-top: 20px;
}
.filter_refine section:first-child h3 {
    border-top: none;
    padding-top: 0;
}
.filter_refine section ul li.item-list {
    border-top: 1px solid #f4f4f4;
}
.filter_refine section ul li:first-child {
    border-top: none;
}

/* 카테고리 메뉴 */
.categoryMenu,
.categoryMenu ul,
.categoryMenu ul li,
.categoryMenu ul li a {
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.categoryMenu ul ul {
    display: none;
}
.categoryMenu > ul > li.active > ul {
    display: block;
    padding: 5px 0 15px;
}
.align-right {
    float: right;
}
.categoryMenu > ul > li > a {
    padding: 12px 5px;
    cursor: pointer;
    z-index: 2;
    font-size: 15px;
    color: #222;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
.categoryMenu > ul > li > a:hover {
    color: rgb(246, 12, 64);
}
.categoryMenu ul > li.item-list > a:after {
    position: absolute;
    right: 23px;
    top: 15px;
    z-index: 5;
    display: block;
    /*height: 10px;*/
    width: 2px;
    background: #222;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.categoryMenu ul > li.item-list > a:before {
    position: absolute;
    right: 19px;
    top: 19px;
    display: block;
    width: 10px;
    /*height: 2px;*/
    background: #222;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.categoryMenu ul > li.item-list.open > a:after,
.categoryMenu ul > li.item-list.open > a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.categoryMenu ul ul li a {
    padding: 7px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #666;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
.categoryMenu ul ul li a:hover {
    color: rgb(246, 12, 64);
}
.categoryMenu ul ul li.active a {
    color: #DE1724;
    font-weight: bold;
}
.categoryMenu ul > li.item-list.active a.embrace-item {
    color: #DE1724;
    font-weight: bold;
}
input[type=checkbox].rf_chk {
    position:absolute;
    z-index: -1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    border:0;
}
input[type=checkbox].rf_chk + label.label_chk{
    display: inline-block;
    padding: 0 0 0 32px;
    height:18px;
    line-height:17px;
    background-repeat: no-repeat;
    background-position: 0 0;
    color:rgba(0,0,0,0.56);
    font-size:14px;
    /*letter-spacing: -.7px;*/
    vertical-align: top;
    cursor: pointer;
    font-family: "NotoSans";
}
label.label_chk {
    background-image: url("../../images/web/ad/square.png");
    background-size:18px auto;
}
input[type=checkbox].rf_chk:checked + label.label_chk{
    background-position:0 -18px;
}


/* - list wrap - */
.list_wrap {
    position: relative;
    display: inline-block;
    top: 20px;
    width: 900px;
    margin: 10px 0 70px 20px;
}
.list_wrap .sv_best,
.list_wrap .sv_quration {
    display: inline-block;
    width: 900px;
}
.list_wrap .sv_quration {
    margin-top: 20px;
}
.list_wrap .sv_quration .qurationList {
    position: relative;
    display: block;
}
.sbt {
    display: block;
    line-height: 3.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: "NotoSans";
}
.sbt .ftLight {
    font-weight: 100;
}
.main_label_JQ {
    position: absolute;
    top: 0;
    text-indent: -9999px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-image: url("../../images/web/r_main/label_JQ.png");
    background-size: 60px;
}


/* - ItemArea - */
.item-area {
    position: relative;
    display: block;
}
.item-area .box__image {
    position: relative;
    overflow: hidden;
    width: 213px;
    height: 213px;
    line-height: 213px;
    border-radius: 8px;
}
.item-area .box__image img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item-area .box__image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.box__information {
    font-size: 15px;
    color: #222;
    margin-top: 5px;
}
.box__information .bx_label {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    color: #bfbfbf;
    font-size: 11px;
    letter-spacing: 0;
}
.main_label_JQ {
    position: absolute;
    top: 3px;
    text-indent: -9999px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-image: url("../../images/web/r_main/label_JQ.png");
    background-size: 60px;
    z-index: 9;
}
.box__information .bxTitle {
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-family: "NotoSans M";
}
.box__information .bxEvent {
    color: #555;
    font-family: "NotoSans";
    font-weight: normal;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box__information .bxPrice {
    padding-top: 6px;
    color: #222;
}
.box__information .bxPrice .text__price {
    font-family: "Roboto";
    font-weight: 600;
    vertical-align: middle;
}
.box__information .bxPrice .text__unit {
    text-align: center;
    font-size: 15px;
    font-family: "NotoSans";
    vertical-align: middle;
}
.box__information .bxPrice .per_sale {
    font-size: 1.57rem;
    font-style: normal;
    font-weight: 600;
    font-family: "Roboto";
    color: #e8202e;
    margin-right: 3px;
    vertical-align: middle;
}

/* 추가옵션 */
.box__information .bxLabel {
    position: absolute;
    display: inline-block;
    width: 190px;
    padding-top: 4px;
}
.box__information .bxLabel .main_label {
    display: inline-block;
    height: 15px;
    font-weight: 800;
    font-family: "Roboto";
    letter-spacing: 0;
    color: #fff;
    border: 1px solid #e8202e;;
    border-radius: 2px;
    background-color: #e8202e;
    padding: 0 3px;
    margin: 4px 4px 0 0;
    line-height: 15px;
}
.box__information .bxLabel .main_label {
    float: left;
    font-size: 9px;
}
.box__information .bxLabel .main_label.eventblue {
    border: 1px solid rgba(100, 35, 255);
    color: #6423ff;
    background-color: rgba(100, 35, 255, 0.04);
}
.box__information .bxLabel .main_label.back-red {
    border: 1px solid #f61346;
    color: #fff;
    background-color: #f61346;
}
.box__information .bxLabel .main_label.pink {
    border: 1px solid #f61346;
    color: #f61346;
    background-color: rgba(244, 49, 66, 0.04);
}
.box__information .bxLabel .main_label.yellow {
    color: #000;
    background-color: #ffcc00;
    font-family: "NotoSans"
}
.box__information .bxLabel .main_label.purple {
    color: #fff;
    background-color: #6423ff;
    border: 1px solid #6423ff;
}
.box__information .bxLabel .main_label.back-purple {
    border: 1px solid #6423ff;
    color: #fff;
    background-color: #6423ff;
}
.box__information .bxLabel .main_label.yellow {
    border: 1px solid #ffcc00;
    color: #000;
    background-color: #ffcc00;
}


/* col4 */
.item-area ul.col4 .list-item {
    display: inline-block;
    height: 350px;
    margin-right: 15px;
    margin-top: 20px;
    background-color: #fff;
    float: left;
}
.item-area ul.col4 li:nth-child(4n+0) {
    margin-right: 0;
}
.item-area ul.col4 .box__information .bxTitle {
    width: 210px;
}
.item-area ul.col4 .box__information .bxEvent {
    width: 210px;
    line-height: 20px;
    font-size: 13px;
}
.item-area ul.col4 .box__information .bxPrice {
    font-size: 22px;
}


/* col3 */
.item-area ul.col3 .list-item {
    display: inline-block;
    height: 410px;
    margin-right: 36px;
    margin-top: 15px;
    background-color: #fff;
    float: left;
}
.item-area ul.col3 li:nth-child(3n+0) {
    margin-right: 0;
}
.item-area ul.col3 .box__image img {
    width: 275px;
}
.item-area ul.col3 .box__information .bxTitle {
    width: 240px;
}
.item-area ul.col3 .box__information .bxEvent {
    width: 240px;
    line-height: 20px;
    font-size: 13px;
}
.item-area ul.col3 .box__information .bxPrice {
    font-size: 22px;
}


/* category_tab */
.category-nav__list {
    display: inline-block;
    margin-bottom: 20px;
}
.category-nav__item {
    float: left;
    width: 20%;
    box-sizing: border-box;
}
.category-nav__link {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    padding: 16px 20px;
    z-index: 20;
}
.category-nav__list .category-nav__item {
    float: left;
    width: 180px;
    height: 44px;
    margin: -1px;
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}
.category-nav__list .category-nav__item > a {
    display: block;
    height: 40px;
    padding: 0 10px;
    line-height: 38px;
    color: #333;
    font-size: 14px;
}
.category-nav__list .category-nav__item > a.on {
    position: relative;
    margin: -1px;
    padding: 0 9px;
    line-height: 36px;
    color: #DE1724;
    border: 2px solid #DE1724;
    font-weight: 700;
}


/* SortFilter */
.__sort {
    position: relative;
    display: block;
    text-align: right;
}
.__sort li {
    position:relative;
    display:inline-block;
    margin:0 10px;
}
.__sort li button {
    overflow: visible;
    border:0;
    background-color:transparent;
    cursor: pointer;
    font-size:15px;
    color:#757575;
}
.__sort .sort.active {
    font-weight: 700;
    color:#000000;
    background: url("../../images/web/ad/checking.jpg") 0 50% no-repeat;
    background-size:14px auto;
    padding-left:18px;
}


/* qurationList */
.swiper-button-next {
    background-image: url("../../images/web/r_main/page_next.png");
    background-size: 40px;
    width: 40px;
    height: 40px;
    right: -17px;
}
.swiper-button-prev {
    background-image: url("../../images/web/r_main/page_prev.png");
    background-size: 40px;
    width: 40px;
    height: 40px;
    left: -17px;
}
.swiper-button-prev, .swiper-button-next {
    top: calc(50% - 40px);
}
.qurationList .product-area {
    margin-top: 10px;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 1;
    pointer-events: all;
}
.qurationList .swiper-slide {
    padding: 0;
}
.qurationList .swiper-slide .box__information {
    height: 115px;
    background-color: #fff;
    padding: 5px 0 0 5px;
    margin: 0;
}
.qurationList .swiper-slide .box__image {
    overflow: hidden;
    width: 275px;
    height: 275px;
}
.qurationList .swiper-slide .box__image img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.qurationList .swiper-slide .box__image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.qurationList .box__information .bxEvent {
    width: 200px;
}
.qurationList .box__information .bxTitle {
    width: 200px;
}

/* col4 */
.product-area ul.col4 .list-item {
    display: inline-block;
    height: 350px;
    margin-right: 15px;
    margin-top: 20px;
    background-color: #fff;
    float: left;
}
.product-area ul.col4 li:nth-child(4n+0) {
    margin-right: 0;
}
.product-area ul.col4 .box__information .bxTitle {
    width: 210px;
}
.product-area ul.col4 .box__information .bxEvent {
    width: 210px;
    line-height: 20px;
    font-size: 13px;
}
.product-area ul.col4 .box__information .bxPrice {
    font-size: 22px;
}


/* col3 */
.product-area ul.col3 .list-item {
    display: inline-block;
    height: 410px;
    margin-right: 36px;
    margin-top: 15px;
    background-color: #fff;
    float: left;
}
.product-area ul.col3 li:nth-child(3n+0) {
    margin-right: 0;
}
.product-area ul.col3 .box__image {
    overflow: hidden;
    width: 275px;
    height: 275px;
}
.product-area ul.col3 .box__image img {
    width: 100%;
    height: 100%;
}
.product-area ul.col3 .box__information .bxTitle {
    width: 240px;
}
.product-area ul.col3 .box__information .bxEvent {
    width: 240px;
    line-height: 20px;
    font-size: 13px;
}
.product-area ul.col3 .box__information .bxPrice {
    font-size: 22px;
}
.con_more {
    position: absolute;
    top: 24px;
    right: 8px;
    font-size: 14px;
    color: #777;
    font-family: "Roboto";
    cursor: pointer;
}



/* - svGroup ItemArea - */
.item-area.svGroup {
    position: relative;
    display: block;
    margin: 45px 0 40px;
}
.item-area.svGroup .box__image {
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 270px;
}
.item-area.svGroup .box__image img {
    width: 270px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item-area.svGroup .box__image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.item-area.svGroup .box__information {
    font-size: 15px;
    color: #222;
    margin-top: 5px;
}
.item-area.svGroup .box__information .bx_label {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    color: #bfbfbf;
    font-size: 11px;
    letter-spacing: 0;
}
.item-area.svGroup .box__information .bxTitle {
    width: 265px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-family: "NotoSans M";
}
.item-area.svGroup .box__information .bxEvent {
    color: #555;
    font-family: "NotoSans";
    font-weight: normal;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-area.svGroup .box__information .bxPrice {
    font-family: Roboto-Medium,sans-serif;
    padding-top: 6px;
    color: #222;
}
.item-area.svGroup .box__information .bxPrice .text__price {
    float: left;
    padding-right: 2px;
}
.item-area.svGroup .box__information .bxLabel {
    position: absolute;
    display: inline-block;
    padding-top: 8px;
}
.item-area.svGroup .box__information .bxLabel .main_label {
    display: inline-block;
    float: left;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    background-color: #e8202e;
    padding: 0 3px;
    margin-right: 3px;
}

/* col4 */
.item-area.svGroup ul.col4 .list-item {
    display: inline-block;
    height: 395px;
    margin-right: 35px;
    margin-top: 29px;
    background-color: #fff;
    float: none;
}
.item-area.svGroup ul.col4 li:nth-child(4n+0) {
    margin-right: 0;
}
.item-area.svGroup ul.col4 .box__information .bxTitle {
    width: 265px;
}
.item-area.svGroup ul.col4 .box__information .bxEvent {
    width: 265px;
    line-height: 20px;
    font-size: 13px;
}
.item-area.svGroup ul.col4 .box__information .bxPrice {
    font-size: 22px;
}

