@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url("../../css/comm/webFont.css");

body {
background-attachment: scroll;
width: 100%;
padding: 0px;
margin: 0px;
min-height: 100%;
height:100%;
font-size:75%;
line-height: 1.6em;
font-family:"Pretendard", "굴림체", "gulim", "gulimche";
color:#333;
}
div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {margin:0; padding:0; border:0;}
table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
div, span, p, blockquote, pre,a, abbr, acronym, address, dt, dd, li, label, legend, caption, th, td {font-size:1em;}
ol, ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
a {text-decoration:none; color:#333;}
a:hover {text-decoration:none;}
address {font-style:normal;}
* {margin:0; padding:0;}

img, input{vertical-align:middle;}

/* 숨김 레이어 영역 */
#accessibility, hr, .expatiation {position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}

.lay_none {
background:none/* repeat scroll 0 0 transparent*/;
width:0;
height:0;
font-size:0;
line-height:0;
margin:0;
padding:0;
position:absolute;
visibility:hidden;
}

/** 레이어팝업 검은배경 **/
div.blackBg{position:fixed; top:0; left:0; z-index:99; display:none; width:100%; height:100%; background:url(../../images/oss/common/opacity_bg01.png) repeat;}

.skipStr300 {
overflow: hidden; 
text-overflow: ellipsis;
white-space: nowrap; 
width: 300px;
}

#lay_calendar p .dayDel{
	float: right;
	margin-right: 24px;
}