/*인트로(로그인)*/
#intro_wrapper{
float:left;
width:100%;
min-width:1003px;
background:url(../../images/oss/intro/intro_body_bg.gif) repeat-x center 0;
}
#intro_wrapper .intro{
clear:both;
width:818px;
margin:0 auto;	
}
#intro_wrapper h1{text-align:center;}
#intro_wrapper .top_text{
float:left;
width:933px;
height:28px;
background:#44a0c9;
padding:16px 0 0 70px;
font-weight:bold;
color:#fff;
}
#intro_wrapper .login{
float:left;
width:695px;
height:168px;
background:url(../../images/oss/intro/intro_box.png) no-repeat 0 0;
padding:80px 0 0 123px;
}
#intro_wrapper .login > ul{
position:relative;
float:left;
width:695px;
min-height:122px;
}
#intro_wrapper .login > ul > li{float:left;}
#intro_wrapper .login > ul > li p label{
float:left;
width:103px;
height:30px;
background:url(../../images/oss/icon/dot_icon01.gif) no-repeat 0 12px;
padding-left:15px;
margin-top:2px;
font-size:16px;
font-weight:bold;
letter-spacing:-1px;
line-height:32px;
color:#333;
}
#intro_wrapper .login > ul > li p{ height:34px; padding:3px 0;}
#intro_wrapper .login > ul > li p input[type=text], #intro_wrapper .login > ul > li p input[type=password]{
width:370px;
height:30px;
border:solid 1px #d8d8d8;
padding-left:5px;
line-height:32px;
color:#333;
}
#intro_wrapper .login .idsave{
position:absolute;
left:93px;
bottom:0;		
}
#intro_wrapper .login .idsave span{margin-right:35px;}
#intro_wrapper .login .idsave span label{margin-left:2px; vertical-align:middle;}
#intro_wrapper input[type=radio], #intro_wrapper input[type=checkbox]{
position:relative;
top:-3px;
left:0;
vertical-align:middle;
}
#intro_wrapper .login > ul > li p span select{width:377px; height:32px; border:solid 1px #d8d8d8;}
#intro_wrapper .login .btn{margin:0 0 0 25px;}


/*입력폼 3줄 일때*/
#intro_wrapper .login.agent{
width:744px;
height:168px;
padding:80px 0 0 73px;
}
/* #intro_wrapper .login.agent > ul{min-height:162px;} */
#intro_wrapper .login.agent > ul > li p label{width:123px;}
#intro_wrapper .login.agent .idsave{left:143px;}
/*#intro_wrapper .login.agent .btn{margin:20px 0 0 25px;}*/
/*2015-12-11, 상점아이디+비밀번호의 2줄로 변경되면서 수정(by ezham)*/
#intro_wrapper .login.agent .btn{margin:0 0 0 25px;}
/*//입력폼 3줄 일때*/


#intro_wrapper .tel{
float:right;
background:url(../../images/oss/icon/text_icon01.gif) no-repeat 0 1px;
padding-left:12px;
margin:7px 15px 0 0;
font-size:14px;
font-weight:bold;
}
#intro_wrapper .select_link{
float:right;
width:230px;
height:20px;
background:url(../../images/oss/intro/select_link_bg.gif) no-repeat 0 0;
padding:5px 0 0 3px;
margin-right:20px;
}
#intro_wrapper .select_link select{
width:224px;
height:16px;
border:none;
background:none;
font-size:11px;
font-family:"돋움",  "돋움체", "dotum", "dotumche";
}

#footer_wrapper{
clear:both;
width:1003px;
margin:0 auto;
}
#footer_wrapper p{
clear:both;
width:1003px;
padding-top:40px;
text-align:center;
}
