html>/**/body {overflow-y:scroll;}
body{background:#f1efeb url(../../images/oss/common/header_bg.gif) repeat-x 0 0;}

html, #wrapper, #contents_wrapper, #contents_area, #contents{height:100%;}

#wrapper{float:left; width:100%; min-width:1073px;}

#header_wrapper{float:left; width:100%; height:150px;}

#header_wrapper h1{
float:left;
width:310px;
height:46px;
margin:3px 0 0 34px;
}

.header_alim{
float:left;
width:327px;
height:31px;
background:url(../../images/oss/icon/text_icon02.gif) no-repeat 0 2px;
padding-left:23px;
margin-top:18px;
}
.header_alim > ul li{
float:left;
overflow:hidden;
width:327px;
height:15px;
font-weight:bold;
color:#01b4ff;
}
.header_alim > ul li a{color:#01b4ff;} 

#header_wrapper .lnb_menu{float:right; height:32px; margin:17px 10px 0 0;}
#header_wrapper .lnb_menu li{
float:left;
background:url(../../images/oss/common/lnb_menu_line.gif) no-repeat 0 0;
padding:0 8px;
font-size:11px;
font-family:"Pretendard",  "돋움체", "dotum", "dotumche";
color:#a2a2a2;
}
#header_wrapper .lnb_menu li a{float:left; color:#a2a2a2;}
/*#header_wrapper .lnb_menu li:first-child{
background:url(../../images/oss/icon/text_icon03.gif) no-repeat 0 0;
padding-left:18px;
margin-top:2px;
font-size:12px;
font-family:"굴림", "굴림체", "gulim", "gulimche";
color:#3abbff;
}
#header_wrapper .lnb_menu li:first-child a{
background:url(../../images/oss/icon/go_icon01.gif) no-repeat right 0;
padding:0 18px 0 0;
color:#3abbff;
}*/
#header_wrapper .lnb_menu li.home{background:none; padding:0;}
#header_wrapper .lnb_menu li.home a{
background:url(../../images/oss/icon/home_icon01.gif) no-repeat 0 2px;
padding:1px 8px 0 20px;
color:#3abbff;
}
#header_wrapper .lnb_menu li.log a{
background:url(../../images/oss/icon/lock_icon01.gif) no-repeat 0 0;
padding:1px 0 0 20px;
}
#header_wrapper .gnb_menu {
    float:left;
    clear:both;
    display: flex;
    min-width:1165px;
    height:81px;
}
#header_wrapper .gnb_menu > li{
position:relative;
float:left;
min-width:96px;
/*background:url(../../images/oss/menu/gnb_menu_line.gif) no-repeat right 0;*/
background: linear-gradient(to right, transparent 99%, blue 110%);
padding:0 7px 0 5px;
text-align:center;
font-size:13px;
/*font-weight:bold;*/
color:#fff;
}
#header_wrapper .gnb_menu > li > a{display:block; height:27px; padding-top:54px; color:#fff;}
#header_wrapper .gnb_menu > li.on, #header_wrapper .gnb_menu > li:hover{background-color:gray;}
#header_wrapper .gnb_menu > li.on > a{display:block; height:27px; padding-top:54px; color:#fff;}

#header_wrapper .gnb_menu > li.menu01 > a{background:url(../../images/oss/menu/gnb_menu_icon01.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu02 > a{background:url(../../images/oss/menu/gnb_menu_icon02.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu03 > a{background:url(../../images/oss/menu/gnb_menu_icon03.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu04 > a{background:url(../../images/oss/menu/gnb_menu_icon04.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu05 > a{background:url(../../images/oss/menu/gnb_menu_icon05.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu06 > a{background:url(../../images/oss/menu/gnb_menu_icon06.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu07 > a{background:url(../../images/oss/menu/gnb_menu_icon07.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu08 > a{background:url(../../images/oss/menu/gnb_menu_icon08.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu09 > a{background:url(../../images/oss/menu/gnb_menu_icon09.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu10 > a{background:url(../../images/oss/menu/gnb_menu_icon10.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu11 > a{background:url(../../images/oss/menu/gnb_menu_icon12.png) no-repeat center 22px;}
/* #header_wrapper .gnb_menu > li.menu-b2b > a{background:url(../../images/oss/menu/gnb_menu_icon12.png) no-repeat center 22px;} */
#header_wrapper .gnb_menu > li.menu-bi > a{background:url(../../images/oss/menu/gnb_menu_icon13.png) no-repeat center 22px;}
#header_wrapper .gnb_menu > li.menu13 > a{background:url(../../images/oss/menu/gnb_menu_icon11.png) no-repeat center 22px;}

#header_wrapper .gnb_menu .gnb_depth{
float:left;
/*background:url(../images/menu/gnb_menu_depth_bg.png) no-repeat 0 bottom;*/
background-color:#fff;
border:solid 1px #4d4d4d;
padding:12px 6px;
}
#header_wrapper .gnb_menu .gnb_depth li{
float:left;
width:100%;
border-top:solid 1px #dfe0e0;
padding:5px 0 3px 0;
text-align:left;
line-height:1.4em;
font-size:12px;
}
#header_wrapper .gnb_menu .gnb_depth li:first-child{border-top:none;}
#header_wrapper .gnb_menu .gnb_depth li:hover a{text-decoration:underline;}
#menu01, #menu02, #menu03, #menu04, #menu05, #menu06, #menu07, #menu08, #menu09, #menu10, #menu11, #menu12, #menu13, #menu-bi {
position:absolute;	
top:81px;
z-index:20;
}
#menu01{/*left:0;*/ width:175px;}
#menu02{/*left:96px;*/ width:175px;}
#menu03{/*left:192px;*/ width:175px;}
#menu04{/*left:290px;*/ width:175px;}
#menu05{/*left:387px;*/ width:175px;}
#menu06{/*left:483px;*/ width:175px;}
#menu07{/*left:582px;*/ width:175px;}
#menu08{/*left:677px;*/ width:175px;}
#menu09{/*left:774px;*/ width:175px;}
#menu10{/*left:872px;*/ width:175px;}
#menu11{/*left:872px;*/ width:175px;}
#menu12{/*left:872px;*/ width:175px;}
#menu13{/*left:872px;*/ width:175px;}
#menu-bi{/*left:872px;*/ width:175px;}

#contents_wrapper{display:table; width:98%; margin:0 1% 1% 1%; vertical-align:top;} 


/**사이드 영역**/
#side_area{
display:table-cell;
/*width:20%;*/
width:198px;
vertical-align:top;
}

/*사이드메뉴*/
.side_menu{float:left; width:193px;}
.side_menu h3{
float:left;
width:183px;
height:39px;
background:url(../../images/oss/menu/side_title_bg.gif) no-repeat 0 0;
text-align:center;
line-height:42px;
letter-spacing:-1px;
color:#fff;
}
.side_menu > ul{
float:left;
width:159px;
background:#fff url(../../images/oss/menu/side_bg.gif) no-repeat 0 bottom;
padding:5px 12px 20px 12px;
}
.side_menu > ul li{
float:left;
width:131px;
border-top:solid 1px #e9eaeb;
background:url(../../images/oss/icon/text_icon04.gif) no-repeat 4px 7px; 
padding:9px 0 3px 28px;
}
.side_menu > ul li:first-child{border-top:none;}
.side_menu > ul li.on{font-weight:bold;}
.side_menu > ul li a:hover {text-decoration:underline;}

/*접속정보*/
.side_log{
float:left;
width:187px;
background:url(../../images/oss/common/side_log_top_bg.gif) no-repeat 0 0;
padding-top:8px;
margin-bottom:5px;
}
.side_log .close_lay{
float:left;
width:187px;
height:32px;
background:url(../../images/oss/common/side_log_close_bg.gif) no-repeat 0 bottom;
}
.side_log .close_lay strong{
float:left;
background:url(../../images/oss/icon/text_icon05.gif) no-repeat 0 2px;
padding:3px 8px 0 18px;
margin:3px 0 0 35px;
}
.side_log .close_lay .btn{float:left; margin-left:7px;}
.side_log .close_lay .btn img{vertical-align:middle;}

.side_log .open_lay{
float:left;
width:161px;
background:url(../../images/oss/common/side_log_open_bg.gif) no-repeat 0 bottom;
padding:0 13px 25px 13px;
}
.side_log .open_lay > dl{
float:left;
width:161px;
margin:10px 0 15px 0;
}
.side_log .open_lay > dl dt{
float:left;
width:32px;
height:20px;
}
.side_log .open_lay > dl dd{
float:left;
width:112px;
height:20px;
}
.side_log .open_lay .btn{ 
float:left;
width:151px;
text-align:right;
}

/*사이드배너*/
.side_go_link{float:left; width:183px; margin-bottom:10px;}
.side_go_link li{float:left; width:183px;}
.side_go_link li select{width:180px; color:#444;}

/**컨텐츠 영역**/
#contents_area{
/*display:table-cell;*/
width:auto;
min-height:100%;
background:#fff;
vertical-align:top;
}

#contents_area > h4{
float:left;
height:28px;
margin:3px 0 0 15px;
font-size:16px;
}
#contents_area .location{
float:right;
height:20px;
margin:8px 15px 0 0;
color:#252525;
}
#contents_area .location span{margin:0 5px;}
#contents_area .location strong{margin-left:5px; font-weight:normal;}


#contents{
overflow:hidden;
clear:both;
min-width:1070px;
background:#fff;
padding:50px 40px;
}

#footer_wrapper{
float:left;
width:100%;
height:65px;
margin-top:15px;
}
#footer_wrapper .footer_text{margin-left:225px;}
#footer_wrapper address span, #footer_wrapper address strong{display:block;}

/* 테이블 > 금액표현 추가 - 홍원기 */
.price-wrap {padding:0 8px; font-size: 13px;}
.price-wrap .text, .price-wrap .price {display: inline-block;}
.price-wrap .text {width: 50%; text-align: right;}
.price-wrap .price {width: 46%; text-align: right;}
.price-wrap .total {border-top: 1px solid #e1e3e4; margin-top: 5px; padding-top: 5px;}


table.product-list {width: 100%; font-size: 12px !important;}
table.product-list * {font-size: 12px !important;}
table.product-list td {padding: 8px 0; text-align: center; border: none !important; border-bottom: 1px solid #e1e3e4 !important;}
table.product-list td.left2 {text-align: left; border-right: 1px solid #e1e3e4 !important;}
table.product-list tr:first-child td {border-top: none;}
table.product-list tr:last-child td {border-bottom: none !important;}

table.list_tb tbody tr table.product-list *:hover{outline: none;}



/**관리자 홈**/
.admin_home{width:943px; font-family:"Pretendard", "나눔고딕", sans-serif;}
.admin_home .latest_post{position:relative; float:left; width:440px; height:210px; margin:0 0 20px 53px;}
.admin_home .latest_post:first-child{margin-left:0;}
.admin_home .latest_post h3{
width:385px;
height:30px;
border-bottom:solid 1px #ece8e9;
padding:14px 0 0 55px;
margin-bottom:20px;
font-size:18px;
}
.admin_home .latest_post.post1 h3{background:url(../../images/oss/home/latest_post_icon01.gif) no-repeat 12px 0;}
.admin_home .latest_post.post2 h3{background:url(../../images/oss/home/latest_post_icon02.gif) no-repeat 12px 0;}
.admin_home .latest_post ul{width:410px; margin-left:15px;}
.admin_home .latest_post ul li{
display:inline-block;
width:397px;
background:url(../../images/oss/icon/dot_icon03.gif) no-repeat 0 6px;
padding-left:13px;
margin-bottom:9px;
font-size:13px;
font-family:"Pretendard", "굴림체";
}
.admin_home .latest_post ul li .date{float:right; font-weight:bold; color:#555;}
.admin_home .latest_post ul li a {float:left;}
#contents_wrapper #contents .admin_home .latest_post ul li a {
    overflow: hidden;
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.admin_home .latest_post .answer{
display:inline-block;
height:16px;
background-color:#878787;
padding:0 5px;
margin-left:7px;
font-size:11px;
font-family:"Pretendard", "돋움체";
font-weight:700;
color:#fff;
}
.admin_home .latest_post .more{
position:absolute;
top:17px;
right:15px;
}

/*미처리현황, 진행현황*/
.process{clear:both;}
.process > li{float:left;}
.process > li h3{height:32px; margin-left:10px; font-size:18px;}
.process > li+li h3{margin-left:24px;}
.process_box li{float:left; width:172px; height:175px; border:solid 1px #dadada; text-align:center;}
.process_box.process01, .process_box.process02{float:left;}
.process_box.process01 li{width:172px; height:160px; padding-top:15px;}
.process_box.process01 li a > strong{display:inline-block; width:148px; height:30px; background-color:#f1eff0; padding-top:12px; margin-bottom:10px; font-size:15px;}
.process_box.process01 li a > span{display:block; margin-top:20px; font-weight:700; font-size:16px;}
.process_box.process02 li{width:172px; height:150px; padding-top:25px; margin: 0 0 14px 14px;}
.process_box.process02 li:first-child{margin-left:0;}
.process_box.process02 li a > strong{display:block; height:35px; margin-top:12px; font-size:16px;}
.process_box.process02 li a > span{display:block; font-weight:700; font-size:15px;}
.process_box.process02 li a > span > strong{font-size:29px; font-weight:800; color:#eb3740;}


/*총 합계*/
.home_total_info{float:left; width:430px; height:174px; border:solid 1px #dadada; padding:6px 10px 0 10px; margin:20px 22px 0 0;}
.home_total_info ul li{height:28px; background-color:#e1eded; padding:9px 0 0 20px; margin:4px 0; font-weight:700; font-size:15px;}
.home_total_info ul li:first-child+li, .home_total_info ul li:first-child+li+li+li{background-color:#ccdcdc;}


/*Help Desk*/
.help_desk{float:left; width:430px; height:154px; border:solid 1px #dadada; padding:26px 10px 0 10px; margin-top:20px; text-align:center;}
.help_desk h3{height:34px; font-weight:700; font-size:27px;}
.help_desk .tel{display:inline-block; height:50px; margin-left:-18px; text-align:center; font-weight:bold; font-size:32px; font-family:Helvetica, sans-serif;}
.help_desk .tel span{vertical-align:middle; margin-left:7px; color:#125aae;}
.help_desk .tel img{vertical-align:middle; margin-top:-13px;}
.help_desk p{margin:0 0 4px 60px; text-align:left; font-weight:700; font-size:13px;}

/*테이블 정렬*/
.tableSorter th {cursor: pointer;}
.tableSorter th a.up {display: none;}
.tableSorter th.headerSortUp {background: #a9a9a9;}
.tableSorter th.headerSortDown {background: #a9a9a9;}
.tableSorter th.headerSortDown a.down {display: none;}
.tableSorter th.headerSortDown a.up {display: inline-block;}
.tableSorter th.headerSortUp a.down {display: inline-block;}
.tableSorter th.headerSortUp a.up {display: none;}

/* loading layer-popup */
.modal-spinner {
    z-index: 1004;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.loading-popup {
    display: inline-block;
    margin: 0 auto;
}
.loading-popup .spinner-con {
    position: absolute;
    top: 40%;
    left: 43%;
    padding: 43px 15px 22px 15px;
    overflow: hidden;
    border-radius: 0.5em;
    background-color: #fff;
    text-align: center;
}
.spinner-con:before {
    position: absolute;
    top: 43%;
    left: 43%;
    width: 43px;
    height: 43px;
    margin-top: -72px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #e8202e;
    border-bottom-color: #e8202e;
    box-sizing: border-box;
    animation: spinner 1.5s ease infinite;
    z-index: 999;
    content: "";
}
.spinner-txt {
    display: block;
    width: 244px;
    margin: 39px 0 9px 0;
    font-size: 0.9rem;
    font-family: "Pretendard";
}
.spinner-sub-txt:before {
    display: inline-block;
    width: 8px;
    height: 4px;
    margin: 0 4px 4px 0;
    border: 2px solid #e8202e;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    content: "";
}
.spinner-sub-txt {
    color: rgba(0,0,0,0.56);
    font-size: 0.8rem;
    font-weight: bold;
    font-family: "Pretendard";
    line-height: 27px;
}
.spinner-sub-txt span {letter-spacing: -1px;}


/* code #3 */
@keyframes spinner {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg);}
}
@keyframes loading03 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.8);
    }
}
