@charset "utf-8";
/* 웹폰트 사용범위 */
/*
WOFF >> 전체지원 (ie 9부터 지원)
eot >> ie6~ie9 지원
*/

/* --------------------------------------------------------- 웹폰트 (Site) ------------------------------------------------------------------ */
/* 나눔 글꼴 */
/*@import url("https://fonts.googleapis.com/earlyaccess/nanumbrushscript.css");*/ /* font-family: 'Nanum Brush Script', sans-serif; */
/*@import url("http://fonts.googleapis.com/earlyaccess/nanumpenscript.css");*/ /* font-family: 'Nanum Pen Script', sans-serif; */
/*@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");*/ /* font-family:'Nanum Gothic', sans-serif; */


/* Noto sans */
/*@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");*/ /* font-family: "Noto Sans KR", sans-serif; */
/* --------------------------------------------------------- //웹폰트 (Site) ------------------------------------------------------------------ */



/* --------------------------------------------------------- 웹폰트 (Download) ------------------------------------------------------------------ */

@font-face {
    font-family: "NotoSans";
    font-style: normal;
    src: url(../../font/NotoSansCJKkr-Regular.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "NotoSans M";
    font-style: normal;
    src: url(../../font/NotoSansCJKkr-Medium.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "NotoSans B";
    font-style: normal;
    src: url(../../font/NotoSansCJKkr-Bold.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "NotoSans L";
    font-style: normal;
    src: url(../../font/NotoSansCJKkr-Light.woff2) format('woff2');
    font-display: swap;
}

/* Roboto */


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(../../font/Roboto-Thin.woff2) format('woff2'),
    url(../../font/Roboto-Thin.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../../font/Roboto-Light.woff2) format('woff2'),
    url(../../font/Roboto-Light.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../../font/Roboto-Regular.woff2) format('woff2'),
    url(../../font/Roboto-Regular.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../../font/Roboto-Medium.woff2) format('woff2'),
    url(../../font/Roboto-Medium.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../../font/Roboto-Bold.woff2) format('woff2'),
    url(../../font/Roboto-Bold.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: 'Pretendard L';
    font-style: normal;
    src: url(../../font/Pretendard-Light.subset.woff2) format('woff2'),
    url(../../font/Pretendard-Light.subset.woff2) format('woff');
    font-display: swap;

}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    src: url(../../font/Pretendard-Regular.subset.woff2) format('woff2'),
    url(../../font/Pretendard-Regular.subset.woff2) format('woff');
    font-display: swap;

}

@font-face {
    font-family: 'Pretendard M';
    font-style: normal;
    src: url(../../font/Pretendard-Medium.subset.woff2) format('woff2'),
    url(../../font/Pretendard-Medium.subset.woff2) format('woff');
    font-display: swap;

}

@font-face {
    font-family: 'Pretendard SB';
    font-style: normal;
    src: url(../../font/Pretendard-SemiBold.subset.woff2) format('woff2'),
    url(../../font/Pretendard-SemiBold.subset.woff2) format('woff');
    font-display: swap;

}

@font-face {
    font-family: 'Pretendard B';
    font-style: normal;
    src: url(../../font/Pretendard-Bold.subset.woff2) format('woff2'),
    url(../../font/Pretendard-Bold.subset.woff2) format('woff');
    font-display: swap;

}





/* --------------------------------------------------------- 웹폰트 (Download) ------------------------------------------------------------------ */