/* GNB */
#hotel-sub #main {
    min-height: 0;
    margin-top: 0px;
}
.navigation {
    position: relative;
    width: 100%;
    padding-bottom: 0.1rem;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 0 #e6e6e6;
}
.navigation .category-bar {
    display: flex;
    max-width: 56.8rem;
    height: 1.3rem;
    padding: 0.9rem 1.8rem;
    margin: 0 auto;
    color: #1a1a1a;
    font-size: 0.95rem;
    align-items: center;
    justify-content: space-between;
}
.navigation_tab {
    height: 3.3rem;
    line-height: 3.8rem;
    transition: left .5s ease-in-out;
}
.navigation_tab.active-tab {
    border-bottom: 3px solid #de1724;
}
.navigation_tab.active-tab > a {
    position: relative;
    top: 1px;
    color: #de1724;
}
.navigation_tab .navigation_title {
    display: block;
    height: 2rem;
}


/* key-visual */
.key-visual {
    padding: calc(5px*4);
    margin-top: 12px;
}
.key-visual .banner_grid-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.key-visual .ad_top_banner {margin-right: 12px;}
.banner_title .banner-title {
    color: #333;
    font-size: 1.15rem;
    font-weight: 100;
    font-family: "Roboto";
    line-height: 25px;
    letter-spacing: -0.05rem;
}
.banner_title .banner-title .ad-blue-txt {
    display: block;
    color: #37a0ed;
    font-weight: 600;
}
.banner_title .banner-title > p {
    color: #e8202e;
    font-weight: 600;
}
.banner_image {
    position: relative;
    top: 4px;
    grid-row: row;
    grid-column: col 5/span 1;
}
.banner_image img {height: 100px;}
.ad_top_banner .banner_text {padding: 8px 0 0;}
.banner_text .banner-text {
    color: #333;
    font-size: 0.85rem;
    font-weight: 400;
    font-family: "Roboto";
    line-height: 21px;
}


/* index-box-search */
.index-box-search {min-height: 0;}
.index-box-search .mw-search-area {padding: 10px 10px 0 10px;}
.mw-search-area .search-area .area {border-bottom: 0;}
.mw-search-area .search-area .area > dl {
    width: 50%;
    padding: 25px 0;
    margin-right: 8px;
    border-radius: 10px;
    background-color: #f8f8f8f8;
    line-height: 24px;
}
.mw-search-area .search-area .area > dl:last-child {
    height: initial;
    margin-right: 0;
}
.mw-search-area .search-area .area .separate {padding: 0;}
.mw-search-area .search-area .area dt {
    font-size: 0.85rem;
    font-family: "Roboto";
}
.mw-search-area .search-area .area {
    display: flex;
    justify-content: space-between;
    height: 94px;
    margin-bottom: 8px;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
}
.mw-search-area .search-area .area:first-child {
    width: auto;
    height: auto;
}
.mw-search-area .search-area .area.zone ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.mw-search-area .search-area .area.select li {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    background-color: #f8f8f8;
}
.mw-search-area .search-area .area.select li:not(:last-child) {margin-right: 8px;}
.mw-search-area .search-area .area.select > dl:last-child {
    border-radius: 10px;
    background-color: #f8f8f8;
}
.mw-search-area .search-area .area .destination {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.2;
    color: #999;
    font-weight: 200;
}
.mw-search-area .search-area .area .destination .value-sub-text {padding-left: 0;}
.mw-search-area .search-area .value-sub-text {
    text-align: left;
    font-size: 0.8rem;
    font-family: "Roboto";
}
.destination .value-group {
    float: left;
    color: #000;
}
.destination .value-img {
    position: relative;
    top: 2px;
    grid-column: col 5/span 1;
    padding-right: 2px;
}
.destination .value-img img {height: 20px;}
.destination .search {float: right;}
.mw-search-area .search-area .area .add-items {
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;
    display: grid;
    font-size: 1.2rem;
    padding: 25px 20px;
    border: none;
    text-align: left;
    box-shadow: none;
    cursor: pointer;
    outline: 0;
    grid-gap: calc(0px*1);
}
.mw-search-area input {
    color: #212121;
    font-size: 1.4rem;
    letter-spacing: -1.5px;
}
.guests_count {vertical-align: middle;}
.guests_count .personnel {
    display: inline-block;
    padding: 13px 0;
    border: 0;
    line-height: 34px;
}
.guests_count .personnel .count {
    display: block;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}
.guests_count .personnel span {
    position: relative;
    bottom: -1px;
    color: #707070;
    font-size: 0.85rem;
    font-weight: normal;
    font-family: "Roboto";
}


/* CTA */
.btn-wrap {margin: 15px 0;}
.comm-btn.big {
    width: 100%;
    margin: 0;
    border-radius: 12px;
    border: none;
}
.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-button img {width: 22px;}
.submit-button .btn_comm {margin-left: 7px;}


/* popular-keywords */
.popular-keywords {
    position: relative;
    padding: 0 17px 3px;
    font-size: 1.1rem;
    font-family: "Roboto";
}
.popular-keywords li a {
    position: relative;
    display: inline-block;
    padding: 5px 0px 5px 6px;
    color: #37a0ed;
    font-size: 1.1rem;
    line-height: 28px;
}


/* hotel-info */
.info-panels-new {
    position: relative;
    box-sizing: border-box;
}
.snap {
    display: block;
    padding: 0 10px;
    margin: 10px;
    border-radius: 12px;
    border: 1px solid #ddd;
}
.snap .variant-card {
    width: 100%;
    padding: 25px 0;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-family: "Roboto";
}
.snap .variant-card:last-child {border-bottom: none;}
.variant-card {
    position: relative;
    display: flex;
    color: #192024;
    text-align: left;
    text-decoration: none;
}
.image-container {
    flex: 0 0 40px;
    overflow: hidden;
    position: relative;
}
.image-container img {
    width: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.variant-card .content h3 {font-size: 1.2rem;}
.variant-card .content span {
    font-size: 0.4rem;
    color: #5d5d5d;
}


/* line-banner */
.line-banner {
    height: 14px;
    padding: 14px 0 16px;
    margin: 25px 10px 0 10px;
    border-radius: 12px;
    font-weight: 600;
    text-align: left;
}
.line-banner.day-special {background-color: #c62022; color: #fff;}
.line-banner.jeju-pay {background-color: #ffcc00; color: #000}
.line-banner img.hotel-pic {
    position: relative;
    bottom: 1px;
    height: 18px;
    padding-left: 17px;
}
.line-banner img.hotel-icon {
    float: right;
    position: relative;
    bottom: 5px;
    height: 28px;
    padding-right: 17px;
}
.line-banner img.hotel-pic2 {
    position: relative;
    bottom: 3px;
    height: 23px;
    padding-left: 17px;
}
.line-banner img.hotel-icon2 {
    float: right;
    position: relative;
    bottom: 7px;
    height: 34px;
    padding-right: 17px;;
}
.line-banner em {
    padding-left: 10px;
    font-size: 1.3rem;
    font-weight: normal;
}
.line-banner.day-special em {
    position: relative;
    bottom: 5px;
}
.line-banner.jeju-pay em {
    position: relative;
    bottom: 9px;
    font-weight: bold;
}


/* promtion/best */
.mw-list-area {margin-top: 20px;}
.mw-list-area.search {margin-top: 0px;}
.ad-List .according {padding: 0 0 0 15px;}
.ad-list {margin-top: 25px;}
.ad-List .according .ad-list .con-header {
    display: inline;
    height: 52px;
}
.ad-List .con-header {padding: 0;}
.ad-List .according .ad-list .con-header .con-title {display: inline;}
.ad-list .main-photo {
    position: relative;
    display: block;
    overflow: hidden;
    width: 46vw;
    height: 46vw;
    margin-top: 16px;
    line-height: 45vw;
    border-radius: 8px;
    background: #f2f2f2;
}
.ad-list .main-photo img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.ad-list .main-text {
    display: inline-block;
    padding: 0 2px;
}
.j-info {
    width: 100%;
    height: 15px;
    margin-top: 9px;
    font-size: .7rem;
    line-height: 13px;
}
.j-title {
    width: 100%;
    height:16px;
    font-size:1.3rem;
}
.ad-list .main-price {
    color: #000;
    font-size:1.3rem;
    font-family: "Roboto";
    font-weight: 700;
}


/* 기획전/이벤트 */
.story-panels-new {padding-top: 7px;}
.story-panels-new .main-list {
    overflow: hidden;
    padding: 30px 15px;
    background: #fff;
}
.story-panels-new .con-header {height: 30px;}
.story-panels-new .con-title {
    color: #171717;
    font-size: 17px;
    font-family: "Notosans B";
    font-weight: 700;
    letter-spacing: -0.8px;
}
.story-panels-new .main-top-slider {margin-top: 10px;}
.story-panels-new .swiper-container {border-radius: 15px;}
.story-panels-new .main-top-slider ul li img {
    width: 100%;
    display: block;
}


/* member-only */
.members-only {padding: 10px 10px 0 10px;}
.members-only .benefits .value-group {float: left;}
.members-only .benefits .search {float: right;}
.members-only .value-text {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2;
}
.members-only .value-text:before {
    position: relative;
    left: 0px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: #e8202e;
    content: "";
}
.members-only .value-sub-text {
    display: block;
    padding-left: 4px;
    color: #757575;
    font-family: "Roboto";
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: -1px;
}
.value-move .search {
    position: relative;
    top: 14px;
    padding: 9px 18px;
    border: 1px solid #000;
    border-radius: 10px;
}


/* before-btn / close-btn */
.daterangepicker-ad .close-btn {
    z-index: 15;
    position: fixed;
    right: 0;
    padding: 10px 10px;
    margin: -14px 20px;
    background: url("../../images/mw/rent/close-btn.png") no-repeat 0px;
    background-size: 20px;
}
.rent-wrapper * {box-sizing: border-box;}
.rent-wrapper .close-btn {
    z-index: 1;
    position: fixed;
    right: 0;
    padding: 10px 10px;
    margin: 12px 20px 0 0;
    background: url("../../images/mw/rent/close-btn.png") no-repeat 0px;
    background-size: 20px;
}
.rent-wrapper .before-btn {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 58px;
}
.rent-wrapper .before-btn:after {
    position: absolute;
    top: 8px;
    left: 0;
    width: 13px;
    height: 13px;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    transform: rotate(225deg);
    margin: 24px;
    content: "";
}

/* datepicker_page1 여행지선택 */
.quick_search {margin: -6px 15px 45px 15px;}
.searchIcon {position: relative;}
.searchIcon:before {
    z-index: 2;
    display: block;
    position: absolute;
    top: 25%;
    left: 15px;
    width: 24px;
    height: 24px;
    background: url("../../images/mw/hotel/search.png") no-repeat 0px;
    background-size: 15px;
    opacity: 0.5;
    content: "";
}
.searchTabGroup {margin: 0 15px;}
.mw-search-area input.inSear {
    padding: 0 0 0 45px;
    display: block;
    width: 100%;
    height: 48px;
    color: #606060;
    font-size: inherit;
    font-family: "Roboto";
    line-height: 40px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    background: #fff;
    text-align: left;
}


/* map-control */
.cls-1.off {fill:#e9e9e9;}
.cls-2.off {fill:#a2a2a2;}
.cls-3.off {fill:#cecece;}
.on .cls-1 {fill: #37a0ed;}
.on .cls-2 {fill: #fff;}
.on .cls-3 {fill: #fff;}


/* datepicker_page2 날짜선택 */
.daterangepicker-ad.show-calendar {
    display: none;
    z-index: 99;
    top: 40px !important;
    height: 96% !important;
    border-radius: 20px 20px 0 0 !important;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out; /* 더 빠른 애니메이션 설정 */
}
.daterangepicker-ad .calendar_wrapper {
    height: 100%;
    margin-top: 40px;
}
.daterangepicker-ad .calendar_wrapper * {box-sizing: border-box;}
.daterangepicker-ad .calendar_title {
    z-index: 2;
    position: fixed;
    top: 40px;
    width: 100%;
    height: 124px;
    padding-top: 40px;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    font-size: 1.7rem;
    font-family: "Roboto";
    letter-spacing: -.5px;
    line-height: 102px;
}
.daterangepicker .drp-calendar.left {
    position: relative;
    height: auto;
    padding: 65px 20px 16px;
    margin-top: 0;
    padding-bottom: 0;
    max-height: calc(100vh - 170px);
}
.daterangepicker .drp-calendar.right {
    position: relative;
    height: auto;
    padding: 20px 20px 16px;
    margin-top: 0;
    max-height: calc(100vh - 170px);
}
.daterangepicker .calendar-table {
    border: none;
    position: relative;
    height: auto;
    padding-bottom: 0;
}
.daterangepicker-ad.show-calendar .drp-buttons .result-btn {
    position: relative;
    overflow: hidden;
    display: block;
    height: 58px;
    top: 0;
    margin: 0 10px;
    color: #fff;
    border-radius: 12px;
    background-color: #37a0ed;
    font-size: 1.0rem;
    font-family: "Roboto L";
    font-weight: bold;
    text-align: center;
    line-height: 58px;
    width: 100%;
}
.daterangepicker.show-calendar .drp-buttons {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: #fff;
}
.daterangepicker-ad.show-calendar .drp-buttons .decideBtn {
    width: 58px;
    height: 58px;
    flex: 0 0 97px;
    background-color: #222;
}
.daterangepicker-ad.show-calendar .drp-buttons .decideBtn.comm-btn {
    flex: inherit;
    width: 100%;
}
.daterangepicker-ad.show-calendar .drp-buttons .applyBtn {margin-left: 0;}
.daterangepicker .drp-buttons .btn {font-size: 1.0rem;}
.daterangepicker.show-calendar .drp-buttons {height: 70px;}
.daterangepicker .calendar-table tr {
    display: table-row;
    vertical-align: inherit;
    border-collapse: inherit;
}


/* datepicker_page2 날짜선택 */
.daterangepicker .calendar-table table {
    margin: 0;
    width: 100%;
    margin: 0;
    table-layout: fixed;
    border-spacing: 0;
}
.daterangepicker table thead {
    width: 100%;
    height: auto;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
.daterangepicker table tbody {
    height: auto;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
.daterangepicker .calendar-table table tbody.fix-height {
    height: 20px;
    line-height: 20px;
    position: absolute;
}
.daterangepicker-ad.show-calendar table thead tr:last-child {
    z-index: 12;
    top: 147px;
    background-color: #fff;
    text-align: center;
}
.daterangepicker-ad table thead tr:last-child {
    border-bottom: 1px solid #ddd;
    background: inherit;
    width: 88%;
}
.daterangepicker-ad th.month {
    position: relative;
    top: 27px;
    right: 23px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: "Roboto";
    text-align: left;
    padding: 0;
    line-height: 1.1;
}
.daterangepicker td.start-date {
    color: #fff;
    border-radius: 8px;
    background-color: #37a0ed;
    width: 32px;
    height: 32px;
    line-height: 32px;
    position: relative;
    top: -39px;
    right: 5px;
}
.daterangepicker td.active.end-date {
    position: relative;
    right: 0;
    bottom: -1px;
    border-radius: 8px;
    background-color: #37a0ed;
    color: #fff;
    width: 32px;
    height: 42px;
    line-height: 38px;
}
.daterangepicker td.start-date.end-date {
    right: 0;
    bottom: 0;
    border: 1px solid #37a0ed;
}
.daterangepicker .calendar-table td {
    min-width: 35px;
    height: 42px;
    border: none;
    line-height: 40px;
    padding: 1px;
}
.daterangepicker td.off, .daterangepicker td.off.in-range,
.daterangepicker td.off.start-date, .daterangepicker td.off.end-date {background: none;}
.daterangepicker td.in-range {
    background-color: #c3e6ff;
    color: #000;
    position: relative;
    vertical-align: middle;
}
.daterangepicker td.in-range:before {
     z-index: -1;
     display: inline-block;
     position: absolute;
     top: 0;
     right: 0;
     width: 78px;
     height: 20px;
     margin-right: -29px;
     background-color: #ffe0e8;
     content: '';
 }
.daterangepicker td.in-range:first-child:before {
      z-index: -1;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0px;
      height: 20px;
      margin-right: -29px;
      background-color: #ffe0e8;
      content: '';
}
.daterangepicker td.in-range:first-of-type:before {
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 20px;
    margin-right: -29px;
    background-color: #ffe0e8;
    content: '';
}
.daterangepicker td.in-range:last-child:before {
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 94px;
    height: 44px;
    margin-right: -29px;
    background-color: #c3e6ff;
    content: '';
}
.daterangepicker td.active.end-date:before {
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 20px;
    margin-right: -29px;
    background-color: #c3e6ff;
    content: '';
}
.daterangepicker .calendar-table td.honor-active {
    background: none;
    border: none;
    color: #1b93eb !important;
    cursor: none;
    font-size: 0.75rem;
    position: relative;
    top: -28px;
    display: inline;
}
.daterangepicker .calendar-table td.honor-active.no-clash {
    background: none;
    border: none;
    color: #000 !important;
    cursor: none;
    font-size: 0.75rem;
    position: relative;
    top: 25px;
}
.daterangepicker .calendar-table td.honor-active:before {background-color: #fff;}
.daterangepicker .calendar-table td.no-clash:first-child {
    font-size: 0.75rem;
    position: absolute;
    background: none;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 31px;
    right: 0;
    display: inline;
}
.daterangepicker td.in-range.return-active {background-color: #fff;}
.daterangepicker td.in-range.return-active:before {background-color: #fff;}
.daterangepicker td.in-range.return-active:after {background-color: #fff;}
.daterangepicker table thead tr th {
    height: 34px;
    text-align: center;
    background: none;
}
.daterangepicker .calendar-table td.start-date:last-child {color: #fff; z-index: 1;}
.daterangepicker .calendar-table td.end-date:last-child {color: #fff;}
.daterangepicker .calendar-table td:last-child,
.daterangepicker table thead tr th:last-child {
    color: #000;
    font-size: 0.9rem;
}
.daterangepicker td.today {
    background-color: #c3e6ff;
    border-radius: 50%;
    position: relative;
    height: 40px;
    line-height: 40px;
    bottom: -1px;
}
.daterangepicker .calendar-table td.return-active:last-child {
    color: #000 !important;
    font-size: 0.75rem;
}
.daterangepicker td.in-range:before:first-child {
    background-color: #fff;
    content: "";
}
.daterangepicker td.start-date.return-active {
    background-color: #fff;
    color: #000 !important;
    border: none;
}
.daterangepicker td.in-range:before:nth-child(2) {background-color: #fff;}
.calendar_wrapper .before-btn {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 58px;
}
.calendar_wrapper .before-btn:after {
    z-index: 2;
    position: fixed;
    top: 48px;
    left: 0;
    width: 13px;
    height: 13px;
    margin: 29px;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    transform: rotate(225deg);
    content: "";
}


/* arrow */
.daterangepicker table thead tr .prev {
    position: absolute;
    top: 17px;
    right: 0;
}
.daterangepicker table thead tr .next {top: 27px;}


/* dimmed background black 처리 */
#dimmed {
    z-index: 99;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    overflow: auto;
}
#dimmedB {
    z-index: 30;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    overflow: auto;
    cursor: none;
    pointer-events: none;
}

/* index click */
.popup-typeA {
    z-index: 100;
    top: 40px;
    height: 96%;
    border-radius: 20px !important;
}
.popup-typeB {
    z-index: 100;
    top: auto;
    height: 100%;
}


/* datepicker_page3 인원선택 */
/* hotel_count */
.hotel-wrapper {margin-top: 12px;}
.hotel-wrapper .condition_title {
    padding: 110px 30px 15px 20px;
    text-align: left;
    color: #000;
    background-color: transparent;
}
.condition_title {
    width: 100%;
    border-radius: 30px;
    background-color: #fff;
    font-size: 1.55rem;
    font-weight: 400;
    font-family: "Roboto";
    line-height: 30px;
    letter-spacing: -.5px;
}
.popup-typeA .content-area.filter {top: 15px;}
.popup-typeA.hotel-count {
    z-index: 100;
    top: 40px;
    height: 96%;
    border-radius: 20px !important;
}
.popup-typeA.popup-typeB.hotel-count {height: 100%;}
.hotel-wrapper .before-btn {
    position: relative;
    top: 0;
    left: 0;
    width: 58px;
}
.hotel-wrapper .before-btn:after {
    z-index: 1;
    position: absolute;
    top: -4px;
    left: 0;
    width: 13px;
    height: 13px;
    margin: 29px;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    transform: rotate(225deg);
    content: "";
}
.hotel-wrapper .close_wrapper {
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 33px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    height: 50px;
}
.hotel-wrapper .close-btn {
    z-index: 2;
    position: fixed;
    right: 0;
    padding: 10px;
    margin: 21px 25px 0 0;
    background: url("../../images/mw/rent/close-btn.png") no-repeat 0px;
    background-size: 20px;
}
.popup-typeA .content-area .detail-area {padding: 18px 20px;}
.popup-typeA .counting-area .counting .sub-title {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: "Roboto";
}
.popup-typeA .counting-area .counting .memo {font-size: 1.1rem;}
.popup-typeA .counting-area .counting-text {
    position: relative;
    bottom: 2px;
    width: 23px;
    font-size: 1.8rem;
}
.popup-typeA .info-area {
    width: 80%;
    margin: 0 10px;
    border-top: 1px solid #d5d5d5;
}
.list-disc.sm > li {
    margin-left: -18px;
    background: none;
    font-size: 1.1rem;
}
.fix-cta .result-btn img {
    position: relative;
    top: 3px;
    width: 17px;
    padding-right: 10px;
}


/* content-area / select */
.popup-typeA .content-area {
    position: absolute;
    top: 60px;
    max-height: calc(100vh - 170px);
    padding: 69px 0 80px;
    overflow-x: hidden;
}
.popup-typeA .select-menu, .popup-typeA .label-typeA {
    justify-content: center;
    align-content: center;
    position: relative;
    left: 6px;
}
.popup-typeA .list-group .sub-title {
    display: inline-block;
    padding: 0;
    margin-bottom: 3px;
}
.popup-typeA .list-group .early-btn {
    float: right;
    position: relative;
    top: 5px;
    right: 6%;
    width: 64px;
    margin-right: 0;
    font-size: .85rem;
    background: url("../../images/mw/rent/early-btn.png") no-repeat 0 2px;
    background-size: 12px;
}
.popup-typeA .sub-title {
    margin-left: 27px;
    font-family: "Roboto";
    letter-spacing: -1px;
}
.popup-typeA .list-group {border-top: none;}
.popup-typeA .select-menu li {width: calc(48.4% - 5px);}
.popup-typeA .select-menu li.career-time {width: calc(32% - 5px);}
.popup-typeA .select-menu li.operator-age {width: calc(48.2% - 5px);}
.popup-typeA .select-menu li.insurance {width: calc(48.2% - 5px);}
.popup-typeA .select-menu li:last-child {margin-right: 0;}
.popup-typeA .select-menu li:nth-child(3n + 0) {margin-right: 9px;}
.popup-typeA .select-menu li.insurance:nth-child(2) {margin-right: 9px;}
.popup-typeA .select-menu.col4 li:nth-child(3n + 0) {margin-right: 0;}
.popup-typeA .select-menu.col4 li:nth-child(3n + 0) {margin-right: 9px;}
.lb-box input[type="radio"] + label, .lb-box input[type="checkbox"] + label {
    width: 100%;
    height: 58px;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    color: #212121;
    line-height: 56px;
    font-size: 0.9rem;
}
.lb-box input[type="radio"]:checked + label,
.lb-box input[type="checkbox"]:checked + label {
    height: 58px;
    color: #e8202e;
    border: 1px solid #e8202e;
    background-color: #fff;
    line-height: 56px;
    font-weight: 100;
}
.lb-box input[type="radio"]:checked + label {
    height: 58px;
    border: 1px solid #e8202e;
    color: #e8202e;
    background-color: #fff;
    line-height: 56px;
    font-size: 0.9rem;
    font-weight: 100;
}


/* info */
.list-disc.type-A {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #fff;
    box-shadow: 0 -5px 5px -7px gray;
}
.list-disc.type-A li {
    height: 50px;
    color: #666666;
    background: url(../../images/mw/list/disc-typeC.png) no-repeat 7px 12px;
    background-size: 30px;
    letter-spacing: -.1px;
}
.list-disc > li {padding-left: 50px;}


/* 최저가 검색 btn */
#hotel_zone .fix-cta,
#hotel_count .fix-cta,
#hotel_option .fix-cta{
    height: 70px;
    background-color: #fff;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
}
#hotel_zone .fix-cta .result-btn,
#hotel_count .fix-cta .result-btn,
#hotel_option .fix-cta .result-btn {
    position: relative;
    overflow: hidden;
    display: block;
    height: 58px;
    margin: 0 10px;
    color: #fff;
    border-radius: 12px;
    background-color: #37a0ed;
    font-size: 1.0rem;
    font-family: "Roboto L";
    font-weight: bold;
    text-align: center;
    line-height: 58px;
    width: 100%;
}
#hotel_count .fix-cta .result-btn.right {display: inline;}
#hotel_zone .fix-cta .apply,
#hotel_count .fix-cta .apply {margin-left: 0;}
#hotel_zone .fix-cta .decide,
#hotel_count .fix-cta .decide,
#hotel_option .fix-cta .decide{
    width: 58px;
    height: 58px;
    flex: 0 0 97px;
    background-color: #222;
}
.result-btn span img {
    position: relative;
    top: 3px;
    width: 32px;
    padding-right: 10px;
}
#hotel_zone .fix-cta .decide.comm-btn,
#hotel_count .fix-cta .decide.comm-btn,
#hotel_option .fix-cta .decide.comm-btn {
    width: inherit;
    flex: inherit;
}



/* anypicker - index.css */
.picker-wrapper,
.picker-wrapper * {
    box-sizing: border-box;
    -webkit-user-select: none;
    font-family: helvetica
}
.picker-wrapper {
    text-align: left;
    position: relative;
    height: 210px;
    display: inline-block;
    line-height: 30px;
    width: 100%;
    font-size: 20px;
    perspective: 1000px;
    perspective-origin: center center;
    bottom: 80px;
    background-color: #fff;
}
.picker-scroller {
    -webkit-transition : -webkit-transform 100ms ease;
    -webkit-transform : translateZ(-90px) rotateX(0deg);
    -webkit-transform-style : preserve-3d;
    height : 100%;
}
.picker-scroller .option{
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width : 100%;
    transition: all 300ms;
    color : black;
    transform-origin: 50% 50%;
    -webkit-transform-style : preserve-3d;
}
.picker-up {
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgba(256, 256, 256, 0.6);
    width: 100%;
    height: 90px;
    border-bottom: 1px solid lightgray;
}
.picker-down {
    position: absolute;
    top: 120px;
    z-index: 2;
    background: rgba(256, 256, 256, 0.6);
    width: 100%;
    height: 90px;
    border-top: 1px solid lightgray;
}
.clone-scroller {
    -webkit-box-shadow: inset 0 20px 24px 3px white, inset 0 -20px 24px 3px white;
    -ms-box-shadow: inset 0 10px 24px 3px white, inset 0 -20px 24px 3px white;
    -moz-box-shadow: inset 0 10px 24px 3px white, inset 0 -20px 24px 3px white;
    box-shadow: inset 0 10px 24px 3px white, inset 0 -20px 24px 3px white;
    z-index: 5;
    overflow: auto;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px
}
.clone-scroller .option {visibility: hidden;}
.mw-search-area .search-area .area.anypicker {
    justify-content: left;
    height: 100%;
    display: inline-flex;
}
.search-typeA .clone-scroller .option {display: block;}
.picker-wrapper02,
.picker-wrapper02 * {
    box-sizing: border-box;
    -webkit-user-select: none;
    font-family: helvetica
}
.picker-wrapper02 {
    text-align: left;
    position: relative;
    height: 210px;
    display: inline-block;
    line-height: 30px;
    width: 100%;
    font-size: 20px;
    perspective: 1000px;
    perspective-origin: center center;
    bottom: 80px;
    background-color: #fff;
}
.picker-scroller02 {
    -webkit-transition : -webkit-transform 100ms ease;
    -webkit-transform : translateZ(-90px) rotateX(0deg);
    -webkit-transform-style : preserve-3d;
    height : 100%;
}
.picker-scroller02 .option02{
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width : 100%;
    transition: all 300ms;
    color : black;
    transform-origin: 50% 50%;
    -webkit-transform-style : preserve-3d;
}
.picker-up02 {
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgba(256, 256, 256, 0.6);
    width: 100%;
    height: 90px;
    border-bottom: 1px solid lightgray;
}
.picker-down02 {
    position: absolute;
    top: 120px;
    z-index: 2;
    background: rgba(256, 256, 256, 0.6);
    width: 100%;
    height: 90px;
    border-top: 1px solid lightgray;
}
.clone-scroller02 {
    -webkit-box-shadow: inset 0 20px 24px 3px white, inset 0 -20px 24px 3px white;
    -ms-box-shadow: inset 0 10px 24px 3px white, inset 0 -20px 24px 3px white;
    -moz-box-shadow: inset 0 10px 24px 3px white, inset 0 -20px 24px 3px white;
    box-shadow: inset 0 10px 24px 3px white, inset 0 -20px 24px 3px white;
    z-index: 5;
    overflow: auto;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px
}
.clone-scroller02 .option02 {visibility: hidden;}
.search-typeA .clone-scroller .option02 {display: block;}
/*#footer {padding-bottom: 345px;}*/


/* mobile*/
/* Phone Mini (iPhone 4, 5, 5s, SE) / Font Size */
@media screen and (min-width: 320px) and (max-width: 360px) {
    .mw-search-area .search-area .area > dl {padding: 23px 0;}
    .line-banner {margin: 30px 10px 0 10px;}
    /* datepicker_page1 날짜선택 */
    .daterangepicker-ad th.month {left: -26px;}
    .daterangepicker table tbody {margin-top: 20px;}
    .daterangepicker-ad.show-calendar table thead tr:last-child {width: 88%;}
    .daterangepicker .calendar-table table tbody.fix-height {height: 37px;}
    /* promtion/best */
    .j-info {width: 150px; height: 17px; font-size: 1.43rem; line-height: 15px;}
    .j-title {width: 150px; height: 18px; font-size: 1.67rem; letter-spacing: -.6px;}
    .ad-list .main-price {margin-top: 7px; font-size: 1.56rem;}
}

/* iPhone 6 Plus / Font Size */
@media screen and (min-width: 360px) and (max-width: 415px) {
    /* GNB */
    .navigation .category-bar {height: 0.8rem; padding: 1.2rem 0.8rem;}
    .navigation_tab {height: 3.3rem; line-height: 3.8rem;}
    .navigation_tab .navigation_title {height: 1rem;}
    /* index-box-search */
    .mw-search-area .search-area .area .add-items {padding: 31px 20px; font-size: 1.1rem;}
    .mw-search-area .search-area .area dd.txt-rent-time {font-size: 0.95rem; bottom: 2px;}
    .mw-search-area .search-area .area.take-over:first-child {height: 100px;}
    .mw-search-area .set input {top: -2px; font-size: 1.2rem;}
    .destination .value-img {position: relative; top: -1px;}
    .destination .value-img img {height: 23px; padding-right: 6px;}
    .map-wrap .guests_count .personnel {padding: 0;}
    .guests_count .personnel .count {line-height: 2; font-size: 1.0rem;}
    .map-wrap .guests_count .personnel .count {display: inline-block; font-size: 0.9rem; color: #353435;}
    .mw-search-area .search-area .area.select {height: 100px;}
    .mw-search-area .mw-search-area .set input {font-size: 1rem;}
    .mw-search-area .search-area .value-sub-text {line-height: 2;}
    .mw-search-area input {font-size: 1.0rem;}
    .align-self-center:before {border: 3px solid #fff;}
    .map-wrap .align-self-center:before {border: 1px solid #fff;}
    /* CTA */
    .btn-wrap {margin: 20px 0;}
    #hotel_zone .fix-cta .decide, #hotel_count .fix-cta .decide {flex: 0 0 124px;}
    .daterangepicker-ad.show-calendar .drp-buttons .decideBtn {flex: 0 0 124px;}
    /* popular-keywords */
    .popular-keywords {padding: 0 17px 3px; font-size: 0.8rem; letter-spacing: -0.2px;}
    .popular-keywords li a {padding: 5px 0 5px 9px; font-size: 0.8rem;}
    /* hotel-info */
    .snap {padding:0 21px;}
    .image-container {flex: 0 0 56px;}
    .image-container img {width: 38px;}
    .variant-card .content h3 {font-size: 0.9rem;}
    .variant-card .content span {font-size: 0.7rem; letter-spacing: -0.5px;}
    /* line-banner */
    .line-banner {margin: 30px 10px -16px 10px;}
    .line-banner em {font-size: 0.8rem;}
    /* promtion/best */
    .ad-list {margin-top: 40px;}
    .j-info {width: 170px; height: 16px; font-size: .78rem; line-height: 16px;}
    .j-title {width: 175px; height: 23px; font-size: .94rem;}
    .ad-list .main-price {margin-top: 3px; font-size: .89rem;}
    /* 기획전/이벤트 */
    .story-panels-new .con-title {font-size: 21px; letter-spacing: -0.8px; font-family: "Notosans B";}
    .story-panels-new .con-header {height: 45px;}
    .story-panels-new .main-list {padding: 40px 15px;}
    /* member-only */
    .members-only .value-text {font-size: 1.0rem;}
    .members-only .benefits .value-group  {padding-left: 9px;}
    .members-only .value-sub-text {font-size: 0.78rem;}
    .members-only .value-text:before {left: -6px;}
    .value-move .search {padding: 10px 15px; font-size: 0.8rem; top: 16px;}
    /* datepicker_page2 날짜선택 */
    .daterangepicker td.today {line-height: 40px; height: 47px; bottom: 0}
    .daterangepicker-ad .calendar_title {height: 170px; padding-left: 25px; font-size: 1.3rem;}
    .daterangepicker-ad.show-calendar table thead tr:last-child {top: 147px; left: 13px; width: 92%;}
    .daterangepicker .drp-calendar.right {top: 80px; height: 80%;}
    .daterangepicker table thead tr .prev {top: 9px; margin-right: 10px;}
    .daterangepicker table thead tr .next {right: 8px; top: 18px;}
    .daterangepicker-ad.show-calendar table thead tr {width: 100%;}
    .daterangepicker-ad th.month {right: 35px; font-size: 1.5rem; top: 14px;}
    .daterangepicker .calendar-table td {min-width: 46px; height: 48px; box-sizing: border-box;}
    .daterangepicker .calendar-table td.honor-active {right: 0px; top: -29px;}
    .daterangepicker .calendar-table td.honor-active:last-child {font-size: 0.75rem;}
    .daterangepicker .calendar-table td:last-child {font-size: 0.8rem; left: 0;}
    .daterangepicker td.in-range:last-child:before {width: 88px; height: 48px; right: 9px;}
    .daterangepicker td.active.end-date:before {right: 30px;}
    .daterangepicker td.active.end-date {right: 0; bottom: 0; height: 48px;}
    .daterangepicker td.start-date {top: -40px; right: -1px;}
    .daterangepicker .calendar-table td.no-clash:first-child {top: 36px;}
    .daterangepicker .calendar-table tr {height: 28px;}
    .daterangepicker-ad .close-btn {margin: -12px 20px;}
    /* timepicker_page1 hotel_zone */
    #hotel_zone .mw-search-area .search-area .show-open > dl.factor-txt,
    #hotel_zone .mw-search-area .search-area .show-open > dl.return-txt {font-size: 1.0rem; line-height: 38px; height: 36px;}
    .timepicker .date-time {margin-top: 12px;}
    .mw-search-area .set span:after {right: 8px;}
    #hotel_zone .mw-search-area .search-area .set {width: inherit;}
    .mw-search-area .set span {top: 11px;}
    .css-1dbjc4n {font-size: 1.5rem;}
    /* timepicker_page3 hotel_count */
    .hotel-wrapper .condition_title {padding: 90px 20px 25px 28px; font-size: 1.2rem;}
    .popup-typeA .counting-area .counting .sub-title {font-size: 1.2rem;}
    .popup-typeA .counting-area .counting .memo {font-size: 0.8rem;}
    .popup-typeA .counting-area .counting-text {font-size: 1.3rem;}
    .popup-typeA .counting-area .counting .l-area, .popup-typeA .counting-area .counting .r-area {padding: 15px 0;}
    .popup-typeA .counting-area .counting-btn img {height: 30px;}
    .popup-typeA .content-area .detail-area {padding: 12px 30px;}
    .list-disc.sm > li {font-size: 0.9rem;}
    .fix-cta .result-btn img {width: 21px; padding-right: 5px;}
    /*.btn-wrap.type-full .comm-btn {font-size: 1rem;}*/
    .box-search {padding: 0.9rem; }
    .box-search .justify-start {font-size: 0.8rem; line-height: 12px;}
    .box-search .justify-end {font-size: 0.75rem;}
    .box-search .justify-end span {font-size: 0.80rem;}
    .justify-start .yak-bg-icon {bottom: 4px;}
    .txt-history-area {font-size: 0.9rem;}
    .ml span.arrow:after {top: 2px;}
    .list-disc.type-A li {width: 271px; padding-left: 57px;}
    /* datepicker_page3 차량조건 */
    /* content-area / select */
    .popup-typeA .content-area {top: 40px; }
    .popup-typeA .list-group .early-btn {width: 85px; margin-right: -13px; background-size: 16px;}
    .popup-typeA .list-group .sub-title {font-size: 0.9rem;}
    .popup-typeA .select-menu, .popup-typeA .label-typeA {flex-wrap: wrap;}
    .popup-typeA .select-menu li {width: calc(32% - 5px);}
    /*.popup-typeA .select-menu li.career-time:nth-child(2) {margin-right: 0}*/
    .popup-typeA .select-menu li.insurance:nth-child(2) {margin-right: 0}
    .popup-typeA .select-menu li:nth-child(3n + 0) {margin-right: 0px;}
    /*.popup-typeA .select-menu.col2 li.career-time:nth-child(3n + 0) {margin-right: 9px;}*/
    .popup-typeA .select-menu.col4 li:nth-child(4n + 0) {margin-right: 0px;}
    .lb-box input[type="radio"] + label, .lb-box input[type="checkbox"] + label {font-size: 0.8rem;}
    .lb-box input[type="radio"]:checked + label {font-size: 0.8rem;}
}

/* iPhone 6 Plus / Font Size */
@media screen and (min-width: 415.1px) {
    /* story-panels-new */
    .story-panels-new .bg-red {padding-bottom: 25px;}
    /* GNB */
    .navigation .category-bar {height: 10px; padding: 1.4rem 1.2rem;}
    .navigation_tab {height: 3.3rem; line-height: 4rem;}
    .navigation_tab .navigation_title {height: 1rem;}
    /* index-box-search */
    .mw-search-area .search-area .area .add-items {font-size: 1.1rem;}
    .mw-search-area .search-area .area > dl {padding: 21px 0;}
    .mw-search-area .search-area .area dd.txt-rent-time {font-size: 0.95rem; bottom: 2px;}
    .mw-search-area .search-area .area.take-over:first-child {height: 94px;}
    .mw-search-area .set input {top: -2px; font-size: 1.2rem;}
    .destination .value-img {position: relative; top: -2px;}
    .destination .value-img img {height: 23px; padding-right: 6px;}
    .map-wrap .guests_count .personnel {padding: 0;}
    .map-wrap .guests_count .personnel .count {display: inline-block; font-size: 0.9rem; color: #353435;}
    .guests_count .personnel .count {line-height: 2; font-size: 1.0rem;}
    .mw-search-area .search-area .area.select > dl {height: auto;}
    .mw-search-area .mw-search-area .set input {font-size: 1rem;}
    .mw-search-area .search-area .value-sub-text {line-height: 2;}
    .mw-search-area input {font-size: 1.0rem;}
    .align-self-center:before {border: 3px solid #fff;}
    .mw-search-area .air .zone .value-text a p, .mw-search-area p {padding-top: 0; font-size: 0.95rem;}
    /* CTA */
    #hotel_zone .fix-cta .decide, #hotel_count .fix-cta .decide {flex: 0 0 130px;}
    .daterangepicker-ad.show-calendar .drp-buttons .decideBtn {flex: 0 0 130px;}
    /* popular-keywords */
    .popular-keywords {font-size: 0.85rem; letter-spacing: -0.2px;}
    .popular-keywords li a {padding: 5px 0 5px 9px; font-size: 0.85rem;}
    /* hotel-info */
    .snap {padding:0 21px;}
    .snap .variant-card {line-height: 1.5;}
    .image-container {flex: 0 0 56px;}
    .image-container img {width: 38px;}
    .variant-card .content h3 {font-size: 0.95rem;}
    .variant-card .content span {font-size: 0.75rem; letter-spacing: -0.5px;}
    /* line-banner */
    .line-banner {margin: 30px 10px -16px 10px;}
    .line-banner em {font-size: 0.8rem;}
    /* promtion/best */
    .j-info {width: 194px; height: 18px; margin-top: 11px; font-size: .88rem; line-height: 18px;}
    .j-title {width: auto; height: 28px; font-size: 1.13rem;}
    .ad-list .main-price {margin-top: 3px; font-size: 1.1rem;}
    .ad-list {margin-top: 44px;}
    /* 기획전/이벤트 */
    .story-panels-new {padding-top: 30px;}
    .story-panels-new .con-title {font-size: 21px;}
    /* member-only */
    .members-only .value-text {font-size: 1.08rem;}
    .members-only .benefits .value-group {padding-left: 9px;}
    .members-only .value-sub-text {font-size: 0.85rem;}
    .members-only .value-text:before {left: -6px;}
    .value-move .search {padding: 10px 15px; font-size: 0.85rem; top: 16px;}
    /* CTA */
    .btn-wrap {margin: 20px 0;}
    /* section-box */
    .cont01 .index-img-data-icon {width: 54px;}
    .cont02 .index-img-data-icon {width: 73px;}
    .cont03 .index-img-data-icon {width: 55px;}
    .index-img-data-icon {height: 67px; line-height: 94px;}
    .about-reason .txt1 {height: 51px; line-height: 23px;}
    /* 기획전/이벤트 */
    .story-panels-new .con-header {height: 45px;}
    .story-panels-new .main-list {padding: 40px 15px;}
    /* datepicker_page1 날짜선택 */
    .daterangepicker td.today {bottom: 0;}
    .daterangepicker .drp-calendar.left {padding: 90px 20px 16px; margin-right: 25px;}
    .daterangepicker-ad .calendar_title {padding: 44px 14px 10px 34px; height: 124px; font-size: 1.2rem; top: 38px; border-right: 20px; border-radius: 20px;}
    .daterangepicker-ad.show-calendar table thead tr:last-child {top: 147px; width: 90%;}
    .daterangepicker .drp-calendar.right {top: 80px; height: 51%; margin-right: 25px; padding: 0 20px 16px;}
    .daterangepicker table thead tr .prev {right: 0; top: -6px; margin-right: 9px;}
    .daterangepicker table thead tr .next {top: 1px;}
    .daterangepicker-ad.show-calendar table thead tr {width: 100%;}
    .daterangepicker-ad th.month {right: 40px; font-size: 1.5rem; top: 14px;}
    .daterangepicker .calendar-table td {height: 48px; min-width: 80px;}
    .daterangepicker .calendar-table td.honor-active {right: 0px;}
    .daterangepicker .calendar-table td.honor-active:last-child {font-size: 0.75rem;}
    .daterangepicker .calendar-table td:last-child {font-size: 0.8rem; left: 0;}
    .daterangepicker td.today {line-height: 40px; height: 48px;}
    .daterangepicker td.in-range:last-child:before {width: 128px; height: 48px;}
    .daterangepicker td.active.end-date:before {right: 30px;}
    .daterangepicker td.active.end-date {right: -1px; bottom: 0; height: 48px;}
    .daterangepicker td.start-date {top: -40px; right: -1px;}
    .daterangepicker .calendar-table td.no-clash:first-child {top: 35px;}
    .daterangepicker .calendar-table tr {height: 28px;}s
    /* timepicker_page2 대여시간 */
    #hotel_zone .mw-search-area .search-area .show-open > dl.factor-txt,
    #hotel_zone .mw-search-area .search-area .show-open > dl.return-txt {height: 45px; font-size: 1.0rem; line-height: 33px; line-height: 45px;}
    .mw-search-area .set span {top: 11px;}
    .set .date-history {font-size: 1.3rem;}
    .css-1dbjc4n {font-size: 1.5rem;}
    /* hotel_count */
    .hotel-wrapper .condition_title {padding: 110px 30px 15px 26px; font-size: 1.2rem;}
    .popup-typeA .counting-area .counting .sub-title {font-size: 1.2rem;}
    .popup-typeA .counting-area .counting .memo {font-size: 0.8rem;}
    .popup-typeA .counting-area .counting-text {font-size: 1.3rem;}
    .popup-typeA .counting-area .counting .l-area, .popup-typeA .counting-area .counting .r-area {padding: 15px 0;}
    .popup-typeA .counting-area .counting-btn img {height: 30px;}
    .popup-typeA .content-area .detail-area {padding: 18px 30px;}
    .list-disc.sm > li {font-size: 0.9rem;}
    .fix-cta .result-btn img {width: 21px; padding-right: 5px;}
    /*.btn-wrap.type-full .comm-btn {font-size: 1rem;}*/

    /* content-area / select */
    .popup-typeA .content-area {top: 40px; padding: 102px 0 80px;}
    .popup-typeA .list-group .early-btn {width: 85px; margin-right: -13px; background-size: 16px;}
    .popup-typeA .list-group .sub-title {font-size: 0.9rem;}
    .popup-typeA .select-menu, .popup-typeA .label-typeA {flex-wrap: wrap;}
    .popup-typeA .select-menu li {width: calc(32% - 5px);}
    /*.popup-typeA .select-menu li.career-time:nth-child(2) {margin-right: 0}*/
    .popup-typeA .select-menu li.insurance:nth-child(2) {margin-right: 0}
    .popup-typeA .select-menu li:nth-child(3n + 0) {margin-right: 0px;}
    /*.popup-typeA .select-menu.col2 li.career-time:nth-child(3n + 0) {margin-right: 9px;}*/
    .popup-typeA .select-menu.col4 li:nth-child(4n + 0) {margin-right: 0px;}
    .lb-box input[type="radio"] + label, .lb-box input[type="checkbox"] + label {font-size: 0.9rem;}
    .lb-box input[type="radio"]:checked + label {font-size: 0.9rem;}
}

/* iPhone 6 Plus / Font Size */
@media screen and (min-width: 720px) {
    /* datepicker_page1 날짜선택 */
    .daterangepicker td.active.end-date:before {right: 38px;}
    .daterangepicker-ad .calendar_title {padding-left: 43px; height: 124px; font-size: 1.2rem; border-right: 20px; border-radius: 20px;}
    .daterangepicker td.today {bottom: 0;}
    .daterangepicker-ad.show-calendar table thead tr:last-child {top: 147px; width: 90.5%;}
    .daterangepicker .drp-calendar.left {margin-right: 33px;}
    .daterangepicker .drp-calendar.right {top: 80px; height: 51%; margin-right: 33px;}
    .daterangepicker table thead tr .prev {top: -6px; margin-right: 39px;}
    .daterangepicker table thead tr .next {right: 9px; top: 1px;}
    .daterangepicker-ad.show-calendar table thead tr {width: 100%;}
    .daterangepicker-ad th.month {right: 64px; font-size: 1.5rem; top: 14px;}
    .daterangepicker .calendar-table td {height: 48px; min-width: 103px;}
    .daterangepicker .calendar-table td.honor-active {right: 0px;}
    .daterangepicker .calendar-table td.honor-active:last-child {font-size: 0.75rem;}
    .daterangepicker .calendar-table td:last-child {font-size: 0.8rem; left: 0;}
    .daterangepicker td.in-range:last-child:before {width: 188px; height: 48px; }
    .daterangepicker td.active.end-date {right: -1px; bottom: 0; height: 48px;}
    .daterangepicker td.start-date {top: -40px; right: -1px; z-index: 1}
    .daterangepicker .calendar-table td.no-clash:first-child {top: 34px;}
    .daterangepicker .calendar-table tr {height: 28px;}
    /* promtion/best */
    .j-info {width: 230px; margin-top: 12px; font-size: .94rem;}
    .j-title {width: 245px; font-size: 1.16rem;}
    .ad-list .main-photo {width: 31vw; height: 31vw; line-height: 31vw;}
    .ad-list .main-price {margin-top: 5px; font-size: 1.3rem;}
    /* member-only */
    .members-only .benefits .value-group {padding-left: 20px;}
    .members-only .value-text {font-size: 1.2rem;}
    .members-only .value-sub-text {font-size: 1rem;}
    .members-only .value-text:before {left: -12px;}
    .value-move .search {font-size: 1rem; margin-right: 10px;}
}

/* iPad Pro / Font Size */
@media screen and (min-width: 1024px) {
    /* datepicker_page1 날짜선택 */
    .daterangepicker .drp-calendar.left {padding-top: 96px; margin-right: 28px;}
    .daterangepicker-ad .calendar_title {padding-left: 45px; height: 124px; font-size: 1.2rem; border-right: 20px; border-radius: 20px;}
    .daterangepicker-ad.show-calendar table thead tr:last-child {top: 147px; width: 94%;}
    .daterangepicker .drp-calendar.right {top: 80px; height: 51%; margin-right: 28px;}
    .daterangepicker table thead tr .prev {top: -6px; margin-right: 60px;}
    .daterangepicker table thead tr .next {top: 1px;}
    .daterangepicker-ad.show-calendar table thead tr {width: 100%;}
    .daterangepicker-ad th.month {right: 92px; font-size: 1.5rem; top: 14px;}
    .daterangepicker .calendar-table td {height: 48px; min-width: 153px;}
    .daterangepicker .calendar-table td.honor-active {right: 0px;}
    .daterangepicker .calendar-table td.honor-active:last-child {font-size: 0.75rem;}
    .daterangepicker .calendar-table td:last-child {font-size: 0.8rem; left: 0;}
    .daterangepicker td.in-range:last-child:before {width: 280px; height: 48px;}
    .daterangepicker td.active.end-date {right: -1px; bottom: 0; height: 48px;}
    .daterangepicker td.start-date {top: -40px; right: -1px; z-index: 1;}
    .daterangepicker .calendar-table td.no-clash:first-child {top: 35px;}
    .daterangepicker .calendar-table tr {height: 28px;}
    /* timepicker_page2 대여시간 */
    .mw-search-area .set span {top: 11px;}
    /* hotel_count */
    .popup-typeA .info-area {width: 88%;}
    /* content-area / select */
    .popup-typeA .list-group .early-btn {width: 85px; margin-right: -13px; background-size: 16px;}
    .popup-typeA .list-group .sub-title {font-size: 0.9rem;}
    .popup-typeA .select-menu, .popup-typeA .label-typeA {flex-wrap: wrap;}
    .popup-typeA .select-menu li {width: calc(32% - 5px);}
    .popup-typeA .select-menu li.insurance:nth-child(2) {margin-right: 0}
    .popup-typeA .select-menu li:nth-child(3n + 0) {margin-right: 0px;}
    .popup-typeA .select-menu.col4 li:nth-child(3n + 0) {margin-right: 9px;}
    .popup-typeA .select-menu.col4 li:nth-child(4n + 0) {margin-right: 0px;}
    .lb-box input[type="radio"] + label, .lb-box input[type="checkbox"] + label {font-size: 0.9rem;}
    .lb-box input[type="radio"]:checked + label {font-size: 0.9rem;}
    /* info */
    .list-disc.type-A li {background: url(../../images/mw/list/disc-typeC.png) no-repeat 7px 0px; background-size: 30px;}
}