@charset "utf-8";

/* error page */
.error-wrap {max-width: 500px; margin: auto; padding: 50px 15px; text-align: center;}
.error-wrap img.icon {display: inline-block; width: 200px;}
.error-wrap .error-msg {font-size: 20px; font-weight: bold; color: #3f3f3f; margin-top: 30px;}
.error-wrap .error-text {font-size: 14px; font-weight: bold; color: #5f5f60; border-top: 1px solid #e1e3e4; margin-top: 15px; padding-top: 15px;}
.error-wrap .button {margin-top: 70px;}
.error-wrap .button a {display: inline-block; background: #5f5f60; color: #fff; font-size: 14px; line-height: 35px; padding: 0 15px; font-weight: 700;}
.error-wrap .button a:hover {background: #3f3f3f;}

/* expiration page */
.expiration-wrap {
    position: relative;
    top: 15%;
    margin: 0 auto;
    font-family: "Roboto";
    text-align: center;
}
.expiration-wrap .title {display: block;}
.expiration-wrap img {position: initial;}
.expiration-wrap .expiration-msg {
    width: 90%;
    height: 70px;
    margin: 10px auto;
    border-bottom: 1px solid #ddd;
    font-size: 1.3rem;
    line-height: 70px;
    text-align: center;
}
.expiration-wrap .article {
    width: 94%;
    margin: 0 auto;
    font-size: 0.9rem;
    text-align: center;
}
.expiration-wrap .article p {padding: 7px 15px;}
.expiration-wrap .article > ul > li {
    padding: 5px 20px;
    list-style: inside;
}
.expiration-wrap .button {
    display: block;
    width: 145px;
    height: 40px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.85rem;
    line-height: 40px;
}