@charset "utf-8";

.unity-check {
	position: relative;
	margin: -10px 25px 25px;
}
.unity-check input {
	display: none;
	overflow: hidden;
	font-size: 0;
	background-size: 100px auto;
}
.unity-check #adrCheck {
	display: none;
	position: absolute;
	top: 18px;
	left: 16px;
	width: 20px;
	height: 20px;
	border: 0 none;
	background-position: 0 -25px;
	-webkit-appearance: none;
}
#subContent .sub-content .unity-check label.label-check {
	display: block;
	padding: 10px 0 10px 28px;
	color: #333;
	font-size: 0.85rem;
	line-height: 20px;
	cursor: pointer;
}
#subContent .sub-content .unity-check input:checked + label.label-check {
	background-image: url('../../images/mw/sub/before_check-box-on.png');
}
#subContent .sub-content .unity-check input + label.label-check {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 30px;
	background: url('../../images/mw/sub/before_check-box.png') left/18px no-repeat;
}


/* SIZE DETAIL */
.clothing-size {
	display: grid;
	grid-template-rows: 290px auto;
	place-items: center;
}
.clothing-size > img {width: 227px;}
#subContent table.size-detail-wrap {
	text-align: center;
	margin: 0 auto;
	text-align: center;
}
#subContent table.size-detail-wrap th,
#subContent table.size-detail-wrap td {
	display: inline-block;
	width: 35px;
	height: 30px;
	line-height: 30px;
	padding: 8px 15px;
	border: none;
	border-bottom: 1px solid #ddd;
	text-align: center;
	background: #fff;
}
.size-detail-wrap th {
	color: #292121;
	font-size: 0.9rem;
}
.size-detail-wrap td {
	color: #777;
	font-size: 0.85rem;
}
.userWrap3 .sub-txt {margin: 20px 25px 25px;}
.userWrap3 .sub-txt li {
	padding: 5px 0;
	font-size: 0.75rem;
}
.size-detail-wrap tr th:first-of-type,
.size-detail-wrap tr td:first-of-type {
	color: #000;
	font-weight: bold;
}


/* 서약 내역 */
.participate-form {margin: 18px 25px 25px;}
.participate-form .agreement-txt {
	display: block;
	height: 45px;
	color: #555;
	line-height: 23px;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 0.8rem;
    overflow-y: scroll;
}
.cover-check {
	position: relative;
	padding: 0 10px;
}
.cover-check input {
	display: none;
	overflow: hidden;
	font-size: 0;
	background-size: 100px auto;
}
.cover-check #joinCheck {
	display: none;
	position: absolute;
	top: 18px;
	left: 16px;
	width: 20px;
	height: 20px;
	border: 0 none;
	background-position: 0 -25px;
	-webkit-appearance: none;
}
#subContent .sub-content .payArea .cover-check label.label-check {
	display: block;
	padding: 10px 0 10px 28px;
	color: #333;
	font-size: 0.85rem;
	line-height: 20px;
	cursor: pointer;
}
#subContent .sub-content .payArea .cover-check input:checked + label.label-check {
	background-image: url('../../images/mw/sub/before_check-box-on.png');
}
#subContent .sub-content .payArea .cover-check input + label.label-check {
	display: inline-block;
	padding-left: 35px;
	line-height: 22px;
	background: url('../../images/mw/sub/before_check-box.png') left/18px no-repeat;
	cursor: pointer;
}


/* 추후 sub_cart 추가 예정 */
.join_body {min-width: auto;}
.join-agree .box_terms-list {
    margin: 0;
    padding: 0;
}
.join-agree .box_terms-list .box_list-terms {padding: 17px 10px 0;}
#subContent .sub-content label.text_all-agree {
    padding: 16px 16px 17px 30px;
    font-weight: bold;
}
#subContent .sub-content label.label_terms {
    display: block;
    padding: 10px 0 10px 28px;
    line-height: 20px;
}
#subContent .sub-content .payArea .link_terms-view {
    position: absolute;
    top: 0;
}
#subContent .sub-content .payArea .list-item_terms-group:last-of-type .link_terms-view {
    position: absolute;
    top: 8px;
}


/* 추후 sub_cart 추가 예정 */
#subContent .reserve .couponRegPop_2.pop-seller2 h2 {
	display: block;
	padding: 5px 0 3px;
	color: #323232;
	border-bottom: 1px solid #f2f2f2;
    height: 65px;
    line-height: 65px;
}
#subContent #rsvInfo table td input[type="number"] {
    height: 40px;
    border-radius: 4px;
    border-color: #ddd;
    color: #353435;
    font-family: "Roboto";
    font-size: .88rem;
}


/* layer-popup */
#subContent #rsvInfo .comm-rule dt{margin-top: 30px;}
.agreement_memo.comm-layer-popup .close {
    height: 22px;
    line-height: 22px;
}
.agreement_memo.comm-layer-popup .head .close img {vertical-align: middle;}
.agreement_memo.comm-layer-popup .sign_rules-wrap {
    position: absolute;
    bottom: 60px;
}
.agreement_memo.comm-layer-popup button.check {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    color: #3d8afa;
    font-size: 1.0rem;
    font-weight: bold;
}