@charset "utf-8";



/* --------------------------------------------------------- default ------------------------------------------------------------------ */
* {color: #3e3030;}
body {margin: 0; padding: 0;}

address {font-style: normal;}
/* --------------------------------------------------------- //default ------------------------------------------------------------------ */



/* --------------------------------------------------------- common ------------------------------------------------------------------ */
/* title */
.title1 {
	font-size: 17px; font-weight: bold;
	background: #fe434c; color: #fff; padding: 8px;
}
.title1 img.icon {display: inline-block; vertical-align: middle; width: 16px; position: relative; top: -1px;}

.title2 {
	font-size: 17px; font-weight: bold;
	background: #cccccc; padding: 10px;
}


/* list-style1 */
.list-style1 {background: #fff; padding: 15px; border: 1px solid #cccccc; border-top: none;}
.list-style1 li {
    font-size: 13px; line-height: 20px; font-weight: 400; padding: 4px 0;
    background: url(../../images/mw/qr/list_01.png) no-repeat left top 11px; padding-left: 10px; position: relative;
}
/* --------------------------------------------------------- //common ------------------------------------------------------------------ */



/* --------------------------------------------------------- wrap/container ------------------------------------------------------------------ */
/* side menu open > not scroll */
body.not-scroll {overflow: hidden; position: fixed;}



/* contaner */
#wrap {
	margin: 0; padding: 0; min-width: 0; width: 100%; font-size: medium;
	background: #ededed;
}

.sec-caption {display: none;}

.ct-container {padding: 10px;}
/* --------------------------------------------------------- //wrap/container ------------------------------------------------------------------ */



/* --------------------------------------------------------- html header ------------------------------------------------------------------ */
#header {position: static; width: 100%; height: auto; display: table; width: 100%;}
#header .logo,
#header .r-area {display: table-cell; vertical-align: middle; padding: 10px;}

#header .logo {border: none; text-align: left;}
#header .logo img {height: 32px;}

#header .r-area {width: 95px; text-align: left;}
#header .r-area span,
#header .r-area strong {display: block;}

#header .r-area span {font-size: 13px; font-weight: 700;}
#header .r-area strong {font-size: 18px; font-weight: 800; color: #ee4250;}
/* --------------------------------------------------------- //html header ------------------------------------------------------------------ */


/* --------------------------------------------------------- html footer ------------------------------------------------------------------ */
footer {color: #ccc;}
footer * {color: #ccc;}
/* --------------------------------------------------------- //html footer ------------------------------------------------------------------ */



/* --------------------------------------------------------- page header ------------------------------------------------------------------ */
/* 예약번호/일자 */
.rese-wrap {background: #fe434c; font-size: 13px; padding: 12px 0;}
.rese-wrap .ar-wrap {width: 230px; margin: 0 auto;}
.rese-wrap .ar-wrap * {color: #fff;}

.rese-wrap .number {margin-bottom: 8px;}
.rese-wrap .number span {font-size: 17px; font-weight: 700; color: #fffc00;}
/* --------------------------------------------------------- //page header ------------------------------------------------------------------ */



/* --------------------------------------------------------- page footer ------------------------------------------------------------------ */
/* --------------------------------------------------------- //page footer ------------------------------------------------------------------ */



/* --------------------------------------------------------- contents ------------------------------------------------------------------ */
/* qr code */
.code-img {background: #fff; text-align: center; padding: 15px;}
.code-img img {height: 180px;}


/* coupon count */
.coupon-count {text-align: center; margin: 20px 0;}
.coupon-count strong {color: #ee4250;}
.coupon-count .re {font-size: 17px; font-weight: bold; color: #3e3030;}
.coupon-count .re strong {font-size: 23px;}
.coupon-count .total {font-size: 15px; color: #3e3030; margin-top: 10px;}


/* qr contents */
.qr-list-box article {margin-bottom: 20px;}

.qr-list-box ul {background: #fff; padding: 10px 5px 5px; border: 1px solid #ccc;}

.qr-list-box dl {}
.qr-list-box dl dt {display: table; width: 100%;}
.qr-list-box dl dt .l-area,
.qr-list-box dl dt .r-area {display: table-cell; vertical-align: middle;}

.qr-list-box dl dt .l-area {width: 50px;}
.qr-list-box dl dt .l-area span {
	display: table-cell; vertical-align: middle; text-align: center; font-size: 13px; line-height: 16px; font-weight: bold;
	background: #0d70ea; color: #fff; border-radius: 5px; width: 40px; height: 40px;
}
.qr-list-box dl dt .l-area span.label2 {background: #008a24;}
.qr-list-box dl dt .l-area span.label3 {background: #fff; border: 1px solid #767676; color: #767676;}

.qr-list-box dl dt .title {font-size: 14px; font-weight: bold;}
.qr-list-box dl dt .memo {font-size: 13px; margin-top: 5px;}

.qr-list-box dl dd {margin: 0; padding: 0; padding-top: 12px; display: none;}
.qr-list-box dl dd table {width: 100%; padding: 5px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 13px;}
.qr-list-box dl dd table tr.red * {color: #ff0000;}
.qr-list-box dl dd table tr.total * {font-weight: bold !important;}

.qr-list-box dl dd table th {font-weight: normal;}
.qr-list-box dl dd table th,
.qr-list-box dl dd table td {padding: 5px 0;}

.qr-list-box dl dd .info-text * {color: #ff3939;}
.qr-list-box dl dd .info-text h4 {font-size: 13px; font-weight: bold; margin: 10px 0 8px;}
.qr-list-box dl dd .info-text p {font-size: 13px;}

.qr-list-box .detail-btn {
	background: url("../../images/mw/qr/arrow.png") no-repeat left 5px center #ccc;
	background-size: 20px 20px;
	color: #575757; font-size: 13px; font-weight: bold; border: none;
	display: block; width: 100%; line-height: 30px; border-radius: 5px; margin-top: 10px;	
}
.qr-list-box .detail-btn.active {background-image: url("../../images/mw/qr/arrow2.png");}

.qr-list-box .btn-wrap {text-align: center; margin: 10px 0 20px;}
.qr-list-box .use-btn {
	font-size: 13px; font-weight: bold; color: #0d49c3; border: 1px solid #0d49c3; border-radius: 2px;
	min-width: 70px; line-height: 24px; display: inline-block; text-align: center;
}



/* 레이어 팝업 */
.lock-bg {
	position: fixed; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%;
	background: #333; opacity: .7; filter: alpha(opacity=70); z-index: 99;
}

.pop-seller {
	position: fixed; width: 100%; top: 42%; top: calc(50% - 110px); left: 0; padding: 0; margin: 0;
	background: #FFF; color: #000; z-index: 100; display: none; 
}
.pop-seller .btn-close {position:absolute; top:15px; right:18px;}
.pop-seller .btn-close img {width: 15px !important;}
.pop-seller > div {display: table-cell; vertical-align: top;}
.pop-seller div.photo {width: 95px;}
.pop-seller div.photo img {width: 100%;}
.pop-seller div.text {padding-left: 10px;}
.pop-seller div.text h6 {font-size: 15px; font-weight: 700; margin-bottom: 10px; padding-right: 25px;}
.pop-seller div.text .memo {margin-top: 5px;}

.pop-seller > .pw-form {display: block; text-align: center; padding: 30px 10px 20px;}
.pop-seller .pw-form .title {font-size:16px; color: #333; font-weight: 700;}
.pop-seller .pw-form .title img {height: 24px;}
.pop-seller .pw-form .sub_title {font-size:12px; color: #5f5f60; margin-top: 5px;}
.pop-seller .pw-form .pw {margin-top: 15px;}
.pop-seller .pw-form .pw input {line-height: 30px; text-align: center; border: 1px solid #ccc;}
.pop-seller .pw-form .sub_text {margin-top: 5px; font-size: 12px; color: #fe434c;}
.pop-seller .pw-form .button {margin-top: 20px; }
.pop-seller .pw-form .button .btn {
	display: inline-block; font-size: 13px; line-height: 34px; padding: 0; margin-left: 6px; border-radius: 0;
	width: 45%; width: calc(50% - 20px);
}
.pop-seller .pw-form .button .btn:first-child {margin-left: 0;}
.pop-seller .pw-form .button .btn1 {background:#FE434C; border:1px solid #E5252E; color:#FFF;}
.pop-seller .pw-form .button .btn2 {background:#ABABAB; border:1px solid #979797; color:#FFF;}

.pop-seller_addr {top: 42%; top: calc(50% - 80px);}
.pop-seller .pw-form .title-wrap {position: relative; margin-top: -24px; text-align: left;}
.pop-seller .pw-form .info-text {text-align: left;}

.pop-seller .pw-form .addr-form .num {width: 100px;}
.pop-seller .pw-form .addr-form .addr1 {width: 60%;}
.pop-seller .pw-form .addr-form .addr2 {width: 36%; width: calc(40% - 4px);}
.pop-seller .pw-form .addr-form input,
.pop-seller .pw-form .addr-form .btn {margin: 2px 0; line-height: 25px;}

.pop-seller .pw-form .addr-form .btn {display: inline-block; height: 30px; font-size: 13px; background: #a6a2a2; border: none; color: #fff; padding: 0 8px;}
.pop-seller .pw-form .addr-form a.btn {height: auto; line-height: 30px;}
.pop-seller .pw-form .button .btn-close {position: static;}

.pop-seller .info-text .int input {width: 100%; margin: 3px 0; line-height: 25px; padding-left: 5px;}
/* --------------------------------------------------------- //contents ------------------------------------------------------------------ */


















