@charset "utf-8";

/* 항공 */
div.air {}
div.air dl.plan {float:left; width:100%; height:65px; margin-bottom:10px; border-bottom:1px dashed #CCC;}
div.air dl.plan dt {float:left; width:28%; height:55px; padding-top:30px; text-align:center; font-size:12px; color:#000;}
div.air dl.plan dd {position:relative; float:left; width:72%; line-height:25px; padding-left:10px;}
div.air dl.plan dd select {float:left; width:40%;}
div.air dl.plan dd span {float:left; display:inline-block; width:20%; text-align:center;}
div.air dl.plan dd input[type="text"] {clear:both; width:100%; margin-top:5px;}
div.air dl.plan dd p {position:absolute; bottom:1px; right:5px;}
div.air dl.plan1 dt {background:url(../../images/mw/sub_common/air_1.png) no-repeat center 12px #CCC; background-size:15px;}
div.air dl.plan2 dt {background:url(../../images/mw/sub_common/air_2.png) no-repeat center 12px #CCC; background-size:15px;}
div.air .select50 select:first-child {float:left; width:49%;}
div.air .select50 select:last-child {float:right; width:49%;}
div.air .select-right {clear:both; padding:12px 0 5px 0; text-align:right;}
div.air .select-right select {width:45%;}
div.air dl.way dt {padding-bottom:5px; text-align:center; font-size:15px; line-height:20px; color:#000;}
div.air dl.way dd {display:table; margin:0 auto; line-height:13px;}
div.air dl.way dd span {display:table-cell; height:30px; vertical-align:middle; font-size:11px;}
div.air dl.way dd span:first-child {width:22px;}
div.air .list ul li {position:relative; float:left; width:100%; background:#FFF; padding:10px; margin-bottom:2px;}
div.air .list ul li a {display:block; color:#000;}
div.air .list ul li span.img {float:left; width:10%;}
div.air .list ul li span.img img {width:15px;}
div.air .list ul li span.txt {float:right; width:90%;}
div.air .list ul li span.txt strong {font-size:14px; font-weight:bold;}
div.air .list ul li span.txt em.tax {display:block; padding:2px 0; color:#444; }
div.air .list ul li span.txt em.time {line-height:10px; font-weight:bold;}
div.air .list ul li span.price {position:absolute; top:9px; right:10px;}
div.air .list ul li span.price strong {font-size:14px; color:#FE434C;}
div.air .list ul li span.btn-align {position:absolute; bottom:10px; right:10px;}
div.air .result {background:#FFF; color:#000;}
div.air .result p.txt {padding:12px; color:#444;}
div.air .result p.txt em {display:block; padding-top:10px; color:#000;}
div.air .result dl {padding:12px; border-top:1px solid #CCC;}
div.air .result dl dt {height:25px; font-size:14px; color:#FE434C;}
div.air .result dl dd {}
div.air .result dl dd span {display:block;}
/* div.air .result dl dd .info1 {float:left; width:27%; font-size:14px;}
div.air .result dl dd .info2 {float:right; width:73%; text-align:right; font-size:14px;}
div.air .result dl dd .info2 strong {color:#FE434C;}
div.air .result dl dd .info3 {clear:both;}
div.air .result dl dd .info3 {padding-bottom:5px; color:#444;}
div.air .result dl dd .info4 {line-height:22px; font-weight:bold;}
div.air .result dl dd .info4 em {margin-right:15px;} */
div.air .head-count {clear:both; padding:7px 0; color:#000;}
div.air .head-count .select3 strong {float:left; display:block; width:19%; line-height:25px;}
div.air .head-count .select3 select {float:left; width:25%; margin-left:2%;}
div.air .head-count p.head-count-total {clear:both; padding-top:7px; text-align:right;}
div.air .head-count p.head-count-total span {margin:0 2px; color:#CCC;}
div.air .head-count p.head-count-total em {color:#FE434C;}
div.air .amount {clear:both; padding:7px 10px;background:#5C5C5C; color:#FFF; text-align:right;}
div.air .amount p.bold {font-size:13px; line-height:17px;}
div.air .result-txt {clear:both; padding-top:10px; color:#444;}
div.air dl.terms { color:#000;}
div.air dl.terms dt { height:30px; padding-left:12px; line-height:30px; background:url(../../images/mw/sub_common/more_arrow.png) no-repeat 95% center #FFF; background-size:11px 7px; border-bottom:1px solid #CCC; border-right:1px solid #CCC; border-left:1px solid #CCC;}
div.air dl.terms dd {display:none;}
/* div.air .booking-info {padding:10px 12px; background:#FFF; border-top:1px solid #CCC; color:#000;}
div.air .booking-info span {display:block;}
div.air .booking-info .info1 {float:left; width:25%; font-size:14px; font-weight:bold; color:#FE434C;}
div.air .booking-info .info2 {float:left; width:75%; font-size:14px; text-align:right;}
div.air .booking-info .info2 img.airline {margin-left:5px;}
div.air .booking-info .info3 em {margin:0 5px; color:#CCC;} */
#subContent table td dl.name {}
#subContent table td dl.name dt {float:left; width:10%; height:25px; line-height:20px; font-weight:normal;}
#subContent table td dl.name dd {float:left; width:40%; height:25px; line-height:20px;}
#subContent table td dl.name dd input[type="text"] {width:100%;}
#subContent table td dl.name dt:nth-of-type(1) {width:10%;}
#subContent table td dl.name dd:nth-of-type(1) {width:36%;}
#subContent table td dl.name dt:nth-of-type(2) {width:15%; padding-left:5px;}
#subContent table td dl.name dd:nth-of-type(2) {width:39%;}
#subContent table td dl.name dt:nth-of-type(3) {width:15%;}
#subContent table td dl.name dd:nth-of-type(3) {width:31%;}
#subContent table td dl.name dt:nth-of-type(4) {width:23%; height:20px; padding-left:0;}
#subContent table td dl.name dt:nth-of-type(4):before { color:#000; content: "|"; padding-right:5px;}
#subContent table td dl.name dd:nth-of-type(4) {width:31%; height:20px;}
#subContent table td dl.airline dt {float:left; width:15%; line-height:20px; text-align:center;}
#subContent table td dl.airline dd {float:left; width:85%; line-height:20px;}
#subContent table td dl.airline dd input[type="text"] {width:100%; background:#EBEBEB; color:#000;}
#subContent table td.cash {letter-spacing:-0.3px;}
#subContent table td.point input[type="text"] {width:100px; }
#subContent table td.total {background:#5C5C5C; color:#FFF; text-align:right;}
div.air dl.caution-txt {padding:10px; border:1px solid #CCC; background:#FFF;}
div.air dl.caution-txt dt {padding-bottom:5px; font-weight:normal; color:#FE434C;}
div.air p.booking-txt {padding-top:10px; color:#000;}
div.air p.booking-txt.caution {color:#FE434C;}
div.air .payment {padding:10px; background:#FFF; border:1px solid #CCC; color:#000;}
div.air .payment label { margin-right:10px;}
div.air .payment label:nth-of-type(4) {margin-right:0;}






/* --------------------------------------------------------- add ------------------------------------------------------------------ */
/* 항공 검색폼 */
.air .select50 {clear: both; overflow: hidden;}
.air .select30 {margin-top: 5px;}
.air .select30 select {width: 32%; width: calc(33% - 2px);}


/* 항공 조회 */
.comm-label {margin: 0 6px 0 2px; font-size: 13px; vertical-align: middle;}
table #start_region, table #end_region {width: 30%;}
.air table .hasDatepicker {width: 100% !important;}
/* table .date-wrap .datepicker {min-width: 100px;} */
table #start_region, table #end_region {width: 78px;}
table .date-wrap {display: inline-block; width: 60%; width: calc(100% - 83px);}
table .date-wrap .datepicker {width: 100%;}
table .date-wrap img.ui-datepicker-trigger {top: 6px !important;}

table td.gride3 > * {width: 32%; width: calc(33.3% - 3px);}
span.date-wrap {position: relative;}
span.date-wrap img.ui-datepicker-trigger {position: absolute; right: 8px; top: 2px;}

#subContent .btn-list {text-align: center; padding: 10px 0; border: 1px solid #ccc; border-top: none;}


/* 검색결과 */
table.air-line {font-size: 12px;}
table.air-line th.title1 {width: 22%;}
table.air-line th.title2 {width: 23%;}
table.air-line th.title3 {width: 18%;}
table.air-line th.title4 {width: 18%;}
table.air-line th.title5 {}
table.air-line td {text-align: center;}

.air-result {overflow: hidden;}
.air-result h5.date {color: #fff;}
.air-result h5.date img {margin-right: 5px;}
.air-result h5.date span {color: #f1fa01; margin-left: 15px;}
.air-result .loading {padding: 10px; background: #fff; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.air-result .loading ul li {display: inline-block; margin-right: 8px; line-height: 20px;}
.air-result .loading ul li img {height: 13px;}
.air-result .loading ul li img.load {height: 8px; margin-left: 3px;}
.air-result .list-wrap {height: 300px; overflow-y: auto; border-bottom: 1px solid #e4e4e4; background: #fff; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}

/* 2016-06-21 제주닷컴 추가에 따른 수정 */
.air-result .loading article {display: table; width: 100%; margin-top: 8px;}
.air-result .loading article:first-child {margin-top: 0;}
.air-result .loading .l-area,
.air-result .loading .r-area {display: table-cell; vertical-align: top;}
.air-result .loading .l-area {width: 65px; border-right: 1px solid #e1e3e4; font-size: 12px;}
.air-result .loading .r-area {padding-left : 8px;}
.air-result .loading .r-area ul li {margin-right: 4px;}

#subContent h2 {height: auto; line-height: normal; padding: 8px 12px;}
#subContent h2 .subText {font-size: 12px; color: #fe434c; display: block; margin-top: 8px; line-height: 18px;}

.side-wrap {position: relative;}
.side-wrap .side-group {position: absolute; right: 5px; top: 5px;}


/* 2016-06-28 항공권 메뉴 고정 */
.air .air-result .list-wrap {position: relative; overflow: hidden;}
.air .air-result .list-wrap table thead {display: block;}
.air .air-result .list-wrap table thead tr {display: table; width: 100%; border-spacing: 0; border-collapse: collapse;}
.air .air-result .list-wrap table tbody {display: block; height: 263px; overflow: auto;}
.air .air-result .list-wrap table tbody tr {display: table; width: 100%; border-spacing: 0; border-collapse: collapse; margin-top: -1px;}
.air .air-result .air-line thead th:nth-child(1) {width: 22%;}
.air .air-result .air-line thead th:nth-child(2) {width: 23%;}
.air .air-result .air-line thead th:nth-child(3) {width: 18%;}
.air .air-result .air-line thead th:nth-child(4) {width: 18%;}
.air .air-result .air-line thead th:nth-child(5) {width: auto;}
.air .air-result .air-line tbody td:nth-child(1) {width: 22%;}
.air .air-result .air-line tbody td:nth-child(2) {width: 23%;}
.air .air-result .air-line tbody td:nth-child(3) {width: 18%;}
.air .air-result .air-line tbody td:nth-child(4) {width: 18%;}
.air .air-result .air-line tbody td:nth-child(5) {width: auto;}
/* .air .air-result .list-wrap {height: 300px; padding-top: 36px; position: relative; overflow: hidden;}
.air .air-result .list-wrap .table-scroll {height: 264px; overflow-y: auto; overflow-x: hidden;}
.air .air-result .list-wrap table thead tr {position: absolute; left: 0; top: 0; display: table; width: 100%; z-index: 999; border-spacing: 0; border-collapse: collapse; table-layout: fixed;}
table.air-line th.title1 {width: 22%;}
table.air-line th.title2 {width: 23%;}
table.air-line th.title3 {width: 18%;}
table.air-line th.title4 {width: 18%;}
table.air-line th.title5 {width: auto;}
.air .air-result .air-line thead th:nth-child(1) {width: 22%;}
.air .air-result .air-line thead th:nth-child(2) {width: 23%;}
.air .air-result .air-line thead th:nth-child(3) {width: 18%;}
.air .air-result .air-line thead th:nth-child(4) {width: 18%;}
.air .air-result .air-line thead th:nth-child(5) {width: auto;}
.air .air-result .air-line tbody td:nth-child(1) {width: 22%;}
.air .air-result .air-line tbody td:nth-child(2) {width: 23%;}
.air .air-result .air-line tbody td:nth-child(3) {width: 18%;}
.air .air-result .air-line tbody td:nth-child(4) {width: 18%;}
.air .air-result .air-line tbody td:nth-child(5) {width: auto;} */


.air-result .air-line th {cursor: pointer; padding: 10px 0px !important;}
.air-result .air-line th a.up {display: none;}
.air-result .air-line th a.up img,
.air-result .air-line th a.down img {width: 8px;}
.air-result .air-line th.headerSortUp {background: #e0e0e0 !important;}
.air-result .air-line th.headerSortDown {background: #e0e0e0 !important;}
.air-result .air-line th.headerSortDown a.down {display: none;}
.air-result .air-line th.headerSortDown a.up {display: inline-block;}
.air-result .air-line th.headerSortUp a.down {display: inline-block;}
.air-result .air-line th.headerSortUp a.up {display: none;}
.air-result .air-line td {padding: 4px 0 !important;}
.air-result .air-line td p {font-size: 12px;}
.air-result .air-line td p img {display: inline-block;}
.air-result .air-line td p.ci img {height: 15px;}
.air-result .air-line td p.name {font-size: 11px; margin-top: 4px; color: #999999;}
.air-result .air-line td p.emph {font-size: 11px; color: #999999;}
.air-result .air-line td.time p {line-height: 18px;}
.air-result .air-line td p.sTime {color: #333333; font-weight: 700;}
.air-result .air-line td p.seat {color: #333333; font-weight: 700;}
.air-result .air-line td p.money {color: #333333; font-weight: 700;}
.air-result .air-line td .sale {color: #ee0711; font-weight: 700;}
.air-result .air-line tr.no {height: 250px; vertical-align: middle;}
.air-result .air-line tr.no td {border-bottom: none; font-size: 13px;}
.air-result .air-line .condition {color: #ff6600;}
.air-result .air-line .condition label {display: block; font-size: 11px; padding-top: 4px;}
.air-result #goWrap tr.active td {background: #dde3ed;}
.air-result #comeWrap tr.active td {background: #e4dcfc;}
.air-result .air-rule {padding: 15px;}
.air-result .air-rule .title {margin-bottom: 10px;}
.air-result .air-rule p {font-size: 0.750em; line-height: 18px;}
.air-result .air-rule ul.commList1 li {font-size: 0.750em;}
.air-result tr.disabled td * {
	opacity: 0.5; /* For IE8 and earlier */
}
.air-result tr.disabled:hover {cursor: not-allowed;}



/* 항공사 리스트 */
ul.air-trip {background: #fff; padding: 15px; margin-top: 8px; border: 1px solid #ccc;}
ul.air-trip .air-title {font-size: 14px; font-weight: 400; position: relative;}
ul.air-trip .air-title img {width: 52px; margin-right: 14px;}
ul.air-trip .air-title span {position: absolute; right: 0;}
ul.air-trip .air-title span a {display: inline-block; background: #FE434C; color: #fff; border: 1px solid #E5252E; min-width: 50px; text-align: center; line-height: 25px; border-radius: 2px; padding: 0 4px;}
ul.air-trip .air-title span a.cancel {background: #707070; border: none;}


/* 선택하신 여정 */
div.air .jour-price {margin-top: 8px; font-size: 12px;}
div.air .jour-price td {text-align: center;}
div.air .booking-wrap {border: 1px solid #ccc; border-top: none;}
div.air .booking-info {padding:10px 12px; background:#FFF; border-top:1px solid #CCC; color:#000;}
div.air .booking-info span {display: block;}
div.air .booking-info .info1 {width:25%; font-size:14px; font-weight:bold; color:#FE434C;}
div.air .booking-info .info2 {width:75%; font-size:14px; margin-top: 5px; margin-bottom: 3px; font-weight: 700;}
div.air .booking-info .info2 img.airline {margin-left:5px; height: 13px; position: relative; top: -1px;}
div.air .booking-info .info3 {line-height: 18px;}
div.air .tb-info {text-align: right; font-size: 11px; margin-top: 5px;}

/* 여정 합계 */
.total-wrap {background: #fff; border: 1px solid #ccc; border-top: none; padding: 10px; text-align: right; font-size: 15px;}
.total-wrap .total-price strong {color: #FE434C;}
.total-wrap p.info4 {
    font-size: 1.25em; color: #FE434C; text-align: center; margin-top: 5px;
    font-family: 'NotoSans', sans-serif; font-weight: 700;
}
.total-wrap p.info4 span {font-size: 16px; color: #FE434C;}
.total-wrap p.info4 span.plus {font-size: 12px; color: #5c5d5f;}
.total-wrap p.info5 {font-size: 11px; text-align: center; margin: 4px 0 5px 0; color: #fe434c;}


/* 주의사항 공통사용 가능 */
article.comm-infoWrap {margin-top: 8px;}
article.comm-infoWrap:first-child {margin-top: 0;}
article.comm-infoWrap > h3 {border: 1px solid #ccc; border-bottom: none; font-size: 14px; padding-left: 10px; line-height: 30px; font-weight: bold; color: #000;}
.comm-infoText {background: #fff; border: 1px solid #ccc; padding: 10px;}
.comm-infoText li {margin-top: 8px; line-height: 18px; font-size: 12px; background: url("../../images/mw/list/list1.gif") no-repeat left 8px; padding-left: 8px}
.comm-infoText li:first-child {margin-top: 0;}
.comm-infoText .point {color: #FE434C;}



/* 2016-06-21 추가 tooltip (툴팁) */
.air .tooltip-btn {position: relative; text-align: center;}
.air .tooltip-btn.side {display: inline-block; margin-left: 5px;}

.air .tooltip-btn span {
	display: inline-block; background: #4c95fb; color: #fff; border-radius: 3px;
	font-size: 9px; padding: 3px 2px; margin-top: 2px; line-height: 12px; word-spacing: 0px; letter-spacing: -2px;
}




/* 2016-07-14 검색전 멘트 추가 */
.air-result .list-wrap {position: relative}
.air-result .list-wrap .no-item {position: absolute; left: 28%; left: calc(50% - 115px); top: 160px; font-size: 13px;}



