@charset "utf-8";

/* 상품 페이지 공통 css */

#subContent .form1 {float:left; width:100%; padding-bottom:5px;}

#subContent .count {clear:both; padding:10px 0 5px 0; text-align:right; color:#FE434C; font-weight:bold;}
/*
#subContent .goods-list {position:relative;float:left; width:100%; margin-bottom:2px; background:#FFF;}
#subContent .goods-list .goods-image {position:relative; border:1px solid #CCC}
#subContent .goods-list .goods-image .tag {z-index:100; position:absolute; top:0; left:0; width:65px; height:52px; padding-top:10px; background:url(../../images/mw/sub_common/label_1.png) no-repeat; background-size:65px 52px; font-size:12px; text-align:center; color:#FFF;}
#subContent .goods-list {position:relative; float:left; width:100%; margin-bottom:3px; background:#FFF;}
#subContent .goods-list .goods-image {position:relative; border:1px solid #CCC;}
#subContent .goods-list .goods-image ul li img {width:100%;}
#subContent .goods-list .goods-image .btn-prev {position:absolute; top:50%; left:10px; margin-top:-12px;}
#subContent .goods-list .goods-image .btn-next {position:absolute; top:50%; right:10px; margin-top:-12px;}
#subContent .goods-list .goods-image .like {position:absolute; bottom:10px; right:10px;}
#subContent .goods-list .goods-image .like em {display:inline-block; width:21px; height:13px; padding-left:5px; line-height:13px; background:url(../../images/mw/sub_common/h_e.png) no-repeat; background-size:21px 13px; font-size:10px; color:#000;}
#subContent .goods-list .info {position:relative; border-right:1px solid #CCC; border-bottom:1px solid #CCC; border-left:1px solid #CCC;}
#subContent .goods-list .info a {display:block; padding:10px;}
#subContent .goods-list .info a .txt strong {font-size:15px; color:#000;}
#subContent .goods-list .info a .txt em {display:inline-block; padding:5px 0 10px 0; color:#444;}
#subContent .goods-list .info a .txt .blue {padding:0; color:#0D6CD6; font-weight:bold;}
#subContent .goods-list .info a .price {position:absolute; bottom:10px; right:10px; text-align:right; font-size:18px; color:#000; line-height:20px;}
#subContent .goods-list .info a .price em {font-weight:bold; font-size:20px; color:#FE434C;}
#subContent .goods-list .info a .price del {font-size:12px; color:#666;}
#subContent .goods-list .btn-prev {z-index:100; position:absolute; top:50%; left:10px; margin-top:-12px;}
#subContent .goods-list .btn-next {z-index:100; position:absolute; top:50%; right:10px; margin-top:-12px;}
*/
#subContent .tag1 {z-index:100; position:absolute; top:0; left:0; width:65px; height:52px; padding-top:10px; background:url(../../images/mw/sub_common/label_1.png) no-repeat; background-size:65px 52px; font-size:12px; text-align:center; color:#FFF;}
#subContent .tag2 {z-index:100; position:absolute; top:0; left:0; width:57px; height:52px; padding-top:30px; background:url(../../images/mw/sub_common/label_2.png) no-repeat; background-size:57px 52px; font-size:12px; text-align:center; color:#FFF;}
#subContent .tag3 {z-index:100; position:absolute; top:0; left:0; width:65px; height:52px; padding:4px 10px 0 10px; background:url(../../images/mw/sub_common/label_3.png) no-repeat; background-size:65px 52px; font-size:12px; text-align:center; color:#FFF;}
#subContent .tag4 {z-index:100; position:absolute; top:10px; left:10px; width:46px; height:46px; padding:9px 10px 0 10px; background:url(../../images/mw/sub_common/label_4.png) no-repeat; background-size:46px 46px; font-size:12px; text-align:center; color:#000;}

#subContent .check-coupon {float:left; padding:5px 0; color:#000; font-size:14px; line-height:25px;}
#subContent .sort {float:right; padding:5px 0; color:#666; text-align:right; font-size:14px; line-height:25px;}
#subContent .sort select {width:150px;}

#subContent .view-img {position:relative; min-height: 190px; z-index: 1;}
#subContent .view-img ul > li.full-image{display: block;}
#subContent li.view-img-over {overflow: hidden; z-index: 100;}


#subContent .view-img .tag {position:absolute; top:0; left:0; width:65px; height:52px; padding-top:10px; background:url(../../images/mw/sub_common/label_1.png) no-repeat; background-size:65px 52px; font-size:12px; text-align:center; color:#FFF;}
#subContent .view-img ul img {width:100%;}
#subContent .view-img .like {position:absolute; bottom:10px; right:10px;}
#subContent .view-img .like em {display:inline-block; width:21px; height:13px; padding-left:5px; line-height:13px; background:url(../../images/mw/sub_common/h_e.png) no-repeat; background-size:21px 13px; font-size:10px; color:#000;}
#subContent .view-img .sns {position:absolute; bottom:10px; left:10px;}
#subContent .view-img .sns img {width: 29px;}
#subContent .view-img .btn-prev {position:absolute; top:50%; left:10px; margin-top:-12px;}
#subContent .view-img .btn-next {position:absolute; top:50%; right:10px; margin-top:-12px;}

#subContent .view-info {position:relative; clear:both; padding:15px 15px 15px 20px; background-color: #fff; margin-bottom: 10px;}
#subContent .view-info > p {margin: 0; line-height: 18px;}

#subContent .view-info strong {font-size:1.6rem; color:#333333; font-family: "NotoSans"; font-weight: 600; margin-bottom: 7px;}


#subContent .view-info em {font-size:0.97rem; line-height: 1.125rem; color: #666666; font-family: NotoSans L; font-weight: 600; margin-bottom: 7px;}
#subContent .view-info .txt {color:#000; padding-bottom:10px;}
#subContent .view-info .tit {float:left;}
#subContent .view-info .price {float:right;}
#subContent .view-info .price strong {color:#FE434C;}
#subContent .view-info .ex {clear:both;}
#subContent .view-info .sell {padding-bottom:0px; color:#444;}
#subContent .view-info .sell strong {color:#0D6CD6; font-size:12px; font-weight:normal;}
#subContent .view-info .sell em {color:#000; padding:0;}

#subContent dl.view-select {clear: both; width:100%; margin-top:10px;}
#subContent dl.view-select dt {height:30px; line-height:30px; padding-left:10px; background:#FE434C; color:#FFF; font-size:14px; font-weight:normal;}
#subContent dl.view-select dd {width:100%; background:#FFF;}
/*#subContent dl.view-select dd.in {border:1px solid #CCC;}*/
#subContent dl.view-select dd.in.coupon {text-align:right; width:99.7%;}
#subContent dl.view-select dd.in.coupon a {
	min-width: 80px;
	border-radius: 7px; background:#e33347; text-align:center;
	font-size: 0.77rem; height:33px; line-height: 33px; display: block; margin: 5px 0px; position: relative; bottom: 0px;
}
/* ------------------------------------------ 할인쿠폰보관함 btn---------------------------------------*/

.sale-couponWrap2 .coupon_all a.view-seller{
	min-width: 65px;
	border-radius: 7px; background:#e33347; text-align:center;
	font-size: 0.75rem; height:33px; line-height: 33px; display: block; color: #fff; font-family: "NotoSans L";
	position: relative;
}

.sale-couponWrap2 .coupon_all .coupon-all-line{border-bottom: 1px solid #ccc;}

#subContent dl.view-select dd.in.coupon .view-seller{color: #fff; font-family: "NotoSans L"}
#subContent dl.view-select dd.in.coupon .view-app{background: #fff; border: 1px solid #353435;}
#subContent dl.view-select dd.in.coupon .coupon-save-btn{display: inline-block; position: relative; bottom: 92px; right: 15px;}
#subContent dl.view-select dd.in.coupon .coupon-page-btn{position: relative; bottom: 91px;}
#subContent dl.view-select dd.in.coupon .coupon-save-dual{position: relative; bottom: 10px;}


#subContent dl.view-select dd.in.coupon img {width:100%;}
#subContent dl.view-select dd.in label:last-child {margin-bottom:0;}
#subContent dl.view-select dd.in label.not {color:#AAA;}
#subContent dl.view-select dd label {display:table; width:100%; line-height:14px;}
#subContent dl.view-select dd label span {display:table-cell; vertical-align:top; line-height: 18px;}
#subContent dl.view-select dd label span:first-child {width:20px; padding-right:5px;}
#subContent dl.view-select dd label span .pr_info {color: #999; margin-left: 4px;}
#subContent dl.view-select dd ul.type-select {float:left; width:100%; border-left:1px solid #CCC; border-right:1px solid #CCC; border-bottom:1px solid #CCC;}
#subContent dl.view-select dd ul.type-select li {float:left; padding-left:5px; padding:5px 0 3px 0;}
#subContent dl.view-select dd ul.type-select li:first-child {width:74%; padding:5px 10px 3px 10px; letter-spacing:-0.6px; border-right:1px solid #CCC;}
#subContent dl.view-select dd ul.type-select li:last-child {width:26%; text-align:center; color:#FE434C;}
#subContent dl.view-select dd ul.type-select label {}
#subContent dl.view-select dd ul.type-image {clear:both; border-bottom:1px solid #CCC;}
#subContent dl.view-select dd ul.type-image img {width:100%;}
#subContent dl.view-select dd strong.cal {display:block; height:30px; line-height:30px; font-weight:normal; background:#606060; font-size:12px; color:#FFF; text-align:center;}
#subContent dl.view-select dd strong.cal img {margin:0 15px;}

#subContent dl.view-select .form1-4 .pop-view {display: block; margin-top: 8px;}
#subContent dl.view-select .form1-4 .pop-view img {width: 100%;}

table.cal {width: 100%; table-layout:fixed; padding-top: 8px; background-color: #fff}
table.cal th {height:25px; padding:0; border:0 none; background:none; text-align:center;}
table.cal td {height:35px !important; padding: 4px 0; border:0 none; text-align:center; vertical-align:top; line-height: 22px;}
table.cal td a {display:block; height:35px; color:#000; border: 1px solid #fff;}
table.cal td em {display:inline-block; width:29px; height:17px; line-height:15px; text-align:center; position: relative; bottom: 5px; color: #818181;}
/*table.cal td.today a {border: 1px solid #e8202e; border-radius: 50px 50px 50px 50px; box-sizing: border-box;}*/
table.cal td.today em {color:#FE434C;}
/*table.cal td.on em {background:url(../../images/mw/sub_common/ca_b1.png) no-repeat; background-size:29px 17px; color:#FFF;}*/
/*table.cal td.off em {color:#444;}*/
/*table.cal td.no em {background:url(../../images/mw/sub_common/ca_b3.png) no-repeat; background-size:29px 17px; color:#FFF;}*/

#subContent .select-info {margin-top:2px;}
#subContent .select-info strong {display:block; padding-bottom:10px; font-weight:normal; font-weight:bold;}
#subContent .select-info .txt {font-size: 12px; line-height: 20px;}

#subContent div.select-del {float:left; width:100%; border:1px solid #CCC; color:#000;}
#subContent div.select-del p {position:relative; display:table; width:100%; padding:10px 0; border-bottom:1px solid #CCC;}
#subContent div.select-del p:last-child {border-bottom:0 none;}
#subContent div.select-del span {display:table-cell; vertical-align:middle;}
#subContent div.select-del span:first-child {width:70%; padding-left:15px;}
#subContent div.select-del span:first-child em {font-size:10px;}
#subContent div.select-del a {position:absolute; top:50%; right: 12px; margin-top:-9px;}
#subContent div.select-del a img {height: 14px;}

#subContent dl.view-select dd.select-del {float:left; width:100%; padding:5px 0; background:#F1F1F1; color:#000; border-left:1px solid #CCC; border-bottom:1px solid #CCC; border-right:1px solid #CCC;}
#subContent dd.select-del p {position:relative; display:table; width:100%; padding:5px 10px; border-top:1px solid #CCC;}
#subContent dd.select-del p:first-child {border-top:0 none;}
#subContent dd.select-del span {display:table-cell; vertical-align:middle;}
#subContent dd.select-del span.txt {padding-right:10px;}
#subContent dd.select-del span.count {width:90px;}
#subContent dd.select-del span.count input {float:left; width:40px; height:20px; margin-left:-1px; line-height:20px; padding:0; text-align:center;}
#subContent dd.select-del span.count a {float:left; display:block; width:20px; height:20px; line-height:16px; background:#F1F1F1; border:1px solid #CCC; text-align:center;}
#subContent dd.select-del span.count .plus {margin-left:-1px;}
#subContent dd.select-del span.price {width:25%; padding-right:15px; line-height:20px; font-weight:normal; text-align:right;}
#subContent dd.select-del a.btn-close {position:absolute; top:50%; right:10px; margin-top:-9px;}

#subContent div.select-del2 {float:left; width:100%; padding:5px 0; background:#F1F1F1; color:#000; border-left:1px solid #CCC; border-bottom:1px solid #CCC; border-right:1px solid #CCC;}
#subContent div.select-del2 p {position:relative; display:table; width:100%; padding:5px 10px; border-top:1px solid #CCC;}
#subContent div.select-del2 p:first-child {border-top:0 none;}
#subContent div.select-del2 span {display:table-cell; vertical-align:middle;}
#subContent div.select-del2 span.txt {padding-right:10px;}
#subContent div.select-del2 span.count {width:90px;}
#subContent div.select-del2 span.count input {float:left; width:40px; height:20px; margin-left:-1px; line-height:20px; padding:0; text-align:center;}
#subContent div.select-del2 span.count a {float:left; display:block; width:20px; height:20px; line-height:16px; background:#F1F1F1; border:1px solid #CCC; text-align:center;}
#subContent div.select-del2 span.count .plus {margin-left:-1px;}
#subContent div.select-del2 span.price {width:25%; padding-right:15px; line-height:20px; font-weight:normal; text-align:right;}
#subContent div.select-del2 a.btn-close {position:absolute; top:50%; right:10px; margin-top:-9px;}


#subContent .view-btn {margin-top: 5px;}
#subContent .view-btn .price {padding-bottom:12px; color:#000; font-size:14px; text-align:right;}
#subContent .view-btn .price em {color:#FE434C;}
#subContent .view-btn .btn-add {float:left;}
#subContent .view-btn .btn-cart {text-align: right;}

/*
.pop-seller {display:none; z-index:100; position:absolute; top:50%; left:0; padding:15px; margin:-50px 10px 0 0; background:#FFF; color:#000;}
.pop-seller .btn-close {position:absolute; top:15px; right:25px;}
.pop-seller p {padding-bottom:10px;}
.pop-seller p.img {float:left; margin-right:10px;}
.pop-seller p strong {font-size:15px;}
.pop-seller p:last-child {padding-bottom:0;}
*/



/* 상품상세 하단*/
#subContent .view-bottom .view-tab {display:table; border-collapse:collapse; border-spacing:0; width:100%; margin-top:10px; background:#fff; border-bottom:1px solid #fff;}
#subContent .view-bottom .view-tab a {display:table-cell; height:40px; border-right:none; text-align:center; vertical-align:middle; color:#a2a2a2;}
#subContent .view-bottom .view-tab a.active {
	color: #e8202e;
	border-bottom: 2px solid #e8202e;
}
#subContent .view-bottom .con-info p,
#subContent .view-bottom .con-info div.memo {/*padding:0 0 10px 0;*/ margin: 8px 0;}
#subContent .view-bottom .con-cancel p {padding:0 0 10px 0;}
#subContent .view-bottom .con-condition p {padding:0 0 20px 0;}
/*
#subContent .view-bottom .review-form dl {padding-bottom:10px;}
#subContent .view-bottom .review-form dl dt {font-weight:normal;}
#subContent .view-bottom .review-form ul {float:left; width:100%;padding-bottom:5px;}
#subContent .view-bottom .review-form ul li:first-child {float:left; width:60%;}
#subContent .view-bottom .review-form ul li input[type="text"] {width:100%;}
#subContent .view-bottom .review-form ul li:last-child {float:left; width:40%; height:25px; line-height:25px; border-top:1px solid #CCC; border-bottom:1px solid #CCC;  border-right:1px solid #CCC; text-align:center;}
#subContent .view-bottom .review-list {float:left; width:100%; background:#FFF; margin-bottom:2px; }
#subContent .view-bottom .review-list > dl {float:left; width:100%; padding:15px; border-top:1px solid #CCC;}
#subContent .view-bottom .review-list > dl > dt {width:100%; }
#subContent .view-bottom .review-list > dl > dt strong {float:left; width:70%;}
#subContent .view-bottom .review-list > dl > dt span.like {float:right; width:30%; text-align:right; font-weight:normal;}
#subContent .view-bottom .review-list > dl > dt em {clear:both; font-weight:normal;}
#subContent .view-bottom .review-list > dl > dd {color:#444; clear: both;}
#subContent .view-bottom .review-list > dl > dd .btn-reply {font-size:12px;}
#subContent .view-bottom .review-list > dl > dd dl dt {padding:7px 0;}
#subContent .view-bottom .review-list > dl > dd dl dd em {font-weight:normal;}
*/
#subContent .view-bottom .counsel-form dl {padding-bottom:10px;}
#subContent .view-bottom .counsel-form dl dt {font-weight:normal;}
#subContent .view-bottom .counsel-list {float:left; width:100%; margin-bottom:2px;}
#subContent .view-bottom .counsel-list dl {float:left; width:100%; padding:15px; border-top:1px solid #CCC; background:#FFF;}
#subContent .view-bottom .counsel-list dl dt {float:left; width:100%; font-weight:normal;}
#subContent .view-bottom .counsel-list dl dt em {display:block; width:20px; height:20px; line-height:20px; background:#5D5D5D; border-radius:10px; color:#FFF; font-size:14px; font-weight:bold; text-align:center;}
/*
#subContent .view-bottom .counsel-list dl dt span:first-child {float:left; width:10%;}
#subContent .view-bottom .counsel-list dl dt span:last-child {float:right; width:90%;}
*/
#subContent .view-bottom .counsel-list dl dd {float:left; width:100%; padding-top:5px; border-top:1px solid #FFF;}
#subContent .view-bottom .counsel-list dl dd em {display:block; width:20px; height:20px; line-height:20px; background:#FD434E; border-radius:10px; color:#FFF; font-size:14px; font-weight:bold; text-align:center;}
/*
#subContent .view-bottom .counsel-list dl dd span:first-child {float:left; width:10%;}
#subContent .view-bottom .counsel-list dl dd span:last-child {float:right; width:90%;}
#subContent .view-bottom .counsel-list dl dd span:last-child strong {display:block; padding-bottom:5px; color:#000; font-weight:normal;}
*/




/* PAGER */
/*
#subContent .goods-slide {margin-bottom:40px;}

.bx-wrapper .bx-controls {position:absolute; bottom:-22px; left:0; width:100%; text-align:center;}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager,
.bx-wrapper .bx-controls-auto {display:inline-block;}
.bx-wrapper .bx-pager.bx-default-pager a {
	background:#5E5E5E;
	border:1px solid #5E5E5E;
	text-indent: -9999px;
	display: block;
	width: 12px;
	height: 12px;
	margin: 0 2px;
	border-radius:6px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background:#EDEDED;
	border-radius:6px;
}*/



/* --------------------------------------------------------- add ------------------------------------------------------------------ */
#subContent div.select-del span:first-child code {font-size: 11px;}
#subContent div.select-del span.price {text-align: right; padding-right: 11px;}

#subContent div.select-del5 {clear: both; border:1px solid #CCC; color:#000; padding: 15px;}
#subContent div.select-del5 .date {font-size: 12px;}
.date #info_sDt, .date #info_sTm, .date #info_eDt, .date #info_eTm {font-weight: 700; color: #218ECB;}

#subContent div.select-del5 .time {font-size: 12px; margin: 3px 0 6px; color: #FE434C;}
#subContent div.select-del5 .price {font-size: 11px;}
#subContent div.select-del5 .insurance {color: #FE434C;}


/* 달력아이콘 벗어나는 오류에 따른 추가 */
#subContent .form1 span {position: relative; display: inline-block; vertical-align: middle;}


/* 이용후기 */
/*
.view-bottom .review-list .memo-wrap {clear: both; margin-top: 10px;}
.view-bottom .review-list .like img {width: 10px;}
.view-bottom .review-list .top {overflow: hidden;}
.view-bottom .review-list .bottom {position: relative;}
.view-bottom .user {clear: both; margin-top: 10px;}
.view-bottom .user span {font-weight: 400;}
.view-bottom .user .date {margin-left: 5px;}
.view-bottom .editBT {clear: both; margin-top: 10px; text-align: right;}
.view-bottom .review-list .edit a.btn-reply {width: 65px !important;}
.view-bottom a.btn-reply {height: 26px !important; line-height: 26px !important; background: #F2F0F1; color: #444 !important; font-weight: 700 !important;}
.view-bottom .review-list .comment-wrap {margin-top: 10px;}
.view-bottom .review-list .comment-wrap li {border-top: 1px solid #ccc; padding: 8px 0;}
.view-bottom .review-list .comment-user {padding-left: 15px; background: url("../../images/mw/sub_common/comment.png") no-repeat left 2px; background-size: 9px 9px;}
.view-bottom .review-list .comment-user .comment-date {margin-left: 5px;}
.view-bottom .review-list .comment-memo {padding-left: 15px; margin-top: 5px;}
.view-bottom .review-list .comment-write {text-align: center; margin-top: 5px; border-top: 1px solid #ccc; padding-top: 10px;}
.view-bottom .review-list .int-write {margin-top: 10px;}
.view-bottom .title-int {margin-bottom: 5px; width: 100%;}
*/


/* 1대1 문의 */
.view-bottom .counsel-list .area {display: table; width: 100%;}
.view-bottom .counsel-list .area > div {display: table-cell;}
.view-bottom .counsel-list .area > .icon {width: 30px;}
.view-bottom .counsel-list .area .text .title {margin: 5px 0; font-weight: 700;}



/* 숙박 소아ㆍ유아 접수불가에 따른 수정 */
.hotel span.not {display: inline-block; line-height: 23px; padding: 0 5px; border: 1px solid #ccc; color: #999} /* 숙박상세 */



/* iPhone 6 Plus / Font Size */
@media screen and (min-width: 360px) and (max-width: 415px){
	#subContent .view-info em{font-size: 0.87rem;}
	#subContent dl.view-select dd.in.coupon a{min-width: 90px; font-size: 0.80rem; top: 12px; margin: 7px 0;}
	#subContent .view-info strong{font-size: 1.16rem;}
	#subContent .view-info .tit{margin-bottom: 4px;}
	#subContent dl.view-select dd.in.coupon .coupon-save-btn{bottom: 110px;}
}


/* iPhone 6 Plus / Font Size */
@media screen and (min-width: 415px) {

	#subContent dl.view-select dd.in.coupon a{min-width: 115px; height: 40px; line-height: 40px; font-size: 0.95rem; margin: 7px 0px; top: 0px;}
	#subContent .view-info{padding: 20px 15px 20px 20px;}
	#subContent .view-info strong{font-size: 1.3rem;}
	#subContent .view-info .tit{margin-bottom: 7px;}
	#subContent dl.view-select dd.in.coupon .coupon-save-btn{bottom: 109px;}


}

