@charset "utf-8";

@import url(sub_goods.css);

/* 골프 */
/*#subContent .form1 select {float:left; width:49%; margin-right:2%; line-height:20px;}*/
#subContent .form1 select:last-child {margin-right:0;}
#subContent .form1-2 span:first-child {position:relative; display:block; float:left; width:49%; margin-right:2%;}
#subContent .form1-2 span:first-child input {width:100%;}
/*#subContent .form1-2 span:first-child img {position:absolute; top:5px; right:10px;}*/
#subContent .form1-2 span:last-child {line-height:20px;}
/*#subContent .form1-2 span:last-child select {float:right; width:40%; margin-right:0;}*/
#subContent .form1-3 {padding-bottom:0;}
#subContent .form1-3 input {width:100%;}
#subContent .form1-4 input {float:left; width:25%}
#subContent .form1-4 select {width:23%; margin:0 0 0 2%;}

#subContent .goods-list .goods-pop {z-index:101; position:absolute; top:0; left:0; background:rgba(0,0,0,0.6); width:100%; height:100%;}
#subContent .goods-list .goods-pop ul {float:left; width:80%; margin:20px 10% 0 10%; padding:10px 20px 15px 20px; background:#444; border-radius:2px; color:#FFF;}
#subContent .goods-list .goods-pop ul li {float:left; width:100%; line-height:27px; border-bottom:1px solid #666; font-size:12px;}
#subContent .goods-list .goods-pop ul li span {display:block; float:left; width:33%;}
#subContent .goods-list .goods-pop ul li a {width:30%; line-height:17px;}



/* --------------------------------------------------------- add ------------------------------------------------------------------ */
/* golf1 메인 검색폼 */
.form1 .date {width: 61%; width: calc(100% - 105px);}
.form1 #sFromDtView {width: 100%;}
.form1 #sNights {width: 101px;}
.form1 #sGlAdar {width: 100%;}


/* 날짜, 인원, 시간선택 폼 */
.golf .select-info .area {margin-top: 5px;}
.golf .select-info .area:first-child {margin-top: 0;}
.golf .select-info .area * {display: inline-block; vertical-align: middle;}
.golf .select-info .area input, .golf .select-info .area select {height: 30px !important;}
.golf .select-info .area label {font-weight: 700 !important; margin-right: 5px; line-height: 30px;}
.golf .select-info .area input.date {width: 90px;}
.golf .select-info .area select.person {width: 90px;}
.golf .select-info .area select.half {width: 90px;}
.golf .select-info .area select.hour {width: 132px;}