@charset "utf-8";

@import url(sub_goods.css);


/* 렌터카 */
#subContent .form1 select {float:left; width:49%; margin-right:2%; line-height:20px;}
#subContent .form1 select:last-child {margin-right:0;}
#subContent .form1 label {font-weight:bold !important;}
#subContent .form1-2 label {font-weight:bold !important;}
#subContent .form1-2 span {position:relative; display:block; float:left; width:49%; margin-right:2%;}
#subContent .form1-2 span input {width:100%; font-weight:normal;}
/*#subContent .form1-2 span img {position:absolute; top:5px; right:10px;}*/

#subContent .form1 .warning {color: #fe434c;}


#subContent dl.view-select dd {float:left; width:100%; padding:10px 15px; background:#FFF;}

/* 차량상세추가 */
.pop-info {display:none; z-index:100; position:fixed; top:60%; left:0; width:100%; margin:-230px 10px 0 0; background:#EEE; color:#000; font-size:13px;}
.pop-info .btn-close {position:absolute; top:10px; right:10px;}
.pop-info .tit {height:40px; line-height:40px; padding:0 0 0 10px; margin-bottom:10px; font-size:15px; color:#000; background:#FFF; border-bottom:1px solid #CCC;}
.pop-info ul.pop-tab {float:left; width:100%; padding:0 10px;}
.pop-info ul.pop-tab li {float:left; width:50%; border:1px solid #CCC;}
.pop-info ul.pop-tab li:last-child {border-left:0 none;}
.pop-info ul.pop-tab li a {display:block; height:25px; line-height:25px; text-align:center; background:#FFF; font-size:14px; font-weight:bold; color:#000;}
.pop-info ul.pop-tab li a.active {background:#929292; color:#FFF;}
.pop-info p {padding:5px 10px; line-height:18px;}
.pop-info .txt-box {clear:both; margin:10px; background:#FFF; border:1px solid #CCC; font-size:12px;}
.pop-info .bt-none {border-top:0 none;}
.pop-info .scroll-wrap {min-height: 200px; max-height: 300px; overflow-y: auto;}




/* --------------------------------------------------------- add ------------------------------------------------------------------ */
#subContent .rent .con-box {/*text-align: center;*/}
#subContent .rent .view-btn .price {/*text-align: center;*/}
#subContent .rent .view-btn .btn-cart {float: none; text-align: right; margin-top: 10px;}
#subContent .rent .view-btn .warning {color: #FE434C; font-size: 13px; text-align: center; margin-top: 8px; border-top: 1px solid #e1e3e4; padding: 10px 0; background: #f2f2f2;}


/* 검색폼 */
.form1 .check-list span {display: inline-block; margin-right: 8px;}
.form1 .check-list input[type="checkbox"],
.form1 .check-list label {display: inline-block; vertical-align: middle; margin: 0; padding: 4px 0;}




/* 차량인수정보 */
.view-bottom .col2-area .memo .map-area {border: 1px solid #e1e3e4;}
.view-bottom .col2-area .l-area .memo .map-area img {width: 100%;}
.view-bottom .col2-area .r-area .memo .map-area {min-height: 200px;}
.view-bottom .col2-area .memo .text-area {margin-top: 8px;}
.view-bottom .col2-area .memo .text-area dl dt {font-size: 13px; font-weight: bold; text-align: left; margin-bottom: 4px;}
.view-bottom .col2-area .memo .table-row > tbody > tr > th {font-size: 13px; padding: 8px;}
.view-bottom .col2-area .memo .table-row > tbody > tr > td {font-size: 13px; line-height: 20px !important; padding: 8px 10px;}


