#header .m-sv.head-wrap {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    transition: top 0.2s ease-in-out;
    z-index: 9999;
}
.title-wrap {transition: margin-top 1s cubic-bezier(0.86, 0, 0.07, 1);}
#header .m-sv.head-wrap.nav-up {
    top: -3.78rem;
}
.svbody #main {margin-top: 60px;}


/* GNB */
#hotel-sub #main {
    min-height: 0;
    margin-top: 0px;
}
.navigation {
    position: relative;
    width: 100%;
    padding-bottom: 0.1rem;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 0 #e6e6e6;
}
.navigation .category-bar {
    display: flex;
    max-width: 56.8rem;
    height: 1.3rem;
    padding: 0.9rem 1.8rem;
    margin: 0 auto;
    color: #1a1a1a;
    font-size: 0.95rem;
    align-items: center;
    justify-content: space-between;
}
.navigation_tab {
    height: 3.3rem;
    line-height: 3.8rem;
    transition: left .5s ease-in-out;
}
.navigation_tab.active-tab {border-bottom: 3px solid #e8202e;}
.navigation_tab.active-tab > a {
    position: relative;
    top: 1px;
    color: #DE1724;
}
.navigation_tab .navigation_title {
    display: block;
    height: 2rem;
}

.mw-list-area .according {padding: 9px 0 0 15px;}
.mw-list-area .social-list-area.add-according {position: relative; top: 43px;}
.mw-list-area {margin-top: 62px;}
.mw-list-area .main-photo {
    position: relative;
    display: block;
    width: 100%;
    width: 46vw;
    height: 46vw;
    height: 46vw;
    margin-top: 16px;
    line-height: 45vw;
    overflow: hidden;
    border-radius: 8px;
    background: #f2f2f2;
}
.sv-list .main-text {
    display: inline-block;
    padding: 0 2px;
}
.mw-list-area .according {padding: 9px 0 0 15px;}
.sv-list {margin-top: 25px;}
.sv-List .according .sv-list {margin-top: 0;}
.sv-List .according .sv-list .con-header {
    display: inline;
    height: 52px;
}
.sv-List .according .sv-list .con-header .con-title {display: inline;}
.sv-list .main-photo img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.mw-list-area. according .sv-list .con-header {
    display: inline;
    height: 52px;
}
.mw-list-area .according .sv-list .con-header .con-title {display: inline;}
.sv-List .according {padding: 9px 0 0 15px;}
.sv-list {margin-top: 20px;}
.sv-list .main-photo {
    position: relative;
    display: block;
    width: 100%;
    width: 46vw;
    height: 46vw;
    margin-top: 16px;
    line-height: 45vw;
    overflow: hidden;
    border-radius: 8px;
    background: #f2f2f2;
}
.sv-list .j-info{width: 140px;}
.sv-List .according .sv-list .con-header {
    display: inline;
    height: 52px;
}
.sv-List .according .sv-list .con-header .con-title {display: inline;}
.sv-list .main-photo img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.sv-list .main-text {
    display: inline-block;
    padding: 0 2px;
}


/* tab */
.menu-typeB {
    position: relative;
    background-color: #f5f5f5;
}
.scroll-menuB {
    height: 48px;
    transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    will-change: height;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
}
.scroll-menuB ul {
    padding: 8px 0 10px;
}
.scroll-menuB ul li {
    display: inline-block;
    /*vertical-align: top;*/
    padding: 0 12px;
}
.scroll-menuB ul li:first-child {
    padding-left: 15px;
}
.scroll-menuB ul li a.on {
    color: #fff;
    padding: 0 14px;
    background-color: #222;
}
.scroll-menuB ul li a {
    display: block;
    height: 32px;
    line-height: 30px;
    color: #222;
    font-size: 14px;
    text-align: center;
    border-radius: 15px;
}
.scroll-menuB .scroll-top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    text-align: right;
}
.scroll-menuB:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    width: 30px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(245, 245, 245, 0), #f5f5f5 66%);
}

/* label */
.sv-list .main-photo .bxLabel {
    position: absolute;
    bottom: 6px;
    left: 7px;
}
.sv-list .main-photo .main_label {
    position: relative;
    left: 0;
    z-index: 20;
    display: block;
    width: auto;
    height: 16px;
    padding: 0 3px;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 16px;
}
.sv-list .bxLabel .main_label {
    float: left;
    position: relative;
    margin: 1px 0 1px 1px;
    border-radius: 3px;
    font-size: .88rem;
    letter-spacing: -.9px;
}
.main_label.pink {
    border: 1px solid #f4093e;
    color: #f43142;
    background-color: #fff;
}
.main_label.eventblue {
    border: 1px solid rgba(100, 35, 255);
    color: #6423ff;
    background-color: #fff;
}
.main_label.back-purple {
    border: 1px solid #6423ff;
    background-color: #6423ff;
    color: #fff;
}
.main_label.back-red {
    border: 1px solid #de1724;
    background-color: #de1724;
    color: #fff;
}
.main_label.yellow {
    border: 1px solid #ffcc00;
    color: #000;
    background-color: #ffcc00;
}


/* 탐나는전 check */
.sv-List .pay-check {float: right;}
.sv-List .pay-check input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sv-List .pay-check input[type="checkbox"] + label {
    margin: 15px 0 0 0;
    padding-left: 30px;
    line-height: 41px;
}
.sv-List .pay-check input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding-left: 34px;
    width: 85px;
    height: 30px;
    border-radius: 40px 0 0 40px;
    background-color: #f7d633;
    cursor: pointer;
}
.sv-List .pay-check input[type="checkbox"]:checked + label:before {
    width: 18px;
    height: 18px;
    top: 5px;
    left: 9px;
    line-height: 18px;
}
.sv-List .pay-check input[type="checkbox"]:checked + label:before {
    content: "\2714";
    color: #000;
    font-size: 1.7rem;
}
.pay-check input[type="checkbox"] + label:before {
    top: -2px;
    width: 21px;
    height: 21px;
    line-height: 18px;
}
.sv-List .pay-check input[type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 18px;
    height: 18px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    line-height: 15px;
    text-align: center;
}


/* 탐나는전 (mw-list-area) */
.mw-list-area .pay-check {float: right;}
.mw-list-area .pay-check input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.mw-list-area .pay-check input[type="checkbox"] + label {
    margin: 21px 0 0 0;
    padding-left: 30px;
    line-height: 41px;
    z-index: 1;
}
.mw-list-area .pay-check input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding-left: 34px;
    width: 85px;
    height: 30px;
    border-radius: 40px 0 0 40px;
    background-color: #f7d633;
    cursor: pointer;
}
.mw-list-area .pay-check input[type="checkbox"]:checked + label:before {
    width: 18px;
    height: 18px;
    top: 5px;
    left: 9px;
    line-height: 18px;
}
.mw-list-area .pay-check input[type="checkbox"]:checked + label:before {
    content: "\2714";
    color: #000;
    font-size: 1.7rem;
}
.mw-list-area .pay-check input[type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 18px;
    height: 18px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    line-height: 15px;
    text-align: center;
}
.mw-list-area .pay-check img {position: relative; top: 0; width: 81px;}

/* 특산·기념품 서브페이지 coding */
/* key-visual */
.sv-panels-new .main-list {
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    background: #fff;
}
.sv-panels-new .swiper-container {border-radius: 15px;}
.sv-panels-new .main-top-slider ul li img {
    display: block;
    width: 100%;
}


/* 카테고리 메뉴 */
.category-menu {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 20px;
    background-color: #fff;
}
.category-menu img {
    height: 25px;
    margin: 5px 0;
}
nav.sv_scroll-menu {
    position: relative;
    height: 40px;
    border: none;
    background: #fff;
}
nav.sv_scroll-menu .category-menu ul{
    display: table;
    padding-left: 5px;
    margin: 0 auto;
    line-height: 40px;
    white-space: nowrap;
}
nav.sv_scroll-menu .category-menu ul li {
    display: inline-block;
    height: 62px;
    padding: 0 15px;
    vertical-align: middle;
}
nav.sv_scroll-menu .category-menu ul li a {
    display: block;
    margin: 0 auto;
    color: #222;
    font-size: .85rem;
    text-align: center;
    line-height: 12px;
}


/* promotion/best */
.sv-List .according .sv-list .con-header .con-title span {font-family: "Notosans";}


/* line-banner */
.line-banner {
    border-radius: 12px;
    margin: 35px 10px 0 10px;
    height: 14px;
    padding: 14px 0 16px;
    font-weight: bold;
    text-align: left;
}
.line-banner.brand-new img.sv-pic {
    position: relative;
    bottom: 3px;
    height: 15px;
    padding-left: 17px;
}
.line-banner.brand-new {
    color: #fff;
    background-color: #e8202e;
}
.line-banner.brand-new em {
    position: relative;
    bottom: 6px;
}
.line-banner em {
    padding-left: 10px;
    font-size: 0.8rem;
    font-weight: normal;
}
.line-banner.brand-new img.sv-icon {
    float: right;
    position: relative;
    bottom: 7px;
    height: 36px;
    padding-right: 17px;
}



/* theme product */
.theme-product_wrap {
    width: 100%;
    margin-top: 25px;
}
.theme-product_wrap .theme-con-title,
.theme-product_wrap .con-sub-title {
    padding-left: 15px;
}
.theme-product_wrap .theme-con-title {
    color: #000;
    display: inline-block;
    font-size: 18px;
    font-family: "Notosans";
    letter-spacing: -0.8px;
}
.con-header .con-sub-title {
    color: #757575;
    font-size: 1.3rem;
    letter-spacing: -0.5px
}


/* theme_scroll-menu */
nav.theme_scroll-menu {
    position: relative;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    background: #fff;
}
nav.theme_scroll-menu .category-menu {
    height: 43px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
nav.theme_scroll-menu .category-menu ul {
    display: table;
    padding-left: 5px;
    margin: 0 auto;
    line-height: 0;
    white-space: nowrap;
}
nav.theme_scroll-menu .category-menu ul.list-tag li a.active {color: #de1724;}
nav.theme_scroll-menu .category-menu ul li.prd-tab {
    display: inline-block;
    padding: 3px 5px;
    vertical-align: middle;
}
nav.theme_scroll-menu .category-menu ul li.prd-tab a {
    display: block;
    padding: 6px 8px 3px 8px;
    margin: 0 auto;
    border-radius: 5px;
    color: #000;
    font-size: 0.9rem;
    text-align: center;
    line-height: 12px;
}


/* keyword_thumb ornament */
.ornament li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.7rem;
}
.ornament li:after {
    display: block;
    clear: both;
    content: "";
}
.ornament li a {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0.34rem 0.34rem 0.68rem rgb(0 0 0 / 8%);
    background: #fff;
    text-align: left;
}
.ornament li a .social-photo {
    overflow: hidden;
    float: left;
    position: relative;
    flex-shrink: 0;
    width: 29vw;
    height: 29vw;
    padding-top: 0;
    margin-right: 1.5rem;
    background: #fff;
}
.ornament li a .social-photo > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ornament li a .social-photo:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.02);
    content: "";
}
.ornament li a .text {
    position: relative;
    width: 100%;
    text-align: left;
    letter-spacing: -0.5px;
}
.ornament li a .text .prd_name {
    overflow: hidden;
    width: 150px;
    color: #757575;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ornament li a .text .price {
    margin-top: 5px;
    font-size: 0.95rem;
    font-weight: bold;
}
.ornament li a .text .price strong {font-family: "Notosans B";}
.ornament li a .text .price > del {
    position: relative;
    top: 1px;
    margin: 5px 0 0 2px;
    color: #757575;
    font-size: 1rem;
    font-family: "Roboto";
    letter-spacing: -1.3px;
    font-family: "Roboto";
    font-weight: normal;
}
.ornament li a .text .title {
    overflow: hidden;
    width: 160px;
    font-size: 1.3rem;
    font-weight: bold;
    temap-view-areaxt-overflow: ellipsis;
    white-space: nowrap;
}
.ornament li a .social-photo .bxLabel {
    position: absolute;
    bottom: 5px;
    left: 7px;
}
.ornament li a .social-photo .bxLabel .main_label {
    z-index: 20;
    float: left;
    position: relative;
    left: 0;
    display: block;
    width: auto;
    height: 16px;
    line-height: 16px;
    margin: 1px 1px 0 0;
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: -1.5px;
}


/* 브랜드관 */
.brand-wrap .con-header {
    display: inline-block;
    height: 35px;
    padding-left: 15px;
    margin-top: 28px;
    color: #171717;
    font-size: 18px;
    font-family: "Notosans";
    letter-spacing: -0.8px;
}
.brand-wrap .con-header span {margin-left: 4px;}
.brand-wrap .con-header img {
    position: relative;
    top: 1px;
    width: 90px;
}
.brand-wrap .con-header span:after {
    overflow: hidden;
    position: absolute;
    top: 2%;
    left: 180px;
    width: 32px;
    height: 27px;
    margin-top: -9px;
    background: url("../../images/mw/from/banner/brand_hit.png") no-repeat;
    background-size: 26px;
    content: "";
}
.pagination-brand-tab {
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}



/* main-hit-brand */
.main-hit-brand {
    display: flex;
    justify-content: space-between;
    padding: 17px 10px 20px;
}
.index-item__wrap {
    display: inline-block;
    flex: 0 0 48%;
    width: 60%;
    -webkit-box-flex : 0;
}
.production-item-image {
    overflow: hidden;
    height: 123px;
    border-radius: 8px;
}
.production-item-image > img {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    min-width: 100%;
    transform: translate(-50%,-50%);
    transition: transform .2s;
}
.production-item-content {
    display: inline-block;
    padding: 2px 6px 2px;
    margin: 15px 0 5px 0;
    font-size: 0.5rem;
    font-weight: 700;
    border-radius: 3px;
    color: #fff;
    background-color: #de1724;
}
.item-header {
    overflow: hidden;
    display: -webkit-box;
    width: 110px;
    height: auto;
    margin-top: 2px;
    color: #000;
    font-family: "Notosans B";
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.4rem;
    line-height: 17px;
    letter-spacing: -0.5px
}
.item_article {
    overflow: hidden;
    display: -webkit-box;
    width: 127px;
    height: auto;
    margin-top: 7px;
    color: #757575;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.1rem;
    line-height: 17px;
}
.view-more {
    position: absolute;
    margin-top: 5px;
    color: #757575;
}
.view-more:after {
    overflow: hidden;
    position: absolute;
    top: 1px;
    left: 0;
    width: 39px;
    height: 18px;
    margin-left: 31px;
    background: url("../../images/mw/from/banner/arrow.png") no-repeat;
    background-size: 12px;
    line-height: 999px;
    vertical-align: top;
    content: "";
}

/* swiper-pagination-brand */
.swiper-pagination-brand {
    margin: -5px 0 -27px -6px;
    border: none;
    padding: 6px 15px 15px;
    overflow: hidden;
}
.swiper-pagination-bullet {
    display: initial;
    padding: 6px 6px;
    vertical-align: middle;
    font-size: 12px;
    color: #999999;
    opacity: 1;
    font-size: 0.85rem;
    background-color: #f5f6f6;
    font-family: "Notosans";
}
.swiper-pagination-brand span {
    display: inline-table;
    padding: 0 7px;
    margin: 5px 0 0 5px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: normal;
    text-align: center;
    line-height: 33px;
    word-break: break-all;
    letter-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.swiper-pagination-bullet-active {
    background-color: #a3c569;
    color: #fff;
}


/* index-item__goods */
.index-item__goods {
    flex: 1 0 0px;
    margin-left: 5px;
}
.index-item__goods .prd_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-hit-brand ul.prd_list {
    position: relative;
    width: 100%;
}
.main-hit-brand ul.prd_list li:nth-child(2n) {margin-right: 0;}
.main-hit-brand ul.prd_list .goods-list-thumb{
    display: inline-block;
    width: 46%;
    margin-left: 5px;
    overflow: hidden;
}
.main-hit-brand ul.prd_list .goods-list-thumb .thumb {
    overflow: hidden;
    display: block;
    height: 68px;
    border-radius: 8px;
    background-color: #f7f7f7;
}
ul.prd_list .goods-list-thumb .thumb > img {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    min-width: 100%;
    transform: translate(-50%,-50%);
    transition: transform .2s;
}
.goods-list-thumb .j-title {
    overflow: hidden;
    display: -webkit-box;
    height: auto;
    margin: 5px 0 0 0;
    color: #757575;
    line-height: 18px;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.goods-list-thumb .main-price {
    font-weight: bold;
    line-height: 22px;
}
.list__item-tab .tab-content.current {display: inherit;}


/* page_box */
.page_box {
    margin: 8px 0 10px;
    text-align: center;
    font-size: 0;
}
.button-prev,
.button-next {
    display: inline-block;
    padding: 8px;
}
.button-prev:before {
    content: "";
    border-top: 2px solid #8e8e8e;
    border-right: 2px solid #8e8e8e;
    transform: rotate(225deg);
}
.button-next:before {
    border-top: 2px solid #8e8e8e;
    border-right: 2px solid #8e8e8e;
    transform: rotate(45deg);
    content: "";
}
.button-prev:before,
.button-next:before {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
}
.fraction_pagination {
    position: relative;
    display: inline-block;
    min-width: 80px;
    padding: 5px 15px 5px 0;
    color: #b2b8be;
    font-size: 1.3rem;
    line-height: 16px;
    vertical-align: top;
    box-sizing: border-box;
}
.fraction_pagination .current {
    position: relative;
    display: inline-block;
    min-width: 45px;
    padding-right: 3px;
    color: #454c53;
}
.fraction_pagination .current:after {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background: #dadde0;
    content: "";
}


/* --------------------------------------------------------- responsive media query ---------------------------------------------------------- */
/* Phone Mini (iPhone 4, 5, 5s, SE) / Font Size */
@media screen and (min-width: 320px) and (max-width: 360px) {

    .sv-list .main-photo {
        width: 45vw;
        height: 45vw;
        line-height: 45vw;
    }
    .sv-list .j-info {
        width: 150px;
        height: 17px;
        line-height: 15px;
        font-size: 1.43rem;
    }
    .sv-list .j-title {
        width: 150px;
        height: 18px;
        font-size: 1.67rem;
        letter-spacing: -.6px;
    }
    .sv-list .main-price {
        font-size: 1.8rem;
        margin-top: 5px;
    }

    .sv-List .pay-check input[type="checkbox"] + label {margin: 14px 0 0 0;}
    .mw-list-area .pay-check input[type="checkbox"] + label {margin: 22px 0 0 0;}


    /* index-item__goods */
    .goods-list-thumb .j-title {font-size: 1.3rem;}

}
/* iPhone 6, 7 / Font Size */
@media screen and (min-width: 360px) and (max-width: 415px){

    .sv-list .j-info {
        width: 170px;
        height: 18px;
        font-size: 0.8rem;
    }
    .sv-list .j-title {
        width: 175px;
        height: 23px;
        font-size: .94rem;
    }
    .sv-list .main-price {margin-top: 5px; font-size: 0.95rem;}

    /* label */
    .sv-list .bxLabel .main_label {
        right: 1px;
        padding: 0 4px;
        margin: 2px 1px 0 0;
        font-size: .6rem;
    }

    .sv-List .pay-check input[type="checkbox"] + label {width: 94px; height: 35px; padding-left: 45px; margin: 14px 0 0 0; line-height: 42px;}
    .sv-List .pay-check input[type="checkbox"] + label:before {width: 21px; height:21px; top: 6px; left: 15px;}
    .sv-List .pay-check input[type="checkbox"]:checked + label:before {top: 6px; left: 15px; width: 21px; height: 21px; line-height: 18px; font-size: 1.2rem;}
    .mw-list-area .pay-check input[type="checkbox"] + label {top: 2px; width: 94px; height: 35px; padding-left: 45px; margin: 22px 0 0 0; line-height: 42px;}
    .mw-list-area .pay-check input[type="checkbox"] + label:before {width: 21px; height:21px; top: 6px; left: 15px;}
    .mw-list-area .pay-check input[type="checkbox"]:checked + label:before {top: 6px; left: 15px; width: 21px; height: 21px; line-height: 18px; font-size: 1.2rem;}
    .mw-list-area .social-list-area.add-according {top: 15px;}


    /* GNB */
    .navigation .category-bar {height: 0.8rem; padding: 1.2rem 0.8rem;}
    .navigation_tab {height: 3.3rem; line-height: 3.8rem;}
    .navigation_tab .navigation_title {height: 1rem;}

    /* 카테고리 메뉴 */
    .category-menu {padding-left: 0;}
    nav.sv_scroll-menu .category-menu ul li {height: 100px;}
    nav.sv_scroll-menu .category-menu ul li a {font-size: .95rem; line-height: 18px;}
    .category-menu img {height: 35px; margin: 10px 0;}
    .category-menu img.coffee {height: 40px;}
    .category-menu img.souvenir {height: 40px;}

    /* promotion/best */
    .sv-List {margin-top: 70px;}

    /* theme-product */
    .theme-product_wrap {margin-top: 46px;}
    .theme-product_wrap .theme-con-title {font-size: 21px;}
    .con-header .con-sub-title {margin-top: 3px; font-size: 0.8rem;}
    nav.theme_scroll-menu {margin: 10px 0 16px;}
    nav.theme_scroll-menu {height: 45px;}
    nav.theme_scroll-menu .category-menu ul li.prd-tab a {padding: 12px 5px 12px 5px; border-radius: 10px; font-size: 0.9rem;}

    /* keyword_thumb ornament */
    .ornament  {margin-top: 25px;}
    .ornament li {margin-bottom: 0.85rem}
    .ornament li a {border-radius: 8px;}
    .ornament li a .social-photo {width: 30vw; height: 30vw; margin-right: 1rem;}
    .ornament li a .text .price {font-size: 0.95rem;}
    .ornament li a .text .title {width: 207px; font-size: 0.9rem;}
    .ornament li a .text .prd_name {width: 207px; font-size: 0.8rem;}
    .ornament li a .text .price > del {font-size: .8rem; letter-spacing: -1.2px; margin-right: 5px;}
    .ornament li a .social-photo .bxLabel .main_label {font-size: .6rem;}
    .bxLabel .main_label {margin: 0 2px;}

    /* 브랜드관 */
    .brand-wrap {margin-top: 25px;}
    .brand-wrap .con-header span:after {left: 208px; margin-top: -12px; background-size: 32px;}
    .brand-wrap .con-header img {width: 105px;}
    .brand-wrap .con-header {height: 40px; font-size: 21px;}
    nav.theme_scroll-menu .category-menu ul li.brand-tab {padding: 8px 10px;}
    nav.theme_scroll-menu .category-menu ul li.brand-tab p {font-size: 0.9rem;}
    .main-hit-brand {padding: 24px 12px 20px 13px;}
    .main-hit-brand ul.prd_list .goods-list-thumb {width: 46%; height: 190px;}
    .main-hit-brand ul.prd_list .goods-list-thumb .thumb {height: 86px; border-radius: 8px;}
    .swiper-pagination-brand {margin: 3px 0 -22px -6px;}
    .swiper-pagination-brand span {margin: 6px 0 0 6px; font-size: 0.8rem; line-height: 33px;}

    /* index-item__wrap */
    .goods-list-thumb .main-price {font-size: 0.9rem; line-height: 41px;}
    .production-item-image {height: 161px;}
    .production-item-content {margin: 17px 0 5px 5px; font-size: 0.73rem; font-weight: normal;}
    .item-header {width: 173px; margin: 5px 5px 0; font-size: 1.1rem; line-height: 23px;}
    .item_article {width: 170px; margin: 5px 5px 0; font-size: 0.9rem; line-height: 19px;}
    .view-more {font-size: 0.8rem; margin: 15px 6px 0;}
    .view-more:after {top: 3px; height: 23px; margin-left: 40px; background-size: 15px;}
    .goods-list-thumb .j-title {font-size: 0.85rem;}

    /* page_box */
    .fraction_pagination {min-width: 77px; font-size: 0.95rem;}

}



/* iPhone 6 Plus / Font Size */
@media screen and (min-width: 415px) {

    .List-area {

    }
    /*.sv-list {height: auto; padding: 18px 0 19px 17px;}*/
    .sv-list .main-photo {
        width: 47vw;
        height: 47vw;
        line-height: 47vw;
    }
    .sv-list .con-title {
        font-size: 1.33rem;
        padding: 0 5px 0 0;
    }
    .sv-list .j-info {
        width: 194px;
        height: 18px;
        line-height: 18px;
        font-size: .88rem;
        margin-top: 11px;
    }
    .sv-list .j-title {
        width: auto;
        height: 28px;
        font-size: 1.13rem;
    }
    .sv-list .main-price {
        font-size: 1.1rem;
        margin-top: 2px;
    }
    .line-banner em {font-size: 0.8rem;}


    /* label */
    .sv-list .bxLabel .main_label {font-size: .7rem;}
    .sv-List .pay-check img {position: relative; top: 2px; left: 20px;}
    .sv-List .pay-check input[type="checkbox"] + label {width: 116px; height: 40px; margin: 11px 0 0 0; line-height: 42px;}
    .sv-List .pay-check input[type="checkbox"] + label:before {width: 25px; height: 25px; top: 6px; left: 18px;}
    .sv-List .pay-check input[type="checkbox"]:checked + label:before {top: 6px; left: 18px; width: 25px; height: 25px; font-size: 1.3rem; line-height: 22px;}

    .mw-list-area .bxLabel .main_label {font-size: .7rem;}
    .mw-list-area .pay-check img {top: 3px; left: 17px; width: 91px;}
    .mw-list-area .pay-check input[type="checkbox"] + label {top: 8px; width: 116px; height: 40px; margin: 16px 0 0 0; line-height: 42px;}
    .mw-list-area .pay-check input[type="checkbox"] + label:before {width: 25px; height: 25px; top: 6px; left: 18px;}
    .mw-list-area .pay-check input[type="checkbox"]:checked + label:before {top: 6px; left: 18px; width: 25px; height: 25px; font-size: 1.3rem; line-height: 22px;}
    .mw-list-area .social-list-area.add-according {top: 13px;}


    /* GNB */
    .navigation .category-bar {height: 0.8rem; padding: 1.2rem 0.8rem;}
    .navigation_tab {height: 3.3rem; line-height: 3.8rem;}
    .navigation_tab .navigation_title {height: 1rem;}

    /* 카테고리 메뉴 */
    .category-menu {padding-left: 10px; margin-top: 15px;}
    nav.sv_scroll-menu .category-menu ul li {height: 100px;}
    nav.sv_scroll-menu .category-menu ul li a {font-size: .95rem; line-height: 18px;}
    .category-menu img {height: 35px; margin: 10px 0;}

    /* promotion/best */
    .sv-List {margin-top: 80px;}

    /* line-banner */
    .line-banner {margin: 30px 10px -16px 10px;}

    /* theme-product */
    .theme-product_wrap {margin-top: 38px;}
    .theme-product_wrap .theme-con-title {font-size: 21px;}
    .con-header .con-sub-title {margin-top: 3px; font-size: 0.95rem;}
    nav.theme_scroll-menu {margin: 16px 0;}
    nav.theme_scroll-menu {height: 40px;}
    nav.theme_scroll-menu .category-menu {height: 47px;}
    nav.theme_scroll-menu .category-menu ul li.prd-tab a {padding: 12px 5px 12px 5px; border-radius: 10px; font-size: 1rem;}

    /* keyword_thumb ornament */
    .ornament  {margin-top: 41px;}
    .ornament li {margin-bottom: 1.5rem}
    .ornament li a {border-radius: 0.5rem;}
    .ornament li a .social-photo {width: 32vw; height: 32vw;}
    .ornament li a .text .price {font-size: 1.1rem;}
    .ornament li a .text .title {width: 220px; font-size: 1.0rem;}
    .ornament li a .text .prd_name {width: 220px; font-size: 0.8rem;}
    .ornament li a .social-photo .bxLabel .main_label {font-size: .7rem;}
    .bxLabel .main_label {margin: 0 2px;}

    /* 브랜드관 */
    .brand-wrap {margin-top: 35px;}
    .brand-wrap .con-header span:after {left: 208px; margin-top: -12px; background-size: 32px;}
    .brand-wrap .con-header img {width: 105px;}
    .brand-wrap .con-header {height: 40px; font-size: 21px;}
    nav.theme_scroll-menu .category-menu ul li.brand-tab {padding: 8px 10px;}
    nav.theme_scroll-menu .category-menu ul li.brand-tab p {font-size: 0.9rem;}
    .main-hit-brand {padding: 24px 12px 20px 13px;}
    .main-hit-brand ul.prd_list .goods-list-thumb {width: 46%; height: 198px;}
    .main-hit-brand ul.prd_list .goods-list-thumb .thumb {height: 92px; border-radius: 7px;}
    .swiper-pagination-brand span {margin: 6px 0 0 6px; font-size: 0.8rem; line-height: 38px;}

    /* index-item__wrap */
    .goods-list-thumb .main-price {font-size: 1.0rem; line-height: 41px;}
    .production-item-image {height: 161px;}
    .production-item-content {margin: 21px 0 5px 0; font-size: 0.8rem; font-weight: normal;}
    .item-header {width: 177px; margin-top: 5px; font-size: 1.25rem; line-height: 26px;}
    .item_article {width: 170px; margin-top: 13px; font-size: 0.95rem; line-height: 19px;}
    .view-more {font-size: 0.95rem; margin-top: 18px;}
    .view-more:after {top: 2px; height: 23px; margin-left: 47px; background-size: 19px;}
    .goods-list-thumb .j-title {font-size: 0.95rem;}

    /* page_box */
    .fraction_pagination {min-width: 77px; font-size: 0.95rem;}

}

@media screen and (min-width: 720px){

    .sv-list .main-photo {
        width: 31vw;
        height: 31vw;
        line-height: 31vw;
    }


    /* line-banner */
    .line-banner {margin: 60px 10px 0 10px;}
    /* label */
    .sv-list .bxLabel .main_label {padding: 0 4px; margin: 2px; font-size: 0.83rem; text-align: center;}

    /* 카테고리메뉴 */
    .category-menu img {height: 46px;}
    nav.sv_scroll-menu .category-menu ul li {height: 109px; padding: 0 26px;}

    /* promotion/best */
    .sv-List {margin-top: 80px;}

    /* theme-product */
    .keyword_thumb {margin-top: 63px;}
    .theme-product_wrap .theme-con-title {font-size: 22px;}
    .con-header .con-sub-title {margin-top: 2px; font-size: 1rem;}
    nav.theme_scroll-menu {margin: 13px 0;}
    nav.theme_scroll-menu .category-menu {padding-top: 12px;}
    nav.theme_scroll-menu .category-menu ul li.prd-tab a {font-size: 1.1rem;}

    /* keyword_thumb ornament */
    .ornament li a .text .prd_name {width: 400px; font-size: 1rem;}
    .ornament li a .text .title {width: 400px; font-size: 1.2rem; margin-bottom: 6px;}
    .ornament li a .text .price {font-size: 1.3rem;}
    .ornament li a .text .price > del {margin: 5px 0 0 4px; font-size: 1.1rem;}
    .ornament li a .social-photo {width: 32vw; height: 32vw;}

    /* 브랜드관 */
    .main-hit-brand {padding: 28px 20px 20px;}
    .brand-wrap .con-header {font-size: 22px;}
    nav.theme_scroll-menu .category-menu ul li.brand-tab {padding: 8px 15px;}
    nav.theme_scroll-menu .category-menu ul li.brand-tab p {font-size: 1rem;}
    .main-hit-brand ul.prd_list .goods-list-thumb .thumb {height: 166px;}

    /* pagination-brand-tab */
    .swiper-pagination-brand {margin: 0 0 0 -6px; padding: 12px 15px 4px;}
    .swiper-pagination-brand span {padding: 0 12px; margin: 8px 0 0 8px; font-size: 1rem; line-height: 49px;}

    /* index-item__wrap */
    .goods-list-thumb .main-price {font-size: 1.3rem;}
    .index-item__goods {margin-left: 15px;}
    .production-item-image {height: 288px;}
    .production-item-content {margin: 20px 0 5px 0; font-size: 1rem;}
    .item-header {width: 317px; margin-top: 8px; font-size: 1.5rem; line-height: 31px;}
    .item_article {width: 317px; margin-top:16px; font-size: 1.1rem; line-height: 23px;}
    .view-more {margin-top: 41px; font-size: 1.1rem;}
    .view-more:after {margin-left: 57px; background-size: 22px;}

    /* page_box */
    .page_box {margin: 32px 0 10px;}
    .fraction_pagination {min-width: 93px; padding: 5px 37px 5px 0; font-size: 1.1rem;}
    .fraction_pagination .current {min-width: 83px;}
    .fraction_pagination .current:after {right: 17px;}

}
@media screen and (min-width: 1024px){
    /* line-banner */
    .line-banner {margin: 70px 10px 10px 10px;}
    /* index-item__wrap */
    .main-hit-brand ul.prd_list .goods-list-thumb .thumb {height: 238px;}
    .production-item-image {height: 371px;}
    /* keyword_thumb ornament */
    .main-hit-brand ul.prd_list .goods-list-thumb {height: 336px;}
    /* page_box */
    .page_box {margin: 60px 0 10px;}
}